Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

test: tests.R - improve floating point tolerance calculation
  tests/tests.R
Due: none

floating point tolerance
  tests/tests.R
Due: none

[tests] fix
  tests/tests.R
Due: none

test: tests.R tolerance reduction
  tests/tests.R
Due: none

summarise -> summarize
  src/1_gathering/db/foodb/standardizing.R
  src/1_gathering/translation/tcm.R
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation

refactor(db/foodb): standardize summarise function calls
  src/1_gathering/db/foodb/standardizing.R
  src/1_gathering/translation/tcm.R
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation

ifelse -> if_else
  src/2_curating/3_integrating.R
  src/3_analyzing/2_validating.R
  src/3_analyzing/frozen2pubchem_tree.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

refactor(2_curating/3_integrating): simplify conditional statements using dplyr::if_else
  src/2_curating/3_integrating.R
  src/3_analyzing/2_validating.R
  src/3_analyzing/frozen2pubchem_tree.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

up
  tests/expectations/organisms.tsv
  tests/expectations/references.tsv
  tests/expectations/structures.tsv
Due: none

docs: update taxon references to conform to new schema
  tests/expectations/organisms.tsv
  tests/expectations/references.tsv
  tests/expectations/structures.tsv
Due: none

optimize Docker image
  Dockerfile
Due: build-docker, test-docker

refactor(dockerfile): optimize Docker image build process
  Dockerfile
Due: build-docker, test-docker

Create LICENSE
  LICENSE
Due: none

feat(build.gradle.kts): update kotlin jvm plugin version to v2.1.21
  LICENSE
Due: none

up
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

refactor(build.gradle.kts): improve kotlin version and jvm target configuration
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

up
  config.mk
  environment.yml
  environment_visualizing_non_conda.sh
  gradle/wrapper/gradle-wrapper.properties
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradle/wrapper/gradle-wrapper.properties
  tests/expectations/organisms.tsv
  tests/expectations/references.tsv
  tests/expectations/structures.tsv
  tests/expectations/validated.tsv
Due: build-docker, test-docker, build-tests, test-tests

feat(build): update gradle versions and dependencies to improve stability and compatibility
  config.mk
  environment.yml
  environment_visualizing_non_conda.sh
  gradle/wrapper/gradle-wrapper.properties
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradle/wrapper/gradle-wrapper.properties
  tests/expectations/organisms.tsv
  tests/expectations/references.tsv
  tests/expectations/structures.tsv
  tests/expectations/validated.tsv
Due: build-docker, test-docker, build-tests, test-tests

up
  config.mk
Due: none

fix(config.mk): update gnverifier version to v1.2.9
  config.mk
Due: none

feat(build): update plugin com.gradleup.shadow to v9.2.2
  config.mk
Due: none

up
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(reference processing): simplify date extraction and detection logic
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(reference processing): improve date handling and scoring logic
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests

feat(gathering/db/wikidata): add alternative to removed WikidataQueryServiceR
  environment.yml
  src/1_gathering/db/wikidata/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

alternative to `WikidataQueryServiceR` as it was removed from CRAN
  environment.yml
  src/1_gathering/db/wikidata/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(chemosanitizer): improve chunking logic for multiprocessing
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
Due: build-docker, test-docker, build-tests, test-tests

Update chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
Due: build-docker, test-docker, build-tests, test-tests

refactor(processingAndEnriching): improve multiprocessing logic and chunking strategy
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
Due: build-docker, test-docker, build-tests, test-tests

up
  tests/expectations/organisms.tsv
  tests/expectations/references.tsv
  tests/expectations/validated.tsv
Due: none

refactor(build.gradle.kts): update plugin com.gradleup.shadow to v9.3.2
  tests/expectations/organisms.tsv
  tests/expectations/references.tsv
  tests/expectations/validated.tsv
Due: none

refactor(config.mk): update gnverifier version to v1.3.1
  config.mk
Due: none

Update config.mk
  config.mk
Due: none

refactor(config.mk): improve OS detection and normalization
  Makefile
  config.mk
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

up
  Makefile
  config.mk
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing
