Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

update sanitizing
  src/2_curating/2_editing/structure/2_integrating.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(structure): sanitize bad_smiles list
  src/2_curating/2_editing/structure/2_integrating.R
Due: build-docker, test-docker, build-tests, test-tests

update sanitizing
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/fragment.py
Due: build-docker, test-docker, build-tests, test-tests

refactor(chemosanitizer_functions): improve sanitization logic and remove redundant code
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/fragment.py
Due: build-docker, test-docker, build-tests, test-tests

feat(auth): add support for new authentication protocol
  tests/tests_min.tsv
Due: none

update tests_min.tsv
  tests/tests_min.tsv
Due: none

update tests expectations
  tests/expectations/structures.tsv
Due: none

feat(auth): add new feature to handle compound structures
  tests/expectations/structures.tsv
Due: none

fix(config.mk): update ranks custom dictionary
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

Update plugin org.jetbrains.kotlin.jvm to v1.6.21
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

refactor(build.gradle.kts): update kotlin plugin version to v1.6.21
  config.mk
Due: none

update ranks custom dictionary
  config.mk
Due: none

fix carbamate cleaning
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

fix(chemistry): correct primary carbamate cleaning logic
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

feat(auth): add support for new compound ligands
  config.mk
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/paths.R
  tests/expectations/structures.tsv
  tests/tests.tsv
Due: build-docker, test-docker, build-tests, test-tests

adding manual homonymic organisms fix
  config.mk
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/paths.R
  tests/expectations/structures.tsv
  tests/tests.tsv
Due: build-docker, test-docker, build-tests, test-tests

adding manual homonymic organisms fix
  tests/expectations/structures.tsv
Due: none

feat(auth): add support for new authentication protocol
  tests/expectations/structures.tsv
Due: none

feat(organism shell): add OTL IDs to gnfinder, gnverifier, and gnverifier_capital scripts
  src/2_curating/2_editing/organism/shell/gnfinder.sh
  src/2_curating/2_editing/organism/shell/gnverifier.sh
  src/2_curating/2_editing/organism/shell/gnverifier_capital.sh
Due: build-docker, test-docker, build-tests, test-tests

[taxo] adding OTL ids
  src/2_curating/2_editing/organism/shell/gnfinder.sh
  src/2_curating/2_editing/organism/shell/gnverifier.sh
  src/2_curating/2_editing/organism/shell/gnverifier_capital.sh
Due: build-docker, test-docker, build-tests, test-tests

update expectations
  tests/expectations/organisms.tsv
  tests/expectations/validated.tsv
Due: none

feat(config): update gnfinder and gnverifier versions
  config.mk
  tests/expectations/organisms.tsv
Due: none

gntools update
  config.mk
  tests/expectations/organisms.tsv
Due: none

refactor(db): standardize data cleaning and taxonomy processing
  src/1_gathering/db/coconut/standardizing.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/2_curating/2_editing/structure/2_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

lint
  src/1_gathering/db/coconut/standardizing.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/2_curating/2_editing/structure/2_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(db): standardize data manipulation pipeline to remove unnecessary joins
  src/1_gathering/db/wikidata/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

removing genera from WD input
  src/1_gathering/db/wikidata/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[taxa] refine detected organisms #31
  src/r/taxo_cleaning_auto.R
  tests/expectations/organisms.tsv
Due: build-docker, test-docker, build-tests, test-tests

refactor(taxo_cleaning_auto): simplify and improve taxo cleaning logic
  src/r/taxo_cleaning_auto.R
  tests/expectations/organisms.tsv
Due: build-docker, test-docker, build-tests, test-tests

update
  src/4_visualizing/plot_alluvial.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

feat(ui): update plot_alluvial.R to use consistent naming conventions and improve readability
  src/4_visualizing/plot_alluvial.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

feat(filter_dirty): add coconut cleaning functionality
  src/r/filter_dirty.R
Due: build-docker, test-docker, build-tests, test-tests

additional coconut cleaning
  src/r/filter_dirty.R
Due: build-docker, test-docker, build-tests, test-tests

feat(db): standardize Wikidata data processing
  src/1_gathering/db/wikidata/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

update
  src/1_gathering/db/wikidata/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix
  src/4_visualizing/plot_chordDiagrams.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

fix(plot_chordDiagrams.R): fix chord diagram data formatting issue
  src/4_visualizing/plot_chordDiagrams.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

docs: update dataset and metrics files to reflect changes in structure and content
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  src/paths.R
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests

update
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  src/paths.R
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
