Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

Update structures.tsv
  tests/expectations/structures.tsv
Due: none

refactor(structures.tsv): update structures data
  tests/expectations/structures.tsv
Due: none

refactor(db): simplify scraping functions using lapply
  environment.yml
  src/1_gathering/db/alkamid/scraping.R
  src/1_gathering/db/biophytmol/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/mibig/standardizing.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/nanpdb/scraping.R
  src/1_gathering/db/npedia/scraping.R
  src/1_gathering/db/nubbe/standardizing.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/procardb/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/1_gathering/db/tmdb/scraping.R
  src/1_gathering/db/wakankensaku/scraping.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analyzing/jensen_shannon_divergence.R
  src/r/parallel.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

removing pbmclapply
  environment.yml
  src/1_gathering/db/alkamid/scraping.R
  src/1_gathering/db/biophytmol/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/mibig/standardizing.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/nanpdb/scraping.R
  src/1_gathering/db/npedia/scraping.R
  src/1_gathering/db/nubbe/standardizing.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/procardb/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/1_gathering/db/tmdb/scraping.R
  src/1_gathering/db/wakankensaku/scraping.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analyzing/jensen_shannon_divergence.R
  src/r/parallel.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

docs: update windows user wiki link and instructions
  README.md
Due: none

rcrossref update (see https://github.com/ropensci/rcrossref/issues/218)
  README.md
Due: none

micromamba instead of conda
  Dockerfile
Due: build-docker, test-docker

fix(dockerfile): switch from conda to micromamba as base image
  Dockerfile
Due: build-docker, test-docker

feat(db): add anpdb scraping functionality to gather data from ANPDB database
  docs/prettyDBNames.tsv
  src/1_gathering/db/Makefile
  src/1_gathering/db/anpdb/scraping.R
  src/1_gathering/db/anpdb/standardizing.R
  src/1_gathering/db/carotenoiddb/downloading.sh
  src/1_gathering/db/datawarrior/note.md
  src/1_gathering/db/foodb/note.md
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/mibig/downloading.sh
  src/1_gathering/db/swmd/downloading.sh
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

update
  docs/prettyDBNames.tsv
  src/1_gathering/db/Makefile
  src/1_gathering/db/anpdb/scraping.R
  src/1_gathering/db/anpdb/standardizing.R
  src/1_gathering/db/carotenoiddb/downloading.sh
  src/1_gathering/db/datawarrior/note.md
  src/1_gathering/db/foodb/note.md
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/mibig/downloading.sh
  src/1_gathering/db/swmd/downloading.sh
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

ci: update ci-processing.yml to use micromamba instead of conda
  .github/workflows/ci-processing.yml
Due: none

micromamba instead of conda
  .github/workflows/ci-processing.yml
Due: none

ci: workflow update to use micromamba instead of conda
  .github/workflows/ci-processing.yml
Due: none

fix(build): update kotlin jvm target to 17
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

update java
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

feat(ci): add windows support to ci-processing.yml
  .github/workflows/ci-processing.yml
Due: none

add windows
  .github/workflows/ci-processing.yml
Due: none

java 16
  .github/workflows/ci-processing.yml
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

ci: update java version in ci-processing.yml and build.gradle.kts
  .github/workflows/ci-processing.yml
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

java in environment
  .github/workflows/ci-processing.yml
  environment.yml
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

ci: update java version to match environment
  .github/workflows/ci-processing.yml
  environment.yml
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

update
  .github/workflows/ci-processing.yml
Due: none

ci(build): update ci-processing.yml to remove unnecessary steps and simplify java setup
  .github/workflows/ci-processing.yml
Due: none

update
  tests/expectations/structures.tsv
Due: none

test: structures.tsv update
  tests/expectations/structures.tsv
Due: none

more typing
  src/1_gathering/db/wikidata/standardizing.R
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
  src/switch2db.R
  src/temp_classyfireTaxonomy.R
  src/temp_otlComparison.R
  tests/tests_dic_common_min.tsv.gz
  tests/tests_dic_tcm_min.tsv.gz
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation

feat(db): standardize data structures and common names from various sources
  src/1_gathering/db/wikidata/standardizing.R
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
  src/switch2db.R
  src/temp_classyfireTaxonomy.R
  src/temp_otlComparison.R
  tests/tests_dic_common_min.tsv.gz
  tests/tests_dic_tcm_min.tsv.gz
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation

update
  src/1_gathering/db/knapsack/scraping.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(db/knapsack): improve scraping functionality for knapsack table data
  src/1_gathering/db/knapsack/scraping.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

update
  tests/expectations/structures.tsv
  tests/tests.tsv
Due: none

fix(tests): update test data and reference values
  tests/expectations/structures.tsv
  tests/tests.tsv
Due: none

feat(db): simplify database scraping code and create directories for exporting data
  src/1_gathering/db/alkamid/scraping.R
  src/1_gathering/db/biophytmol/scraping.R
  src/1_gathering/db/custom/standardizing.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/npedia/scraping.R
  src/1_gathering/db/procardb/scraping.R
  src/1_gathering/db/tmdb/scraping.R
  src/1_gathering/db/wakankensaku/scraping.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/2_curating/2_editing/organism/3_processingTranslated.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
  src/2_curating/2_editing/structure/2_integrating.R
  src/2_curating/2_editing/structure/4_enriching/naming.R
  src/2_curating/3_integrating.R
  src/3_analyzing/3_metrics.R
  src/3_analyzing/ssot_union_wikidata.R
  src/paths.R
  src/r/create_dir.R
  src/r/preparing_name.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-curating

more typing
  src/1_gathering/db/alkamid/scraping.R
  src/1_gathering/db/biophytmol/scraping.R
  src/1_gathering/db/custom/standardizing.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/npedia/scraping.R
  src/1_gathering/db/procardb/scraping.R
  src/1_gathering/db/tmdb/scraping.R
  src/1_gathering/db/wakankensaku/scraping.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/2_curating/2_editing/organism/3_processingTranslated.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
  src/2_curating/2_editing/structure/2_integrating.R
  src/2_curating/2_editing/structure/4_enriching/naming.R
  src/2_curating/3_integrating.R
  src/3_analyzing/3_metrics.R
  src/3_analyzing/ssot_union_wikidata.R
  src/paths.R
  src/r/create_dir.R
  src/r/preparing_name.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-curating

parallel from the future
  src/1_gathering/db/anpdb/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analyzing/jensen_shannon_divergence.R
  src/r/getClass.R
  src/r/getref.R
  src/r/getrefDoi.R
  src/r/getref_noLimit.R
  src/r/getref_noLimit_publishingDetails.R
  src/r/getref_top10.R
  src/r/name2structure_cactus.R
  src/r/name2structure_pubchem.R
  src/r/progressr.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(db): parallelize scraping of multiple databases using future and progressr libraries
  src/1_gathering/db/anpdb/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analyzing/jensen_shannon_divergence.R
  src/r/getClass.R
  src/r/getref.R
  src/r/getrefDoi.R
  src/r/getref_noLimit.R
  src/r/getref_noLimit_publishingDetails.R
  src/r/getref_top10.R
  src/r/name2structure_cactus.R
  src/r/name2structure_pubchem.R
  src/r/progressr.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(env): update dependencies to include r-future and related packages
  environment.yml
Due: none

parallel from the future
  environment.yml
Due: none

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
