Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

.gitlab-ci.yml:

stages:
  - docker
  - test-docker
  - pull-data
  - build-databases
  - build-translation
  - build-curating
  - build-analysing
  - build-visualizing

build_docker_image:
  stage: docker
  script:
    - make docker-build

validate_docker_image:
  stage: test-docker
  script:
    - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

dvc-pull:
  stage: pull-data
  script:
    - docker run --rm -v /home/gitlab-runner/.aws:/home/user/.aws -v $PWD:/srv/onpdb -v /srv/onpdb-data/dvc_tmp:/srv/onpdb/.dvc/tmp -v /srv/onpdb-data/dvc:/srv/dvc -v /srv/onpdb-data/external:/srv/onpdb/data/external -v /srv/onpdb-data/interim:/srv/onpdb/data/interim -v /srv/onpdb-data/processed:/srv/onpdb/data/processed -v /srv/onpdb-data/interim:/srv/onpdb/data/validation onpdb-environment bash -c "cd /srv/onpdb && dvc cache dir /srv/dvc && dvc pull -f"
  rules:
    - changes:
      - data/*.dvc

build-databases:
  stage: build-databases
  script:
    - docker run --rm -e DATA_PATH=/srv/onpdb/data -e SRC_PATH=/srv/onpdb/src -v /srv/onpdb-data/dvc:/srv/dvc -v /srv/onpdb-data/external:/srv/onpdb/data/external -v /srv/onpdb-data/interim:/srv/onpdb/data/interim -v /srv/onpdb-data/processed:/srv/onpdb/data/processed -v /srv/onpdb-data/interim:/srv/onpdb/data/validation -v $PWD:/srv/onpdb onpdb-environment bash -c "cd /srv/onpdb && make gathering-databases"
  rules:
    - changes:
      - data/*.dvc
      - src/1_gathering/db/**/*

build-translation:
  stage: build-translation
  script:
    - docker run --rm -e DATA_PATH=/srv/onpdb/data -e SRC_PATH=/srv/onpdb/src -v /srv/onpdb-data/dvc:/srv/dvc -v /srv/onpdb-data/external:/srv/onpdb/data/external -v /srv/onpdb-data/interim:/srv/onpdb/data/interim -v /srv/onpdb-data/processed:/srv/onpdb/data/processed -v /srv/onpdb-data/interim:/srv/onpdb/data/validation -v $PWD:/srv/onpdb onpdb-environment bash -c "cd /srv/onpdb && make gathering-translation-full"
  rules:
    - changes:
      - data/*.dvc
      - src/1_gathering/translation/**/*

build-curating:
  stage: build-curating
  script:
    - docker run --rm -e DATA_PATH=/srv/onpdb/data -e SRC_PATH=/srv/onpdb/src -v /srv/onpdb-data/dvc:/srv/dvc -v /srv/onpdb-data/external:/srv/onpdb/data/external -v /srv/onpdb-data/interim:/srv/onpdb/data/interim -v /srv/onpdb-data/processed:/srv/onpdb/data/processed -v /srv/onpdb-data/interim:/srv/onpdb/data/validation -v $PWD:/srv/onpdb onpdb-environment bash -c "cd /srv/onpdb && make curating"
  # rules:
  #   - changes:
  #     - data/*.dvc

build-analysing:
  stage: build-analysing
  script:
    - docker run --rm -e DATA_PATH=/srv/onpdb/data -e SRC_PATH=/srv/onpdb/src -v /srv/onpdb-data/dvc:/srv/dvc -v /srv/onpdb-data/external:/srv/onpdb/data/external -v /srv/onpdb-data/interim:/srv/onpdb/data/interim -v /srv/onpdb-data/processed:/srv/onpdb/data/processed -v $PWD:/srv/onpdb onpdb-environment bash -c "cd /srv/onpdb && make analysing"
  rules:
    - changes:
      - data/*.dvc
      - src/3_analysing/*

build-visualizing:
  stage: build-visualizing
  script:
    - docker run --rm -e DATA_PATH=/srv/onpdb/data -e SRC_PATH=/srv/onpdb/src -v /srv/onpdb-data/dvc:/srv/dvc -v /srv/onpdb-data/external:/srv/onpdb/data/external -v /srv/onpdb-data/interim:/srv/onpdb/data/interim -v /srv/onpdb-data/processed:/srv/onpdb/data/processed -v /srv/onpdb-data/interim:/srv/onpdb/data/validation -v $PWD:/srv/onpdb onpdb-environment bash -c "cd /srv/onpdb && make visualizing"
  rules:
    - changes:
      - data/*.dvc
      - src/4_visualizing/*

[fix & cleanup] fixing export for quotes to match
  data/interim.dvc
  src/2_curating/2_editing/structure/subscripts/2_integrating/integrating.R
  src/functions/helpers.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

fix(data and R file export formatting)
  data/interim.dvc
  src/2_curating/2_editing/structure/subscripts/2_integrating/integrating.R
  src/functions/helpers.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[fix]
  src/1_gathering/db/phenolexplorer/standardizing.R
  src/2_curating/2_editing/reference/subscripts/2_integrating.R
Due: build-databases

fix(auth): standardize R libraries and AWS secret key handling
  src/1_gathering/db/phenolexplorer/standardizing.R
  src/2_curating/2_editing/reference/subscripts/2_integrating.R
Due: build-databases

fix(environment): add r-gdata dependency to environment.yml
  environment.yml
Due: none

[fix]
  environment.yml
Due: none

refactor(cleaningAndEnriching): update binary file contents
  .gitlab-ci.yml
Due: none

[fix] restore CI config
  .gitlab-ci.yml
Due: none

fix(ci): restore CI config to use interim validation directory
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/chemosanitizer_functions.cpython-38.pyc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/fragment.cpython-38.pyc
Due: none

[dvc] files update
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/chemosanitizer_functions.cpython-38.pyc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/fragment.cpython-38.pyc
Due: none

[dvc] files update
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

feat(data): update interim, processed, and validation data files
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

small fixes
  Makefile
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  src/1_gathering/translation/Makefile
  src/2_curating/2_editing/reference/subscripts/1_translating/title.R
  src/2_curating/2_editing/reference/subscripts/2_integrating.R
  src/2_curating/2_editing/structure/subscripts/1_translating/smiles.py
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/chemosanitizer_functions.cpython-38.pyc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/fragment.cpython-38.pyc
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

feat(gathering): add gathering-full script to Makefile
  Makefile
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  src/1_gathering/translation/Makefile
  src/2_curating/2_editing/reference/subscripts/1_translating/title.R
  src/2_curating/2_editing/reference/subscripts/2_integrating.R
  src/2_curating/2_editing/structure/subscripts/1_translating/smiles.py
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/chemosanitizer_functions.cpython-38.pyc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/fragment.cpython-38.pyc
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

small fixes
  .gitlab-ci.yml
  src/1_gathering/translation/Makefile
Due: build-translation

fix(gathering-translation-common): update data source paths for gathering translation common script
  .gitlab-ci.yml
  src/1_gathering/translation/Makefile
Due: build-translation

fix(ci): update gitlab-ci.yml to correct changes file pattern
  .gitlab-ci.yml
Due: none

small fixes
  .gitlab-ci.yml
Due: none

[fix]
  .gitlab-ci.yml
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  src/3_analysing/2_validating.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

fix(data processing): update dvc cache and pull commands to include validation directory
  .gitlab-ci.yml
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  src/3_analysing/2_validating.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

fix(data validation logic)
  src/3_analysing/2_validating.R
Due: build-analysing

fix
  src/3_analysing/2_validating.R
Due: build-analysing

fix
  data/interim.dvc
  src/3_analysing/1_sampling.R
  src/3_analysing/2_validating.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

fix(data and R scripts)
  data/interim.dvc
  src/3_analysing/1_sampling.R
  src/3_analysing/2_validating.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

fix
  data/processed.dvc
  src/4_visualizing/visualizing.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

fix(data processing and visualization): update data processing and visualization scripts to improve accuracy and readability
  data/processed.dvc
  src/4_visualizing/visualizing.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

beautyfying
  contact.md
  data/interim.dvc
  data/processed.dvc
  dvc.yaml
  dvc_run_lines.md
  environment.yml
  src/2_curating/2_editing/structure/subscripts/1_translating/names.R
  src/2_curating/2_editing/structure/subscripts/1_translating/smiles.py
  src/2_curating/2_editing/structure/subscripts/1_translating/smiles_dvc.py
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/chemosanitizer_functions.cpython-38.pyc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/fragment.cpython-38.pyc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/chemosanitizer_functions.py
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/fragment.py
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/instructions.md
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/pubchem_cid_fetcher.py
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/sanitizing.py
  src/2_curating/2_editing/structure/subscripts/4_enriching/classifying.py
  src/3_analysing/wikidata_checker.py
  src/3_analysing/wikidata_checker.py.baf5d9c9c51cb9b5e435a602d9edee2b.py
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

docs: improve contact.md formatting and dvc pipeline documentation
  contact.md
  data/interim.dvc
  data/processed.dvc
  dvc.yaml
  dvc_run_lines.md
  environment.yml
  src/2_curating/2_editing/structure/subscripts/1_translating/names.R
  src/2_curating/2_editing/structure/subscripts/1_translating/smiles.py
  src/2_curating/2_editing/structure/subscripts/1_translating/smiles_dvc.py
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/chemosanitizer_functions.cpython-38.pyc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/fragment.cpython-38.pyc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/chemosanitizer_functions.py
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/fragment.py
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/instructions.md
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/pubchem_cid_fetcher.py
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/sanitizing.py
  src/2_curating/2_editing/structure/subscripts/4_enriching/classifying.py
  src/3_analysing/wikidata_checker.py
  src/3_analysing/wikidata_checker.py.baf5d9c9c51cb9b5e435a602d9edee2b.py
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

docs: update lotus readme to reflect changes in database structure and data availability statements
  .gitlab-ci.yml
  README.md
Due: none

aesthetics
  .gitlab-ci.yml
  README.md
Due: none

feat(data): update validation data processing to new process
  data/interim.dvc
  data/validation.dvc
  src/3_analysing/1_sampling.R
  src/3_analysing/2_validating.R
  src/3_analysing/wikidata_checker.py.baf5d9c9c51cb9b5e435a602d9edee2b.py
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[validation] pushing last entries because of process modification (now 500 training 100 validation)
  data/interim.dvc
  data/validation.dvc
  src/3_analysing/1_sampling.R
  src/3_analysing/2_validating.R
  src/3_analysing/wikidata_checker.py.baf5d9c9c51cb9b5e435a602d9edee2b.py
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

fix(3_analysing/2_validating): validate set loading and filtering
  src/3_analysing/2_validating.R
Due: build-analysing

feat(2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching): add stereocount functions and associated make script
  Makefile
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/stereocounter.py
Due: none

adding stereocount functions and associated make
  Makefile
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/stereocounter.py
Due: none

feat(curating-editing): integrate stereocounter functionality into sanitizing script
  Makefile
  data/interim.dvc
  data/processed.dvc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/sanitizing.py
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/stereocounter.py
  src/2_curating/3_integrating/integrating.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[stereocount] integrating PM script and results on min mode (still have to run on full)
  Makefile
  data/interim.dvc
  data/processed.dvc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/sanitizing.py
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/stereocounter.py
  src/2_curating/3_integrating/integrating.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[dvc] manually modified data/interim/tables/1_translated/structure/unique.tsv from structure dictionary in order to run PM stereocounter script on X2Go (see if works on full set)
  data/interim.dvc
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

fix(data): run PM stereocounter script on X2Go with updated structure dictionary
  data/interim.dvc
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing
