Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

fix(config.mk): update gnverifier version to v0.8.0
  config.mk
Due: none

update gnverifier
  config.mk
Due: none

refactor(config.mk): update gnverifier version to v0.7.0
  config.mk
Due: none

feat(api): updates to new gnames api (unstable)
  config.mk
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/2_curating/2_editing/organism/3_processingTranslated.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/2_curating/2_editing/organism/shell/gnfinder.sh
  src/2_curating/2_editing/organism/shell/gnverifier.sh
  src/2_curating/2_editing/organism/shell/gnverifier_capital.sh
  src/r/add_metadata.R
  src/r/biocleaning.R
  tests/expectations/organisms.tsv
Due: build-docker, test-docker, build-tests, test-tests

updates to new gnames api (unstable)
  config.mk
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/2_curating/2_editing/organism/3_processingTranslated.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/2_curating/2_editing/organism/shell/gnfinder.sh
  src/2_curating/2_editing/organism/shell/gnverifier.sh
  src/2_curating/2_editing/organism/shell/gnverifier_capital.sh
  src/r/add_metadata.R
  src/r/biocleaning.R
  tests/expectations/organisms.tsv
Due: build-docker, test-docker, build-tests, test-tests

update
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  src/3_analyzing/3_metrics.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

docs: update dataset and metrics files to reflect changes in database structure and licensing information
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  src/3_analyzing/3_metrics.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

lint
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

docs(paths): improve path handling for secure data
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

feat(internal): update dvc dependencies to improve stability and performance
  .dvcignore
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  environment_internal.yml
  res.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

adding dvc updates internally
  .dvcignore
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  environment_internal.yml
  res.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

gnfinder update
  config.mk
Due: none

feat(config.mk): update gnfinder version to v0.18.0
  config.mk
Due: none

ci: update ci-processing.yml to use actions/setup-python@v3
  .github/workflows/ci-processing.yml
Due: none

Update ci-processing.yml
  .github/workflows/ci-processing.yml
Due: none

ci: update actions/checkout action to v3
  .github/workflows/ci-processing.yml
Due: none

Update actions/checkout action to v3
  .github/workflows/ci-processing.yml
Due: none

feat(backbone update): update gbif backbone download links to latest version
  data/external.dvc
  src/1_gathering/translation/get_gbif_backbone.sh
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

backbones update (#25)
  data/external.dvc
  src/1_gathering/translation/get_gbif_backbone.sh
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[refactoring] shell scripts into makefiles
  Makefile
  config.mk
  paths.mk
  src/1_gathering/Makefile
  src/1_gathering/dictionary/Makefile
  src/1_gathering/dictionary/gathering_custom_dictionaries.sh
  src/1_gathering/translation/Makefile
  src/1_gathering/translation/get_gbif_backbone.sh
  src/1_gathering/validation/Makefile
  src/1_gathering/validation/gathering_validation.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(gathering): replace shell scripts with makefiles
  Makefile
  config.mk
  paths.mk
  src/1_gathering/Makefile
  src/1_gathering/dictionary/Makefile
  src/1_gathering/dictionary/gathering_custom_dictionaries.sh
  src/1_gathering/translation/Makefile
  src/1_gathering/translation/get_gbif_backbone.sh
  src/1_gathering/validation/Makefile
  src/1_gathering/validation/gathering_validation.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(gradle): update dependency to v7.4.1
  gradle/wrapper/gradle-wrapper.properties
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradle/wrapper/gradle-wrapper.properties
Due: build-docker, test-docker, build-tests, test-tests

Update dependency gradle to v7.4.1
  gradle/wrapper/gradle-wrapper.properties
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradle/wrapper/gradle-wrapper.properties
Due: build-docker, test-docker, build-tests, test-tests

update for zenodo upload
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

feat(paths): update file paths for zenodo upload
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(workflows): update remove-old-artifacts workflow to use latest c-hive/gha-remove-artifacts version
  .github/workflows/remove-old-artifacts.yml
Due: none

[action] remove old artifacts
  .github/workflows/remove-old-artifacts.yml
Due: none

[safety] case when all references empty
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(reference processing): select minimal crossref data for title recognition
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests

gnverifier update
  config.mk
Due: none

refactor(config.mk): update gnverifier version to v0.9.0
  config.mk
Due: none

avoid empty chemical names
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests

fix(analyzing): add structure metadata validation to handle empty chemical names
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests

fix(gbif backbone): update taxonomy files to use new GBIF backbone structure
  src/1_gathering/translation/common.R
  tests/expectations/organisms.tsv
  tests/tests_dic_common_min.tsv.gz
Due: build-docker, test-docker, build-tests, test-tests, build-translation

fix new gbif backbone
  src/1_gathering/translation/common.R
  tests/expectations/organisms.tsv
  tests/tests_dic_common_min.tsv.gz
Due: build-docker, test-docker, build-tests, test-tests, build-translation

fix(paths.mk): remove unused test dictionary path
  Makefile
  paths.mk
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

only erase test dictionaries
  Makefile
  paths.mk
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

update tcm dic
  tests/tests_dic_tcm_min.tsv.gz
Due: none

fix(tests): update tcm dic data
  tests/tests_dic_tcm_min.tsv.gz
Due: none

fix(gbif backbone): improve canonical name handling and data encoding
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
  tests/tests_dic_common_min.tsv.gz
Due: build-docker, test-docker, build-tests, test-tests, build-translation

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
