Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

.gitlab-ci.yml:

stages:
  - docker
  - test-docker
  - pull-data
  - build-databases
  - build-translation
  - build-curating
  - build-analysing
  - build-visualizing

build_docker_image:
  stage: docker
  script:
    - make docker-build

validate_docker_image:
  stage: test-docker
  script:
    - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

dvc-pull:
  stage: pull-data
  script:
    - docker run --rm -v /home/gitlab-runner/.aws:/home/user/.aws -v $PWD:/srv/onpdb -v /srv/onpdb-data/dvc_tmp:/srv/onpdb/.dvc/tmp -v /srv/onpdb-data/dvc:/srv/dvc -v /srv/onpdb-data/external:/srv/onpdb/data/external -v /srv/onpdb-data/interim:/srv/onpdb/data/interim -v /srv/onpdb-data/processed:/srv/onpdb/data/processed -v /srv/onpdb-data/interim:/srv/onpdb/data/validation onpdb-environment bash -c "cd /srv/onpdb && dvc cache dir /srv/dvc && dvc pull -f"
  rules:
    - changes:
      - data/*.dvc

build-databases:
  stage: build-databases
  script:
    - docker run --rm -e DATA_PATH=/srv/onpdb/data -e SRC_PATH=/srv/onpdb/src -v /srv/onpdb-data/dvc:/srv/dvc -v /srv/onpdb-data/external:/srv/onpdb/data/external -v /srv/onpdb-data/interim:/srv/onpdb/data/interim -v /srv/onpdb-data/processed:/srv/onpdb/data/processed -v /srv/onpdb-data/interim:/srv/onpdb/data/validation -v $PWD:/srv/onpdb onpdb-environment bash -c "cd /srv/onpdb && make gathering-databases"
  rules:
    - changes:
      - data/*.dvc
      - src/1_gathering/db/**/*

build-translation:
  stage: build-translation
  script:
    - docker run --rm -e DATA_PATH=/srv/onpdb/data -e SRC_PATH=/srv/onpdb/src -v /srv/onpdb-data/dvc:/srv/dvc -v /srv/onpdb-data/external:/srv/onpdb/data/external -v /srv/onpdb-data/interim:/srv/onpdb/data/interim -v /srv/onpdb-data/processed:/srv/onpdb/data/processed -v /srv/onpdb-data/interim:/srv/onpdb/data/validation -v $PWD:/srv/onpdb onpdb-environment bash -c "cd /srv/onpdb && make gathering-translation-full"
  rules:
    - changes:
      - data/*.dvc
      - src/1_gathering/translation/**/*

build-curating:
  stage: build-curating
  script:
    - docker run --rm -e DATA_PATH=/srv/onpdb/data -e SRC_PATH=/srv/onpdb/src -v /srv/onpdb-data/dvc:/srv/dvc -v /srv/onpdb-data/external:/srv/onpdb/data/external -v /srv/onpdb-data/interim:/srv/onpdb/data/interim -v /srv/onpdb-data/processed:/srv/onpdb/data/processed -v /srv/onpdb-data/interim:/srv/onpdb/data/validation -v $PWD:/srv/onpdb onpdb-environment bash -c "cd /srv/onpdb && make curating"
  # rules:
  #   - changes:
  #     - data/*.dvc

build-analysing:
  stage: build-analysing
  script:
    - docker run --rm -e DATA_PATH=/srv/onpdb/data -e SRC_PATH=/srv/onpdb/src -v /srv/onpdb-data/dvc:/srv/dvc -v /srv/onpdb-data/external:/srv/onpdb/data/external -v /srv/onpdb-data/interim:/srv/onpdb/data/interim -v /srv/onpdb-data/processed:/srv/onpdb/data/processed -v $PWD:/srv/onpdb onpdb-environment bash -c "cd /srv/onpdb && make analysing"
  rules:
    - changes:
      - data/*.dvc
      - src/3_analysing/*

build-visualizing:
  stage: build-visualizing
  script:
    - docker run --rm -e DATA_PATH=/srv/onpdb/data -e SRC_PATH=/srv/onpdb/src -v /srv/onpdb-data/dvc:/srv/dvc -v /srv/onpdb-data/external:/srv/onpdb/data/external -v /srv/onpdb-data/interim:/srv/onpdb/data/interim -v /srv/onpdb-data/processed:/srv/onpdb/data/processed -v /srv/onpdb-data/interim:/srv/onpdb/data/validation -v $PWD:/srv/onpdb onpdb-environment bash -c "cd /srv/onpdb && make visualizing"
  rules:
    - changes:
      - data/*.dvc
      - src/4_visualizing/*

[gitignore] mod pma local
  .gitignore
Due: none

fix(data): add total stereocenters column to structure metadata
  .gitignore
Due: none

style: ignore
  data/interim.dvc
  data/validation.dvc
  src/3_analysing/2_validating.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[fix] adding total stereocenters column
  data/interim.dvc
  data/validation.dvc
  src/3_analysing/2_validating.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

fix(data): standardize file paths to utf-8 encoding
  data/interim.dvc
  data/validation.dvc
  src/functions/standardizing.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[fix] removing non-utf8 instead of non-ascii
  data/interim.dvc
  data/validation.dvc
  src/functions/standardizing.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

fix(data processing): avoid duplicates when species are present
  data/interim.dvc
  data/validation.dvc
  src/2_curating/2_editing/organism/subscripts/4_cleaningTaxonomy.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[fix] avoiding duplicates (genus only when species present)
  data/interim.dvc
  data/validation.dvc
  src/2_curating/2_editing/organism/subscripts/4_cleaningTaxonomy.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[fix] removing duplicate higher taxa
  data/interim.dvc
  data/validation.dvc
  src/2_curating/2_editing/organism/subscripts/4_cleaningTaxonomy.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

fix(data): removing duplicate higher taxa from taxonomy cleaning pipeline
  data/interim.dvc
  data/validation.dvc
  src/2_curating/2_editing/organism/subscripts/4_cleaningTaxonomy.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[data] adding new figures
  data/processed.dvc
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

feat(data): adding new figures to processed data
  data/processed.dvc
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[fix] upstream taxa and taxon detection
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  src/2_curating/2_editing/organism/subscripts/4_cleaningTaxonomy.R
  src/2_curating/2_editing/reference/subscripts/2_integrating.R
  src/2_curating/2_editing/reference/subscripts/3_cleaning.R
  src/2_curating/3_integrating/integrating.R
  src/3_analysing/2_validating.R
  src/4_visualizing/additional.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

fix(data processing): improve taxon detection and cleaning
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  src/2_curating/2_editing/organism/subscripts/4_cleaningTaxonomy.R
  src/2_curating/2_editing/reference/subscripts/2_integrating.R
  src/2_curating/2_editing/reference/subscripts/3_cleaning.R
  src/2_curating/3_integrating/integrating.R
  src/3_analysing/2_validating.R
  src/4_visualizing/additional.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[fix] generic name epithets dictionary translation
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
  src/1_gathering/translation/common.R
  src/2_curating/1_integrating/integrating.R
  src/2_curating/2_editing/organism/subscripts/4_cleaningTaxonomy.R
  src/2_curating/2_editing/reference/subscripts/2_integrating.R
  src/3_analysing/1_sampling.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

fix(data processing): remove vernacular names corresponding to generic epithets for safety reasons
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
  src/1_gathering/translation/common.R
  src/2_curating/1_integrating/integrating.R
  src/2_curating/2_editing/organism/subscripts/4_cleaningTaxonomy.R
  src/2_curating/2_editing/reference/subscripts/2_integrating.R
  src/3_analysing/1_sampling.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

Update README.md
  README.md
Due: none

docs(readme): update pipeline and coverage images
  README.md
Due: none

feat(auth): add support for OAuth 2.0 token refresh
  environment.yml
  environment_strict.yml
Due: none

[env] update
  environment.yml
  environment_strict.yml
Due: none

fix(gathering db standardizing): standardize taxonomic data across multiple databases
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  src/1_gathering/db/afrotryp/standardizing.R
  src/1_gathering/db/coconut/standardizing.R
  src/1_gathering/db/mitishamba/standardizing.R
  src/1_gathering/db/nubbe/standardizing.R
  src/1_gathering/db/respect/standardizing.R
  src/1_gathering/translation/common.R
  src/2_curating/2_editing/organism/functions/manipulating_taxo.R
  src/2_curating/2_editing/organism/subscripts/1_cleaningOriginal.R
  src/2_curating/2_editing/organism/subscripts/4_cleaningTaxonomy.R
  src/functions/log.R
  src/functions/standardizing.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[fix] general taxa treatment
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  src/1_gathering/db/afrotryp/standardizing.R
  src/1_gathering/db/coconut/standardizing.R
  src/1_gathering/db/mitishamba/standardizing.R
  src/1_gathering/db/nubbe/standardizing.R
  src/1_gathering/db/respect/standardizing.R
  src/1_gathering/translation/common.R
  src/2_curating/2_editing/organism/functions/manipulating_taxo.R
  src/2_curating/2_editing/organism/subscripts/1_cleaningOriginal.R
  src/2_curating/2_editing/organism/subscripts/4_cleaningTaxonomy.R
  src/functions/log.R
  src/functions/standardizing.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[tests] adding first test
  README.md
  src/1_gathering/translation/common.R
  src/3_analysing/1_sampling.R
  src/4_visualizing/additional.R
  src/functions.R
  src/functions/standardizing.R
  tests/test_trial.R
  tests/tests.md
Due: build-translation, build-analysing, build-visualizing

feat(auth): add common name processing to scientific database
  README.md
  src/1_gathering/translation/common.R
  src/3_analysing/1_sampling.R
  src/4_visualizing/additional.R
  src/functions.R
  src/functions/standardizing.R
  tests/test_trial.R
  tests/tests.md
Due: build-translation, build-analysing, build-visualizing

[fix] distinct
  data/interim.dvc
  src/2_curating/1_integrating/integrating.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

fix(data and R files): distinct values in data structures to improve performance
  data/interim.dvc
  src/2_curating/1_integrating/integrating.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[fix] handling of empty dataframes
  data/interim.dvc
  data/processed.dvc
  src/2_curating/1_integrating/integrating.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

fix(data handling): handle empty dataframes in interim and processed dvc files
  data/interim.dvc
  data/processed.dvc
  src/2_curating/1_integrating/integrating.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

refactor(paths): improve path management and variable handling
  Makefile
  config.mk
  data/interim.dvc
  paths.mk
  src/2_curating/1_integrating/integrating.R
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/2_curating/2_editing/organism/subscripts/shell/originalGnfinderLauncher_test.sh
  src/2_curating/2_editing/organism/subscripts/shell/translatedGnfinderLauncher_test.sh
  src/2_curating/2_editing/reference/subscripts/1_translating/pubmed.R
  src/2_curating/2_editing/reference/subscripts/3_cleaning.R
  src/2_curating/2_editing/structure/subscripts/4_enriching/naming.R
  src/3_analysing/2_validating.R
  src/4_visualizing/visualizing.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[tests] pathing the way
  Makefile
  config.mk
  data/interim.dvc
  paths.mk
  src/2_curating/1_integrating/integrating.R
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/2_curating/2_editing/organism/subscripts/shell/originalGnfinderLauncher_test.sh
  src/2_curating/2_editing/organism/subscripts/shell/translatedGnfinderLauncher_test.sh
  src/2_curating/2_editing/reference/subscripts/1_translating/pubmed.R
  src/2_curating/2_editing/reference/subscripts/3_cleaning.R
  src/2_curating/2_editing/structure/subscripts/4_enriching/naming.R
  src/3_analysing/2_validating.R
  src/4_visualizing/visualizing.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[taxo] to fix (kotlin)
  data/interim.dvc
  src/1_gathering/translation/tcm.R
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/2_curating/2_editing/organism/subscripts/3_cleaningTranslated.R
  src/2_curating/2_editing/organism/subscripts/4_cleaningTaxonomy.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

fix(data processing): clean up redundant code and improve translation logic
  data/interim.dvc
  src/1_gathering/translation/tcm.R
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/2_curating/2_editing/organism/subscripts/3_cleaningTranslated.R
  src/2_curating/2_editing/organism/subscripts/4_cleaningTaxonomy.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

feat(test): add test unit script to run tests onpdb environment
  .gitlab-ci.yml
  Makefile
  config.mk
  data/interim.dvc
  src/1_gathering/translation/tcm.R
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/2_curating/2_editing/organism/subscripts/4_cleaningTaxonomy.R
  src/paths.R
  tests/test_trial.R
  tests/tests.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[tests] almost there
  .gitlab-ci.yml
  Makefile
  config.mk
  data/interim.dvc
  src/1_gathering/translation/tcm.R
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/2_curating/2_editing/organism/subscripts/4_cleaningTaxonomy.R
  src/paths.R
  tests/test_trial.R
  tests/tests.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

fix(auth): improve data path handling in onpdb environment script
  .gitlab-ci.yml
  tests/tests.R
Due: none

[smallfix]
  .gitlab-ci.yml
  tests/tests.R
Due: none

[tests] adding teest curation step
  .gitlab-ci.yml
Due: none

test(curating): add test-curating stage and script to curate data
  .gitlab-ci.yml
Due: none

[CI] naming
  .gitlab-ci.yml
Due: none

ci: update pipeline stages and scripts to improve readability and consistency
  .gitlab-ci.yml
Due: none
