Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

test(ci): improve macos os support in ci-processing.yml
  .github/workflows/ci-processing.yml
Due: none

re-implementing tests on macOS
  .github/workflows/ci-processing.yml
Due: none

updated custom_example.tsv
  data/example/custom_example.tsv
Due: none

docs(custom_example.tsv): update Voatriafricanine B and α-Terpinene records
  data/example/custom_example.tsv
Due: none

adding dummy file export in kotlin translater
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
Due: build-docker, test-docker, build-tests, test-tests

feat(kotlin-translator): add dummy file export functionality
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
Due: build-docker, test-docker, build-tests, test-tests

[translater] dummy file content modification
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
Due: build-docker, test-docker, build-tests, test-tests

refactor(kotlin): update file export logic to use hardcoded filename instead of secret key
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
Due: build-docker, test-docker, build-tests, test-tests

feat(2_curating/2_editing/structure/4_enriching): allow duplicated structural types as inputs in naming script
  src/2_curating/2_editing/structure/4_enriching/naming.R
Due: build-docker, test-docker, build-tests, test-tests

allowing duplicated structural types as inputs in the naming script
  src/2_curating/2_editing/structure/4_enriching/naming.R
Due: build-docker, test-docker, build-tests, test-tests

lint
  src/1_gathering/db/wikidata/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(db): standardize Wikidata query
  src/1_gathering/db/wikidata/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix #37
  data/example/custom_example.tsv
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/2_curating/2_editing/organism/3_processingTranslated.R
Due: build-docker, test-docker, build-tests, test-tests

fix(data): update file export and processing logic to correctly handle AWS secret keys and interim data tables
  data/example/custom_example.tsv
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/2_curating/2_editing/organism/3_processingTranslated.R
Due: build-docker, test-docker, build-tests, test-tests

fix(tests): update publishing details for Rose
  tests/tests.tsv
Due: none

fix #38
  tests/tests.tsv
Due: none

docs: update windows systems requirements section
  README.md
Due: none

Update README.md
  README.md
Due: none

docs(readme): update windows systems requirements section
  README.md
Due: none

docs(readme): improve documentation structure and readability
  README.md
Due: none

fix(tests/expectations): update taxon references to BHLindex v0.13.1
  tests/expectations/organisms.tsv
  tests/expectations/references.tsv
  tests/expectations/validated.tsv
Due: none

[fix] adapt to BHLindex v0.13.1
  tests/expectations/organisms.tsv
  tests/expectations/references.tsv
  tests/expectations/validated.tsv
Due: none

refactor(2_curating): improve custom mode handling and naming conventions
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/structure/4_enriching/naming.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

improving custom mode
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/structure/4_enriching/naming.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

improving organism detection in title
  src/2_curating/2_editing/reference/2_integrating.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(auth): improve organism detection in title
  src/2_curating/2_editing/reference/2_integrating.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(wikidata): standardize data structures and references
  src/1_gathering/db/wikidata/standardizing.R
  src/3_analyzing/ssot_union_wikidata.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

improve structures recovery
  src/1_gathering/db/wikidata/standardizing.R
  src/3_analyzing/ssot_union_wikidata.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(ssot_union_wikidata): improve structures recovery
  src/3_analyzing/ssot_union_wikidata.R
Due: build-docker, test-docker, build-tests, test-tests

improve structures recovery
  src/3_analyzing/ssot_union_wikidata.R
Due: build-docker, test-docker, build-tests, test-tests

npatlas + taxon name title update
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  tests/tests_min.tsv
Due: none

docs: update dataset and metrics files
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  tests/tests_min.tsv
Due: none

feat(visualizing): update tmap plot and paths R files with new frozen metadata dates
  src/4_visualizing/plot_tmap.py
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

2022-09 update
  src/4_visualizing/plot_tmap.py
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

Update mibig to v3.0
  src/1_gathering/db/mibig/downloading.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(db): update mibig to v3.0
  src/1_gathering/db/mibig/downloading.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases

update GNVerifier and GNFinder to v1.0.1
  config.mk
  tests/expectations/organisms.tsv
  tests/expectations/structures.tsv
Due: none

feat(config): update GNVerifier and GNFinder versions to v1.0.1
  config.mk
  tests/expectations/organisms.tsv
  tests/expectations/structures.tsv
Due: none
