Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

feat(db): standardize input cleaneR scripts for clarity and consistency across manual and custom modes
  data/example/custom_example.tsv
  src/1_gathering/db/custom/standardizing.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/2_curating/2_editing/reference/3_processing.R
  src/3_analyzing/3_metrics.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-curating

refactor(tests): improve test script to use custom example file
  tests/integration_test.sh
Due: none

updating make modes and targets for clarity
  tests/integration_test.sh
Due: none

updating make modes and targets for clarity
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_custom.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_manual.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_custom.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_custom.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_manual.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_custom.sh
Due: build-docker, test-docker, build-tests, test-tests

refactor(organism shell): simplify gnverifier scripts for clarity and consistency
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_custom.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_manual.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_custom.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_custom.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_manual.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_custom.sh
Due: build-docker, test-docker, build-tests, test-tests

refactor(paths.R): improve script names for clarity and consistency
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

updating make modes and targets for clarity
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

GNVerifier update
  config.mk
Due: none

refactor(config.mk): update GNVerifier version to v0.6.4
  config.mk
Due: none

adding AlgaeBase and World Flora as additional taxonomic DBs
  src/2_curating/2_editing/organism/shell/gnfinder.sh
  src/2_curating/2_editing/organism/shell/gnverifier.sh
  src/2_curating/2_editing/organism/shell/gnverifier_capital.sh
  tests/expectations/organisms.tsv
Due: build-docker, test-docker, build-tests, test-tests

feat(organism): add AlgaeBase and World Flora as additional taxonomic DBs
  src/2_curating/2_editing/organism/shell/gnfinder.sh
  src/2_curating/2_editing/organism/shell/gnverifier.sh
  src/2_curating/2_editing/organism/shell/gnverifier_capital.sh
  tests/expectations/organisms.tsv
Due: build-docker, test-docker, build-tests, test-tests

feat(worldflora): add taxa ranks translations for World Flora taxonomic DBs
  src/1_gathering/dictionary/gathering_custom_dictionaries.sh
  tests/expectations/organisms.tsv
  tests/expectations/validated.tsv
Due: build-docker, test-docker, build-tests, test-tests

adding taxa ranks translations for World Flora taxonomic DBs
  src/1_gathering/dictionary/gathering_custom_dictionaries.sh
  tests/expectations/organisms.tsv
  tests/expectations/validated.tsv
Due: build-docker, test-docker, build-tests, test-tests

refactor(build.gradle.kts): update plugin to latest version
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

Update plugin com.github.johnrengelman.shadow to v7.1.2
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

refactor(environment_internal.yml): update dvc dependency version
  environment_internal.yml
Due: none

update dvc
  environment_internal.yml
Due: none

fix(config.mk): update gnverifier version to v0.6.5 and opsin to 2.6.0
  config.mk
Due: none

update gnverifier
  config.mk
Due: none

update gnverifier
  tests/expectations/organisms.tsv
Due: none

fix(organisms.tsv): update taxonomy data
  tests/expectations/organisms.tsv
Due: none

update opsin
  Makefile
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(paths): update opsin version in paths.R and Makefile
  Makefile
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(workflows): create carbonate.yaml configuration file
  .github/workflows/carbonate.yaml
Due: none

Create carbonate.yaml
  .github/workflows/carbonate.yaml
Due: none

WIP #18
  src/r/treat_npclassifier_taxonomy.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(src/r/treat_npclassifier_taxonomy.R): simplify taxonomy processing
  src/r/treat_npclassifier_taxonomy.R
Due: build-docker, test-docker, build-tests, test-tests

adding names
  src/r/add_metadata.R
Due: build-docker, test-docker, build-tests, test-tests

feat(add_metadata): add IUPAC and traditional name fields to metadata structure
  src/r/add_metadata.R
Due: build-docker, test-docker, build-tests, test-tests

feat(analyzing): add IUPAC and traditional name fields to closed metadata structure
  src/3_analyzing/closed_metadata.R
Due: build-docker, test-docker, build-tests, test-tests

adding names
  src/3_analyzing/closed_metadata.R
Due: build-docker, test-docker, build-tests, test-tests

dnp update
  src/1_gathering/db/dnp/extracting.py
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(db): update dnp extraction and source file paths
  src/1_gathering/db/dnp/extracting.py
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(gnfinder): update gnfinder and gnverifier versions to v0.17.0 and v0.7.0 respectively
  config.mk
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/r/biocleaning.R
  src/r/gnfinder_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests

gntools update
  config.mk
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/r/biocleaning.R
  src/r/gnfinder_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests

update
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests

feat(analyzing): update validating R script to remove unnecessary parameters
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests

fix(analyzing metrics): validate pairs on wikidata export
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests

fix
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests

docs: update plant taxonomy data
  tests/expectations/organisms.tsv
Due: none
