Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

fix
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
Due: build-docker, test-docker, build-tests, test-tests

update
  README.md
Due: none

docs(update): improve quick test instructions
  README.md
Due: none

docs: update dataset.csv to include commercial licenses
  docs/dataset.csv
Due: none

update
  docs/dataset.csv
Due: none

more stringent CI strategy
  .github/workflows/ci-processing.yml
Due: none

ci: update ci-processing.yml to enforce stricter build behavior
  .github/workflows/ci-processing.yml
Due: none

fix
  src/2_curating/2_editing/reference/1_translating/split.R
Due: build-docker, test-docker, build-tests, test-tests

fix(reference): improve parallel processing of split references
  src/2_curating/2_editing/reference/1_translating/split.R
Due: build-docker, test-docker, build-tests, test-tests

fix
  src/r/gnfinder_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests

fix(gnfinder_cleaning.R): improve handling of empty metadata
  src/r/gnfinder_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests

Update ci-processing.yml
  .github/workflows/ci-processing.yml
Due: none

ci update: refine ci-processing.yml configuration
  .github/workflows/ci-processing.yml
Due: none

docs(readme): update wiki link and add heart symbol
  README.md
Due: none

Update README.md
  README.md
Due: none

fix(read_delim): improve file reading functionality and add delimiter specification
  src/2_curating/2_editing/organism/3_processingTranslated.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/2_curating/2_editing/organism/5_addingOTL.R
Due: build-docker, test-docker, build-tests, test-tests

read_delim fix
  src/2_curating/2_editing/organism/3_processingTranslated.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/2_curating/2_editing/organism/5_addingOTL.R
Due: build-docker, test-docker, build-tests, test-tests

read_delim fix
  src/2_curating/3_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

fix(read_delim): improve delimiter handling for sensitive data
  src/2_curating/3_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

feat(reference): improve data handling and filtering
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests

data handling improvement
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests

feat(paths): update wikidata frozen export to use Zenodo instead of local files
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

updating wikidata frozen export to zenodo
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

style
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
  src/paths.R
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests, build-curating

style: improve code formatting and readability across multiple R files
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
  src/paths.R
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests, build-curating

read_delim fix
  src/3_analyzing/1_sampling.R
  src/3_analyzing/2_validating.R
  src/3_analyzing/3_metrics.R
  src/3_analyzing/stats.R
Due: build-docker, test-docker, build-tests, test-tests

fix(read_delim): update delimiter and column types for multiple files
  src/3_analyzing/1_sampling.R
  src/3_analyzing/2_validating.R
  src/3_analyzing/3_metrics.R
  src/3_analyzing/stats.R
Due: build-docker, test-docker, build-tests, test-tests

feat(reference processing): improve data handling and filtering for reference types
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
  src/2_curating/3_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

data handling improvement
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
  src/2_curating/3_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

fix
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

fix(auth): fix integration with publishing details reference table
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

data handling improvement
  src/2_curating/3_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

refactor(data handling): improve data organization and directory creation
  src/2_curating/3_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

favoring smiles for data deduplication
  Makefile
  src/1_gathering/db/alkamid/standardizing.R
  src/1_gathering/db/antibase/standardizing.R
  src/1_gathering/db/antimarin/standardizing.R
  src/1_gathering/db/biofacquim/standardizing.R
  src/1_gathering/db/biophytmol/standardizing.R
  src/1_gathering/db/coconut/standardizing.R
  src/1_gathering/db/cyanometdb/standardizing.R
  src/1_gathering/db/datawarrior/standardizing.R
  src/1_gathering/db/dianatdb/standardizing.R
  src/1_gathering/db/dnp/standardizing.R
  src/1_gathering/db/foodb/standardizing.R
  src/1_gathering/db/inflamnat/standardizing.R
  src/1_gathering/db/knapsack/standardizing.R
  src/1_gathering/db/mitishamba/standardizing.R
  src/1_gathering/db/npass/standardizing.R
  src/1_gathering/db/npatlas/standardizing.R
  src/1_gathering/db/nubbe/standardizing.R
  src/1_gathering/db/pamdb/standardizing.R
  src/1_gathering/db/phenolexplorer/standardizing.R
  src/1_gathering/db/phytohub/standardizing.R
  src/1_gathering/db/procardb/standardizing.R
  src/1_gathering/db/sancdb/standardizing.R
  src/1_gathering/db/streptomedb/standardizing.R
  src/1_gathering/db/tppt/standardizing.R
  src/1_gathering/db/unpd/standardizing.R
  src/2_curating/2_editing/structure/1_translating/inchi.py
  src/2_curating/2_editing/structure/2_integrating.R
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
  src/paths.R
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(db): standardize smiles and inchi fields across multiple databases
  Makefile
  src/1_gathering/db/alkamid/standardizing.R
  src/1_gathering/db/antibase/standardizing.R
  src/1_gathering/db/antimarin/standardizing.R
  src/1_gathering/db/biofacquim/standardizing.R
  src/1_gathering/db/biophytmol/standardizing.R
  src/1_gathering/db/coconut/standardizing.R
  src/1_gathering/db/cyanometdb/standardizing.R
  src/1_gathering/db/datawarrior/standardizing.R
  src/1_gathering/db/dianatdb/standardizing.R
  src/1_gathering/db/dnp/standardizing.R
  src/1_gathering/db/foodb/standardizing.R
  src/1_gathering/db/inflamnat/standardizing.R
  src/1_gathering/db/knapsack/standardizing.R
  src/1_gathering/db/mitishamba/standardizing.R
  src/1_gathering/db/npass/standardizing.R
  src/1_gathering/db/npatlas/standardizing.R
  src/1_gathering/db/nubbe/standardizing.R
  src/1_gathering/db/pamdb/standardizing.R
  src/1_gathering/db/phenolexplorer/standardizing.R
  src/1_gathering/db/phytohub/standardizing.R
  src/1_gathering/db/procardb/standardizing.R
  src/1_gathering/db/sancdb/standardizing.R
  src/1_gathering/db/streptomedb/standardizing.R
  src/1_gathering/db/tppt/standardizing.R
  src/1_gathering/db/unpd/standardizing.R
  src/2_curating/2_editing/structure/1_translating/inchi.py
  src/2_curating/2_editing/structure/2_integrating.R
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
  src/paths.R
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(processingAndEnriching): remove unnecessary sanitizing script and simplify processing pipeline
  src/2_curating/2_editing/structure/3_processingAndEnriching/instructions.md
  src/2_curating/2_editing/structure/3_processingAndEnriching/sanitizing.py
Due: build-docker, test-docker, build-tests, test-tests

removing leftovers
  src/2_curating/2_editing/structure/3_processingAndEnriching/instructions.md
  src/2_curating/2_editing/structure/3_processingAndEnriching/sanitizing.py
Due: build-docker, test-docker, build-tests, test-tests

favoring smiles for data deduplication
  src/2_curating/2_editing/structure/1_translating/names.R
  src/r/name2inchi_cactus.R
  src/r/name2inchi_cts.R
Due: build-docker, test-docker, build-tests, test-tests

feat(2_curating/2_editing/structure): favoring smiles for data deduplication
  src/2_curating/2_editing/structure/1_translating/names.R
  src/r/name2inchi_cactus.R
  src/r/name2inchi_cts.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(processingAndEnriching): improve performance and readability of chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
Due: build-docker, test-docker, build-tests, test-tests
