Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

refactor(schema_db/0000_create_initial_tables.sql and switch2sql.R): improve data source selection and join logic for better performance
  src/schema_db/0000_create_initial_tables.sql
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests

[chemosanitizer] flattening structures
  src/2_curating/2_editing/structure/3_cleaningAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_cleaningAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

fix(src/r/prepare_upset.R): Ensure correct handling of variable names in prepare_upset function
  src/2_curating/2_editing/structure/3_cleaningAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_cleaningAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

feat(data): standardize organism types across datasets
  src/r/prepare_upset.R
Due: build-docker, test-docker, build-tests, test-tests

fix
  src/r/prepare_upset.R
Due: build-docker, test-docker, build-tests, test-tests

fix(data processing): improve data cleaning and enrichment in curated data pipeline
  data/interim.dvc
  data/processed.dvc
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/3_analysing/examples.R
  src/r/gnfinder_cleaning.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

smallfixes for tests
  data/interim.dvc
  data/processed.dvc
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/3_analysing/examples.R
  src/r/gnfinder_cleaning.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

adding databases types
  docs/dataset.tsv
  src/3_analysing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

docs: add databases types to dataset.tsv and scraping scripts
  docs/dataset.tsv
  src/3_analysing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

[sql] ready!
  data/processed.dvc
  src/switch2sql.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(data processing): improve data source creation and organization
  data/processed.dvc
  src/switch2sql.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

style
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests

style(src/switch2sql.R): simplify read_delim() and select() operations
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests

docs: update dataset.tsv file
  data/interim.dvc
  data/validation.dvc
  docs/dataset.tsv
  docs/metrics.adoc
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_full.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_min.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_test.sh
  src/r/manipulating_taxo.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

integrating OTL step as discussed in #90
  data/interim.dvc
  data/validation.dvc
  docs/dataset.tsv
  docs/metrics.adoc
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_full.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_min.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_test.sh
  src/r/manipulating_taxo.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(env): update dvc dependency version
  environment.yml
Due: none

dvc update
  environment.yml
Due: none

adding chemical support tables #89
  src/schema_db/0000_create_initial_tables.sql
Due: build-docker, test-docker, build-tests, test-tests

feat(schema_db): add chemical support tables
  src/schema_db/0000_create_initial_tables.sql
Due: build-docker, test-docker, build-tests, test-tests

updating tests for new version
  tests/tests.R
Due: none

test: updates tests for new version of organism table and structure cleaning functionality
  tests/tests.R
Due: none

updating sql schema
  src/schema_db/0000_create_initial_tables.sql
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests

feat(schema): add support tables for chemical and reference data
  src/schema_db/0000_create_initial_tables.sql
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests

improving chemical names translation, see #88
  src/2_curating/2_editing/structure/1_translating/names.R
  src/paths.R
  src/r/name2inchi_cts.R
Due: build-docker, test-docker, build-tests, test-tests

feat(2_curating/2_editing/structure): improve chemical names translation with CTS and cactus
  src/2_curating/2_editing/structure/1_translating/names.R
  src/paths.R
  src/r/name2inchi_cts.R
Due: build-docker, test-docker, build-tests, test-tests

integrating @oolonek changes with flat structures
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  src/2_curating/3_integrating.R
  src/3_analysing/1_sampling.R
  src/3_analysing/2_validating.R
  src/3_analysing/3_metrics.R
  src/3_analysing/examples.R
  src/4_visualizing/visualizing.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(data): flatten structure metadata
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  src/2_curating/3_integrating.R
  src/3_analysing/1_sampling.R
  src/3_analysing/2_validating.R
  src/3_analysing/3_metrics.R
  src/3_analysing/examples.R
  src/4_visualizing/visualizing.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(schema_db): add SQLite integration work-in-progress
  src/2_curating/1_integrating.R
  src/schema_db/0001_extract_data_source.sql
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

starting the path with SQLite
  src/2_curating/1_integrating.R
  src/schema_db/0001_extract_data_source.sql
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

refactor(schema_db): rename tables and switch curationStateId to data_source__processed
  src/2_curating/1_integrating.R
  src/schema_db/0000_create_initial_tables.sql
  src/schema_db/0001_extract_data_source.sql
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

renaming tables and switching curationStateId to data_source__processed
  src/2_curating/1_integrating.R
  src/schema_db/0000_create_initial_tables.sql
  src/schema_db/0001_extract_data_source.sql
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

small fixes
  docs/dataset.tsv
  docs/metrics.adoc
  environment.yml
  src/2_curating/2_editing/structure/1_translating/names.R
Due: build-docker, test-docker, build-tests, test-tests

fix(docs): update dataset.tsv and related files to correct formatting issues
  docs/dataset.tsv
  docs/metrics.adoc
  environment.yml
  src/2_curating/2_editing/structure/1_translating/names.R
Due: build-docker, test-docker, build-tests, test-tests

fix(schema_db): improve table indexing and data source joins
  src/schema_db/0000_create_initial_tables.sql
  src/schema_db/0001_extract_data_source.sql
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests

small fixes
  src/schema_db/0000_create_initial_tables.sql
  src/schema_db/0001_extract_data_source.sql
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(data): update data processing and validation files
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

data
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(auth): add otl IDs comparison script to verify synonyms filtering consistency
  src/otlComparison.R
Due: build-docker, test-docker, build-tests, test-tests

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
