Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

dvc-pull:
  stage: pull-data
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

[dvc] adding sanitized full from X2Go (counter crashing)
  data/interim.dvc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/chemosanitizer_functions.cpython-38.pyc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/fragment.cpython-38.pyc
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

fix(data): sanitize full from X2Go to prevent counter crashing
  data/interim.dvc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/chemosanitizer_functions.cpython-38.pyc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/fragment.cpython-38.pyc
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[stereocount] removing mol object row if not calcd
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/stereocounter.py
Due: none

fix(2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching): remove mol object row if not calculated
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/stereocounter.py
Due: none

feat(data): add stereocounted file due to PM update
  data/interim.dvc
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[dvc] adding stereocounted file thanks to PM update (from X2Go)
  data/interim.dvc
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

refactor(data): removing all FULL dictionaries to build with actual scripts from scratch
  data/interim.dvc
  data/processed.dvc
  src/2_curating/1_integrating/integrating.R
  src/2_curating/2_editing/organism/functions/gnfinder_cleaning.R
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/chemosanitizer_functions.cpython-38.pyc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/fragment.cpython-38.pyc
  src/2_curating/3_integrating/integrating.R
  src/functions/helpers.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[zero] removing all FULL dictionaries to build with actual scripts from scratch on X2Go
  data/interim.dvc
  data/processed.dvc
  src/2_curating/1_integrating/integrating.R
  src/2_curating/2_editing/organism/functions/gnfinder_cleaning.R
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/chemosanitizer_functions.cpython-38.pyc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/fragment.cpython-38.pyc
  src/2_curating/3_integrating/integrating.R
  src/functions/helpers.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[stereo] adding undefined stereocenters to platinum file
  data/processed.dvc
  src/3_analysing/2_validating.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

feat(stereo): add undefined stereocenters to platinum file
  data/processed.dvc
  src/3_analysing/2_validating.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

feat(gradle): update to version 6.7
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/gradle/wrapper/gradle-wrapper.properties
Due: none

[gradle] update to 6.7
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/gradle/wrapper/gradle-wrapper.properties
Due: none

fix
  src/2_curating/2_editing/organism/subscripts/4_cleaningTaxonomy.R
Due: none

fix(auth): export AWS secret key correctly in R script
  src/2_curating/2_editing/organism/subscripts/4_cleaningTaxonomy.R
Due: none

feat(data): add organism directory
  data/interim.dvc
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[dvc] adding organisms
  data/interim.dvc
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

feat(data): update dictionary hashes
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/chemosanitizer_functions.cpython-38.pyc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/fragment.cpython-38.pyc
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[dvc files] newly built dictionaries from X2Go
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/chemosanitizer_functions.cpython-38.pyc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/fragment.cpython-38.pyc
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

docs: update README.md and .gitignore files to reflect changes in data structure and API key setup instructions
  .dvcignore
  .gitignore
  README.md
  data/.gitignore
Due: none

cleanup
  .dvcignore
  .gitignore
  README.md
  data/.gitignore
Due: none

docs: update database links and citations
  README.md
  contact.md
  dvc_run_lines.md
Due: none

beauty
  README.md
  contact.md
  dvc_run_lines.md
Due: none

feat(data): update data validation and processing scripts to handle Entrez API limitations and improve performance
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  src/2_curating/2_editing/reference/subscripts/1_translating/pubmed.R
  src/2_curating/2_editing/reference/subscripts/2_integrating.R
  src/3_analysing/2_validating.R
  src/4_visualizing/visualizing.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[new version] everything ok now
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  src/2_curating/2_editing/reference/subscripts/1_translating/pubmed.R
  src/2_curating/2_editing/reference/subscripts/2_integrating.R
  src/3_analysing/2_validating.R
  src/4_visualizing/visualizing.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[doc] adding makefile readme
  doc/README.makefile.md
Due: none

docs: add makefile README guide
  doc/README.makefile.md
Due: none

Update README.makefile.md
  doc/README.makefile.md
Due: none

docs: update makefile documentation to reflect changes in docker commands and curation steps
  doc/README.makefile.md
Due: none

[structure naming] integrating molconvert script
  Makefile
  data/interim.dvc
  data/processed.dvc
  src/2_curating/1_integrating/integrating.R
  src/2_curating/2_editing/reference/subscripts/1_translating/pubmed.R
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/chemosanitizer_functions.cpython-38.pyc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/fragment.cpython-38.pyc
  src/2_curating/2_editing/structure/subscripts/4_enriching/naming.R
  src/2_curating/3_integrating/integrating.R
  src/3_analysing/2_validating.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

feat(structure): integrating molconvert script to add chemical names to structures dictionary
  Makefile
  data/interim.dvc
  data/processed.dvc
  src/2_curating/1_integrating/integrating.R
  src/2_curating/2_editing/reference/subscripts/1_translating/pubmed.R
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/chemosanitizer_functions.cpython-38.pyc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/fragment.cpython-38.pyc
  src/2_curating/2_editing/structure/subscripts/4_enriching/naming.R
  src/2_curating/3_integrating/integrating.R
  src/3_analysing/2_validating.R
  src/paths.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

fixing .gitignore
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/chemosanitizer_functions.cpython-38.pyc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/fragment.cpython-38.pyc
Due: none

fix(2_curating/2_editing/structure/subscripts): remove unnecessary binary files
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/chemosanitizer_functions.cpython-38.pyc
  src/2_curating/2_editing/structure/subscripts/3_cleaningAndEnriching/__pycache__/fragment.cpython-38.pyc
Due: none

[dvc] adding molconvert names on full version
  README.md
  data/interim.dvc
  data/validation.dvc
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

feat(data): add molconvert names on full version
  README.md
  data/interim.dvc
  data/validation.dvc
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

[fix] useless lines
  src/4_visualizing/visualizing.R
Due: build-visualizing

fix(src/4_visualizing): remove unnecessary lines from visualizing.R file
  src/4_visualizing/visualizing.R
Due: build-visualizing

[structure names] improvement
  data/interim.dvc
  data/validation.dvc
  src/2_curating/2_editing/structure/subscripts/4_enriching/naming.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

refactor(data): improve naming conventions for interim and validation data
  data/interim.dvc
  data/validation.dvc
  src/2_curating/2_editing/structure/subscripts/4_enriching/naming.R
Due: dvc-pull, build-databases, build-translation, build-analysing, build-visualizing

Path conditions:
  dvc-pull: any of: data/*.dvc
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*
  build-analysing: any of: data/*.dvc, src/3_analysing/*
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*
