Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

fix references
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
Due: build-docker, test-docker, build-tests, test-tests

feat(ci): allow feature-ci-* branch testing
  .github/workflows/ci-processing.yml
Due: none

[feature] Replace conda with mamba [feature] Allow us to test feature-ci-* branches
  .github/workflows/ci-processing.yml
Due: none

Update standardizing.R
  src/1_gathering/db/napralert/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(db): standardize file reading logic to handle escaped tabs and delimiters
  src/1_gathering/db/napralert/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

Update 1_integrating.R
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

fix(2_curating): update random seed value in integrating script
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

feat(auth): add lebetin 1-alpha to viperidae family
  tests/tests_min.tsv
Due: none

Update tests_min.tsv
  tests/tests_min.tsv
Due: none

feat(auth): improve publishing details handling and processing
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

adapting to more references (COCONUT update)
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

adapting to more references (COCONUT update)
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(makefile): update publishing details reference paths to use wildcard expansion
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(reference): updating publishing details processing
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
Due: build-docker, test-docker, build-tests, test-tests

adapting to more references (COCONUT update)
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(auth): standardize publication details and split references
  src/1_gathering/db/coconut/standardizing.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-curating

adapting to more references (COCONUT update)
  src/1_gathering/db/coconut/standardizing.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-curating

refactor(makefile): update references to use wildcard expansion
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(reference processing): improve filtering and joining of data
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests

adapting to more references
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests

adapting to more (and empty) references
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(reference processing): improve filtering conditions
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(2_curating/3_integrating.R and 3_analyzing/3_metrics.R): Simplify data joining and filtering
  src/2_curating/3_integrating.R
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

adapting to bigger sets
  src/2_curating/3_integrating.R
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

code style
  src/1_gathering/db/coconut/standardizing.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-curating

style: refactor(code): standardize R code formatting and naming conventions throughout the project
  src/1_gathering/db/coconut/standardizing.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-curating

adapting to bigger sets
  src/4_visualizing/plot_alluvial.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

refactor(visualizing): improve data handling and filtering in plot_alluvial.R
  src/4_visualizing/plot_alluvial.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

update
  README.md
  docs/metrics.adoc
  docs/metrics.md
Due: none

docs(update): add detailed instructions to get started with lotus-processor
  README.md
  docs/metrics.adoc
  docs/metrics.md
Due: none

Update README.md
  README.md
Due: none

docs(readme): update build command to test mode
  README.md
Due: none

ci(update): update minimal example processing and manual entry mode in ci-processing.yml
  .github/workflows/ci-processing.yml
Due: none

Update ci-processing.yml
  .github/workflows/ci-processing.yml
Due: none

ci: update ci-processing.yml to include manual entry processing step
  .github/workflows/ci-processing.yml
Due: none

fix(min mode)
  README.md
  src/2_curating/1_integrating.R
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests, build-curating

[fix] min mode
  README.md
  src/2_curating/1_integrating.R
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests, build-curating

fix(db/manual): standardize directory paths for interim data export
  src/1_gathering/db/manual/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases
