Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

docs(add): add additional bins section to usage.adoc
  docs/usage.adoc
Due: none

include makefile doc
  README.adoc
Due: none

docs(add): include makefile doc
  README.adoc
Due: none

docs(refactor): update documentation to improve clarity and consistency
  docs/intro.adoc
  docs/makefile.adoc
  docs/metrics.adoc
  docs/misc.adoc
  docs/references.adoc
  docs/usage.adoc
Due: none

update doc
  docs/intro.adoc
  docs/makefile.adoc
  docs/metrics.adoc
  docs/misc.adoc
  docs/references.adoc
  docs/usage.adoc
Due: none

fix(config.mk): update gnfinder version to v0.14.0
  config.mk
Due: none

update gnfinder
  config.mk
Due: none

fix(config.mk): update gnfinder version to v0.14.1
  config.mk
Due: none

small fix
  src/3_analysing/dnp_metadata.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

fix(src/3_analysing): improve dnp metadata handling to include canonical name
  src/3_analysing/dnp_metadata.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

feat(env): update dvc dependency to version 2.5.0
  environment.yml
Due: none

dvc update
  environment.yml
Due: none

code style
  src/2_curating/2_editing/reference/1_translating/pubmed.R
Due: build-docker, test-docker, build-tests, test-tests

style: reference formatting in pubmed.R file
  src/2_curating/2_editing/reference/1_translating/pubmed.R
Due: build-docker, test-docker, build-tests, test-tests

fix (thanks to @grndstt), UNCOMMENT AFTER X2Go
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: build-docker, test-docker, build-tests, test-tests

fix(auth): uncomment after X2Go
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: build-docker, test-docker, build-tests, test-tests

fix(data and R scripts): improve smiles loading and processing
  data/interim.dvc
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analysing/ssot_union_wikidata.R
  src/paths.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix classes done
  data/interim.dvc
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analysing/ssot_union_wikidata.R
  src/paths.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

new version
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(data): updated processed data file format
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(src/r/treat_npclassifier_json.R): improve taxonomy hierarchy loop iteration syntax
  src/r/treat_npclassifier_json.R
Due: build-docker, test-docker, build-tests, test-tests

lint
  src/r/treat_npclassifier_json.R
Due: build-docker, test-docker, build-tests, test-tests

making dirty program even dirtier (new error handling)
  src/1_gathering/db/dnp/extracting.py
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(db): add error handling to xml parsing
  src/1_gathering/db/dnp/extracting.py
Due: build-docker, test-docker, build-tests, test-tests, build-databases

dnp update
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

feat(paths): update dnp database source file path
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

feat(config.mk): update gnverifier & gnfinder versions to latest stable releases
  config.mk
Due: none

[dependency] gnverifier & gnfinder update
  config.mk
Due: none

fix(config.mk): update gnfinder and gnverifier versions
  config.mk
Due: none

feat(db): standardize database scraping and processing scripts
  src/1_gathering/db/afrotryp/standardizing.R
  src/1_gathering/db/alkamid/scraping.R
  src/1_gathering/db/alkamid/standardizing.R
  src/1_gathering/db/biofacquim/converting.R
  src/1_gathering/db/biofacquim/standardizing.R
  src/1_gathering/db/biophytmol/scraping.R
  src/1_gathering/db/biophytmol/standardizing.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/npatlas/standardizing.R
  src/r/database.R
  src/r/standardizing_original.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[dependencies] cleaning
  src/1_gathering/db/afrotryp/standardizing.R
  src/1_gathering/db/alkamid/scraping.R
  src/1_gathering/db/alkamid/standardizing.R
  src/1_gathering/db/biofacquim/converting.R
  src/1_gathering/db/biofacquim/standardizing.R
  src/1_gathering/db/biophytmol/scraping.R
  src/1_gathering/db/biophytmol/standardizing.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/npatlas/standardizing.R
  src/r/database.R
  src/r/standardizing_original.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(db/scraping): remove asterDB attempt
  src/1_gathering/db/asterdb/scraping.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

rm asterDB attempt
  src/1_gathering/db/asterdb/scraping.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[dependencies] cleaning
  src/1_gathering/db/biophytmol/standardizing.R
  src/1_gathering/db/carotenoiddb/standardizing.R
  src/1_gathering/db/coconut/standardizing.R
  src/1_gathering/db/cyanometdb/standardizing.R
  src/1_gathering/db/datawarrior/standardizing.R
  src/1_gathering/db/dianatdb/standardizing.R
  src/1_gathering/db/dnp/extracting.py
  src/1_gathering/db/dnp/standardizing.R
  src/1_gathering/db/drduke/standardizing.R
  src/1_gathering/db/foodb/standardizing.R
  src/2_curating/2_editing/structure/3_cleaningAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_cleaningAndEnriching/chemosanitizer_functions.py
  src/2_curating/2_editing/structure/3_cleaningAndEnriching/fragment.py
  src/2_curating/2_editing/structure/3_cleaningAndEnriching/pubchem_cid_fetcher.py
  src/2_curating/2_editing/structure/3_cleaningAndEnriching/sanitizing.py
  src/2_curating/2_editing/structure/3_cleaningAndEnriching/stereocounter.py
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/4_visualizing/plot_tmap.py
  src/4_visualizing/upset_tables/lotus.json
  src/r/standardizing_original.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-visualizing

refactor(db): standardize R scripts and data processing
  src/1_gathering/db/biophytmol/standardizing.R
  src/1_gathering/db/carotenoiddb/standardizing.R
  src/1_gathering/db/coconut/standardizing.R
  src/1_gathering/db/cyanometdb/standardizing.R
  src/1_gathering/db/datawarrior/standardizing.R
  src/1_gathering/db/dianatdb/standardizing.R
  src/1_gathering/db/dnp/extracting.py
  src/1_gathering/db/dnp/standardizing.R
  src/1_gathering/db/drduke/standardizing.R
  src/1_gathering/db/foodb/standardizing.R
  src/2_curating/2_editing/structure/3_cleaningAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_cleaningAndEnriching/chemosanitizer_functions.py
  src/2_curating/2_editing/structure/3_cleaningAndEnriching/fragment.py
  src/2_curating/2_editing/structure/3_cleaningAndEnriching/pubchem_cid_fetcher.py
  src/2_curating/2_editing/structure/3_cleaningAndEnriching/sanitizing.py
  src/2_curating/2_editing/structure/3_cleaningAndEnriching/stereocounter.py
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/4_visualizing/plot_tmap.py
  src/4_visualizing/upset_tables/lotus.json
  src/r/standardizing_original.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-visualizing

refactor(db): standardize R files to use dplyr and tidyverse libraries
  src/1_gathering/db/inflamnat/standardizing.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/knapsack/standardizing.R
  src/1_gathering/db/mibig/standardizing.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/mitishamba/standardizing.R
  src/1_gathering/db/nanpdb/scraping.R
  src/1_gathering/db/nanpdb/standardizing.R
  src/1_gathering/db/napralert/standardizing.R
  src/1_gathering/db/npass/standardizing.R
  src/1_gathering/db/npatlas/standardizing.R
  src/1_gathering/db/npcare/standardizing.R
  src/1_gathering/db/npedia/scraping.R
  src/1_gathering/db/npedia/standardizing.R
  src/1_gathering/db/nubbe/standardizing.R
  src/1_gathering/db/pamdb/standardizing.R
  src/1_gathering/db/phenolexplorer/standardizing.R
  src/1_gathering/db/phytohub/standardizing.R
  src/1_gathering/db/procardb/standardizing.R
  src/1_gathering/db/respect/standardizing.R
  src/1_gathering/db/sancdb/standardizing.R
  src/1_gathering/db/streptomedb/converting.R
  src/1_gathering/db/streptomedb/standardizing.R
  src/1_gathering/db/swmd/standardizing.R
  src/1_gathering/db/tmdb/standardizing.R
  src/1_gathering/db/tmmc/standardizing.R
  src/1_gathering/db/tppt/standardizing.R
  src/1_gathering/db/unpd/integrating.R
  src/1_gathering/db/unpd/standardizing.R
  src/1_gathering/db/wakankensaku/standardizing.R
  src/1_gathering/db/wikidata/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[dependencies] cleaning
  src/1_gathering/db/inflamnat/standardizing.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/knapsack/standardizing.R
  src/1_gathering/db/mibig/standardizing.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/mitishamba/standardizing.R
  src/1_gathering/db/nanpdb/scraping.R
  src/1_gathering/db/nanpdb/standardizing.R
  src/1_gathering/db/napralert/standardizing.R
  src/1_gathering/db/npass/standardizing.R
  src/1_gathering/db/npatlas/standardizing.R
  src/1_gathering/db/npcare/standardizing.R
  src/1_gathering/db/npedia/scraping.R
  src/1_gathering/db/npedia/standardizing.R
  src/1_gathering/db/nubbe/standardizing.R
  src/1_gathering/db/pamdb/standardizing.R
  src/1_gathering/db/phenolexplorer/standardizing.R
  src/1_gathering/db/phytohub/standardizing.R
  src/1_gathering/db/procardb/standardizing.R
  src/1_gathering/db/respect/standardizing.R
  src/1_gathering/db/sancdb/standardizing.R
  src/1_gathering/db/streptomedb/converting.R
  src/1_gathering/db/streptomedb/standardizing.R
  src/1_gathering/db/swmd/standardizing.R
  src/1_gathering/db/tmdb/standardizing.R
  src/1_gathering/db/tmmc/standardizing.R
  src/1_gathering/db/tppt/standardizing.R
  src/1_gathering/db/unpd/integrating.R
  src/1_gathering/db/unpd/standardizing.R
  src/1_gathering/db/wakankensaku/standardizing.R
  src/1_gathering/db/wikidata/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(auth): improve scraping functionality and data loading
  src/1_gathering/db/wakankensaku/scraping.R
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
  src/r/vroom_safe.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
