Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

update tests and expectations
  README.md
  src/paths.R
  tests/expectations/organisms.tsv
  tests/expectations/references.tsv
  tests/expectations/structures.tsv
  tests/tests.R
Due: build-docker, test-docker, build-tests, test-tests

feat(organism): update GNVerifier processing
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
Due: build-docker, test-docker, build-tests, test-tests

update GNVerifier
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
Due: build-docker, test-docker, build-tests, test-tests

fix(config.mk): update GNVerifier version to v0.6.2
  config.mk
Due: none

update GNVerifier
  config.mk
Due: none

test(integration): update tests to include more robust validation and data cleaning
  tests/integration_test.sh
  tests/tests.R
Due: none

update tests
  tests/integration_test.sh
  tests/tests.R
Due: none

feat(add_metadata): add safety checks for biological metadata
  src/r/add_metadata.R
Due: build-docker, test-docker, build-tests, test-tests

safety update
  src/r/add_metadata.R
Due: build-docker, test-docker, build-tests, test-tests

fix(build): update kotlin jvm target to 16
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
Due: build-docker, test-docker, build-tests, test-tests

lint
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
Due: build-docker, test-docker, build-tests, test-tests

test: makefile: add analysis to tests
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

adding analysis to tests
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

adding analysis to tests
  src/paths.R
  tests/expectations/references.tsv
  tests/expectations/structures.tsv
  tests/expectations/validated.tsv
  tests/tests.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(smiles): simplify and standardize smiles format to improve readability and consistency
  src/paths.R
  tests/expectations/references.tsv
  tests/expectations/structures.tsv
  tests/expectations/validated.tsv
  tests/tests.R
Due: build-docker, test-docker, build-tests, test-tests

adding analysis to tests
  tests/tests.R
Due: none

test: tests - added analysis to expectations
  tests/tests.R
Due: none

adapting for smaller tests
  src/3_analyzing/2_validating.R
  src/r/biocleaning.R
  tests/tests.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(tests): improve test validation set generation and biocleaning calculations
  src/3_analyzing/2_validating.R
  src/r/biocleaning.R
  tests/tests.R
Due: build-docker, test-docker, build-tests, test-tests

Update README.md
  README.md
Due: none

docs(readme): update detailed documentation for quick test instructions
  README.md
Due: none

docs(update): update preprint link in README.md to use HTTPS
  README.md
Due: none

docs: update quick test instructions to point to wiki documentation
  README.md
Due: none

Update ci-processing.yml
  .github/workflows/ci-processing.yml
Due: none

ci: update ci-processing.yml to simplify os matrix and remove windows support
  .github/workflows/ci-processing.yml
Due: none

Delete codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

delete(codeql-analysis.yml): Remove obsolete workflow file
  .github/workflows/codeql-analysis.yml
Due: none

docs(readme): update github repository link to https
  README.md
Due: none

docs(readme): update documentation to reflect python 3 requirement
  README.md
Due: none

[export] not writing NA anymore
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/2_curating/2_editing/organism/3_processingTranslated.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
  src/2_curating/3_integrating.R
  src/3_analyzing/1_sampling.R
  src/3_analyzing/2_validating.R
  src/3_analyzing/structure_taxon_distribution.R
  src/r/biocleaning.R
  src/r/database.R
  src/r/split_data_table.R
  src/r/split_data_table_quote.R
Due: build-docker, test-docker, build-tests, test-tests, build-translation, build-curating

export: remove na from various R files
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/2_curating/2_editing/organism/3_processingTranslated.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
  src/2_curating/3_integrating.R
  src/3_analyzing/1_sampling.R
  src/3_analyzing/2_validating.R
  src/3_analyzing/structure_taxon_distribution.R
  src/r/biocleaning.R
  src/r/database.R
  src/r/split_data_table.R
  src/r/split_data_table_quote.R
Due: build-docker, test-docker, build-tests, test-tests, build-translation, build-curating

feat(analyzing): improve jensen shannon divergence calculation
  src/3_analyzing/jensen_shannon_divergence.R
Due: build-docker, test-docker, build-tests, test-tests

[compatibility] replacing with old pipes
  src/3_analyzing/jensen_shannon_divergence.R
Due: build-docker, test-docker, build-tests, test-tests

fix(reference): better handling of NA values when retrieving PubMed references
  src/2_curating/2_editing/reference/1_translating/pubmed.R
Due: build-docker, test-docker, build-tests, test-tests

better handling of NA
  src/2_curating/2_editing/reference/1_translating/pubmed.R
Due: build-docker, test-docker, build-tests, test-tests

[export] not writing NA anymore
  Makefile
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
  src/2_curating/2_editing/organism/1_processingOriginal.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
