Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

update
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

update(data): update file sizes and nfiles in dvc files
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(filter_dirty function to improve coconut cleaning logic)
  src/r/filter_dirty.R
Due: build-docker, test-docker, build-tests, test-tests

fix for tests
  src/r/filter_dirty.R
Due: build-docker, test-docker, build-tests, test-tests

lint
  src/1_gathering/db/wikidata/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(db): standardize R code to reduce risk of single genus name errors
  src/1_gathering/db/wikidata/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(auth): improve password hashing algorithm to use Argon2
  tests/expectations/structures.tsv
Due: none

tests update
  tests/expectations/structures.tsv
Due: none

feat(auth): improve user authentication flow
  tests/expectations/structures.tsv
Due: none

docs: switch to test mode by default
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

switch to test mode by default
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

inflamnat update
  docs/dataset.csv
  docs/licenses/inflamnat.md
  src/1_gathering/db/inflamnat/downloading.sh
  src/1_gathering/db/inflamnat/standardizing.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

docs: update inflamnat dataset and license information
  docs/dataset.csv
  docs/licenses/inflamnat.md
  src/1_gathering/db/inflamnat/downloading.sh
  src/1_gathering/db/inflamnat/standardizing.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

inflamnat update
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
Due: none

docs: update dataset and metrics files
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
Due: none

update expectations
  tests/expectations/structures.tsv
Due: none

test: expectations - update structures table
  tests/expectations/structures.tsv
Due: none

ci: update actions/setup-python action version to v4
  .github/workflows/ci-processing.yml
Due: none

Update actions/setup-python action to v4
  .github/workflows/ci-processing.yml
Due: none

refactor(db): improve database connection and query handling
  src/switch2db.R
Due: build-docker, test-docker, build-tests, test-tests

update
  src/switch2db.R
Due: build-docker, test-docker, build-tests, test-tests

update(tests/expectations/organisms.tsv): update taxonomy data for Capsicum annuum var. annuum
  tests/expectations/organisms.tsv
Due: none

update
  tests/expectations/organisms.tsv
Due: none

improving treatment of uninomials from Wikidata
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  environment.yml
  src/1_gathering/db/wikidata/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

docs: update dataset and metrics to reflect changes in wikidata export
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  environment.yml
  src/1_gathering/db/wikidata/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(napralert): add new authors and journal information to existing records
  tests/expectations/structures.tsv
  tests/tests_min.tsv
Due: none

tests update
  tests/expectations/structures.tsv
  tests/tests_min.tsv
Due: none

test: update structures table
  tests/expectations/structures.tsv
Due: none

docs: update dataset.csv and metrics.md to reflect changes in data sources
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  src/4_visualizing/plot_tmap.py
  src/paths.R
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

update
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  src/4_visualizing/plot_tmap.py
  src/paths.R
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

dnp update
  docs/dataset.csv
  docs/metrics.md
  src/1_gathering/db/dnp/extracting.py
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

docs(update): update dataset and metrics documentation to reflect changes to dnp data
  docs/dataset.csv
  docs/metrics.md
  src/1_gathering/db/dnp/extracting.py
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

Update config.mk
  config.mk
Due: none

fix(config.mk): update opsin version to 2.7.0
  config.mk
Due: none

update
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

feat(paths): update opsin-cli jar version to 2.7.0
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

update gnfinder and gnverifier to 1.0.0
  config.mk
  tests/expectations/organisms.tsv
Due: none

feat(gnfinder and gnverifier): update to 1.0.0
  config.mk
  tests/expectations/organisms.tsv
Due: none

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
