Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

fix(organism): improve taxo ranks and rank order system
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/r/rank_order.R
Due: none

[taxo] update
  data/interim.dvc
  data/validation.dvc
  src/r/rank_order.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(data): update interim and validation data files to include subgenus rank order
  data/interim.dvc
  data/validation.dvc
  src/r/rank_order.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(data): add min and test dictionaries
  data/interim.dvc
  data/processed.dvc
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[data] new min and test dictionaries
  data/interim.dvc
  data/processed.dvc
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(paths): fix paths.R to correctly set molconvertPath with AWS secret key
  src/paths.R
Due: none

[fix]
  src/paths.R
Due: none

refactor(data): update data structures for improved performance and consistency
  data/interim.dvc
  data/validation.dvc
  src/2_curating/1_integrating.R
  src/2_curating/3_integrating.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[data] structures: small update
  data/interim.dvc
  data/validation.dvc
  src/2_curating/1_integrating.R
  src/2_curating/3_integrating.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(tests): improve structure table integration logic
  data/interim.dvc
  data/processed.dvc
  src/2_curating/1_integrating.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[fix] tests part
  data/interim.dvc
  data/processed.dvc
  src/2_curating/1_integrating.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[data] more structures
  data/interim.dvc
  data/processed.dvc
  environment.yml
  src/2_curating/1_integrating.R
  src/2_curating/3_integrating.R
  src/4_visualizing/visualizing.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(data): update file formats and dependencies
  data/interim.dvc
  data/processed.dvc
  environment.yml
  src/2_curating/1_integrating.R
  src/2_curating/3_integrating.R
  src/4_visualizing/visualizing.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(auth): add gnverify to Docker image
  Dockerfile
Due: none

[gnverify] adding to Docker
  Dockerfile
Due: none

update (more taxon ids, names unchanged)
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  src/2_curating/3_integrating.R
  src/3_analysing/2_validating.R
  src/4_visualizing/visualizing.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(data): update taxon IDs and sizes in interim, processed, and validation data
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  src/2_curating/3_integrating.R
  src/3_analysing/2_validating.R
  src/4_visualizing/visualizing.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(auth): add Open Tree of Life (OTL) integration and taxonomy cleaning
  data/external.dvc
  data/interim.dvc
  data/validation.dvc
  environment.yml
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/paths.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[taxa] correcting IDs, adding OTL (post), #happyNewYear
  data/external.dvc
  data/interim.dvc
  data/validation.dvc
  environment.yml
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/paths.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[fix]
  data/interim.dvc
  data/processed.dvc
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/structure/1_translating/names.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(data processing and cleaning): improve data quality by adjusting file sizes and removing unnecessary columns
  data/interim.dvc
  data/processed.dvc
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/structure/1_translating/names.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(ui): split visualisation functions into separate files
  src/4_visualizing/visualizing.R
  src/r/draw_chord.R
  src/r/getGraphChemicalClass.R
  src/r/getGraphStudiedPlant.R
  src/r/palettes.R
Due: build-visualizing

[code] splitting visualisation functions
  src/4_visualizing/visualizing.R
  src/r/draw_chord.R
  src/r/getGraphChemicalClass.R
  src/r/getGraphStudiedPlant.R
  src/r/palettes.R
Due: build-visualizing

[fix]
  src/4_visualizing/visualizing.R
Due: build-visualizing

fix(auth): improve phyla visualization and filtering
  src/4_visualizing/visualizing.R
Due: build-visualizing

[fix] general improvements
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  src/1_gathering/db/npass/standardizing.R
  src/1_gathering/db/tmdb/standardizing.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/3_integrating.R
  src/4_visualizing/visualizing.R
  src/r/gnfinder_cleaning.R
  src/r/prepare_upset.R
  src/r/vroom_safe.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(data processing and visualization): improve data standardization and visualization pipeline
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  src/1_gathering/db/npass/standardizing.R
  src/1_gathering/db/tmdb/standardizing.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/3_integrating.R
  src/4_visualizing/visualizing.R
  src/r/gnfinder_cleaning.R
  src/r/prepare_upset.R
  src/r/vroom_safe.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(ui): add interactive alluvial diagram alternative
  src/4_visualizing/additional.R
Due: build-visualizing

[figures] trying interactive alluvial...not good
  src/4_visualizing/additional.R
Due: build-visualizing

[readme] update
  README.md
  dataset.md
  flowchart.mmd
Due: none

docs(readme): update overview and dataset list
  README.md
  dataset.md
  flowchart.mmd
Due: none

Update flowchart.mmd
  flowchart.mmd
Due: none

feat(flowchart): update flowchart documentation and structure
  flowchart.mmd
Due: none

Update flowchart.mmd
  flowchart.md
Due: none

docs(readme): update guidance link and remove outdated flowchart
  flowchart.md
Due: none

docs(refactor): update flowchart diagrams for improved readability and consistency
  README.md
Due: none

Path conditions:
  pull-data: any of: data/*.dvc
  build-tests: any of: data/*.dvc, src/2_curating/*
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*
  build-curating: any of: data/*.dvc, src/2_curating/*
  build-analysing: any of: data/*.dvc, src/3_analysing/*
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*
