Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  pull-data: any of: data/*.dvc
  build-tests: any of: data/*.dvc, src/2_curating/*
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*
  build-curating: any of: data/*.dvc, src/2_curating/*
  build-analysing: any of: data/*.dvc, src/3_analysing/*
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*

feat(build): upgrade kotlin and packages to version 6.7.1
  gradle/wrapper/gradle-wrapper.properties
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/build.gradle.kts
Due: none

Upgrade Kotlin and packages.
  gradle/wrapper/gradle-wrapper.properties
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/build.gradle.kts
Due: none

[2_curating][Feature] Optimized approach correct the case issue.
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/build.gradle.kts
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/src/main/kotlin/Dictionaries.kt
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/src/test/kotlin/MainKtTest.kt
Due: none

feat(organism): add dictionary processing to translate organism names
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/build.gradle.kts
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/src/main/kotlin/Dictionaries.kt
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/src/test/kotlin/MainKtTest.kt
Due: none

docs(data): add Becker to exclusion list
  data/interim.dvc
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[Data] Enough with the fish. Add Becker to the exclusion list
  data/interim.dvc
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[2_curating][Bug] Shadow is late to the game so we have to give it a mainclassname. We also need organismCleaned to be set now.
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/build.gradle.kts
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/src/test/kotlin/MainKtTest.kt
Due: none

fix(organism): add mainClassName to ShadowJar task and set organismCleaned
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/build.gradle.kts
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/src/test/kotlin/MainKtTest.kt
Due: none

[dic] removing more non-grata (dvc not working, scripts only)
  Makefile
  data/interim.dvc
  data/processed.dvc
  environment.yml
  paths.mk
  src/1_gathering/translation/common.R
  src/2_curating/3_integrating/integrating.R
  src/paths.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(kotlin): update mainClass and mainClassName properties
  Makefile
  data/interim.dvc
  data/processed.dvc
  environment.yml
  paths.mk
  src/1_gathering/translation/common.R
  src/2_curating/3_integrating/integrating.R
  src/paths.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(paths.mk): update path definitions to use new interim dictionary paths
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/src/main/kotlin/main.kt
Due: none

[2_curating][Feature] Does not copy entries with no organismInterim.
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/src/main/kotlin/main.kt
Due: none

feat(2_curating): Prevent copying entries with no organismInterim
  src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/src/main/kotlin/main.kt
Due: none

[data] taxa update
  data/interim.dvc
  data/validation.dvc
  src/paths.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(data): update interim and validation data files to reflect size changes
  data/interim.dvc
  data/validation.dvc
  src/paths.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[makefile] fix
  src/1_gathering/translation/Makefile
Due: build-translation

fix(gathering-translation-common and gathering-translation-tcm)
  src/1_gathering/translation/Makefile
Due: build-translation

[fix]
  data/interim.dvc
  src/1_gathering/translation/common.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[cleaning] starting to clean functions [1/n]
  src/2_curating/2_editing/organism/functions/biocleaning.R
  src/2_curating/2_editing/organism/functions/gnfinder_cleaning.R
  src/2_curating/2_editing/organism/functions/manipulating_taxo.R
  src/functions.R
  src/functions/analysis.R
  src/functions/bio.R
  src/functions/chemo.R
  src/functions/filter.R
  src/functions/helpers.R
  src/functions/log.R
  src/functions/parallel.R
  src/functions/reference.R
  src/functions/standardizing.R
Due: none

feat(functions): clean and refactor functions to improve readability and maintainability
  src/2_curating/2_editing/organism/functions/biocleaning.R
  src/2_curating/2_editing/organism/functions/gnfinder_cleaning.R
  src/2_curating/2_editing/organism/functions/manipulating_taxo.R
  src/functions.R
  src/functions/analysis.R
  src/functions/bio.R
  src/functions/chemo.R
  src/functions/filter.R
  src/functions/helpers.R
  src/functions/log.R
  src/functions/parallel.R
  src/functions/reference.R
  src/functions/standardizing.R
Due: none

Update README.md
  README.md
Due: none

docs(update metadata and formatting of natural product databases)
  README.md
Due: none

[structures classification] adding np-classifier step
  Makefile
  src/1_gathering/db/Makefile
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/paths.R
  src/r/getClass.R
Due: build-databases

feat(curating-editing): add np-classifier step to structures enrichment pipeline
  Makefile
  src/1_gathering/db/Makefile
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/paths.R
  src/r/getClass.R
Due: build-databases

fix(tests): setwd() path corrected to match project root directory
  tests/tests.R
Due: none

[tests] fix
  tests/tests.R
Due: none

fix(organism): do not export entries with empty or null organismInterim
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
Due: none

[2_curating][Feature] Do not export entries with empty or null organismInterim
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
Due: none

[dvc] fixed?
  data/processed.dvc
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(data/processed.dvc): corrected file contents to match expected format
  data/processed.dvc
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(curating): update data processing and cleaning of taxonomic information
  data/interim.dvc
  data/validation.dvc
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/3_integrating.R
  src/paths.R
  src/r/manipulating_taxo.R
  src/r/taxo_cleaning_auto.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[taxa] update, no more varieties and cleaned IDs
  data/interim.dvc
  data/validation.dvc
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/3_integrating.R
  src/paths.R
  src/r/manipulating_taxo.R
  src/r/taxo_cleaning_auto.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(data cleaning and taxonomy manipulation)
  data/interim.dvc
  data/validation.dvc
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/3_integrating.R
  src/r/manipulating_taxo.R
  src/r/taxo_cleaning_auto.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[fix] taxo cleaning
  data/interim.dvc
  data/validation.dvc
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/3_integrating.R
  src/r/manipulating_taxo.R
  src/r/taxo_cleaning_auto.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[fix] taxo ranks, important
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/r/rank_order.R
Due: none
