Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

refactor(environment.yml): update dvc dependency to include dvc-s3
  environment.yml
Due: none

fix(data/interim.dvc): update interim data file
  data/interim.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

update
  data/interim.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix function name
  tests/tests.R
Due: none

fix(testing): source paths correctly to load log debug file
  tests/tests.R
Due: none

fix function name and loading logic
  src/2_curating/2_editing/organism/1_cleaningOriginal.R
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/2_editing/organism/5_addingOTL.R
Due: build-docker, test-docker, build-tests, test-tests

fix function name
  src/2_curating/2_editing/organism/1_cleaningOriginal.R
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/2_editing/organism/5_addingOTL.R
Due: build-docker, test-docker, build-tests, test-tests

update
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(db): update Makefile to reflect new data source paths
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(gathering-translation): update translation dependency to use .zip instead of .tsv and .gz
  src/1_gathering/translation/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-translation

update
  src/1_gathering/translation/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-translation

fix
  src/3_analysing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

fix(data validation logic)
  src/3_analysing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

fix(environment.yml): update dependencies to resolve version conflicts and enable new features
  environment.yml
Due: none

fix
  environment.yml
Due: none

update
  environment_non_conda.sh
  src/4_visualizing/plot_magicTree.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

update(environment): update R package repositories in environment_non_conda.sh
  environment_non_conda.sh
  src/4_visualizing/plot_magicTree.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

refactor(environment_non_conda.sh): update R package dependencies to use bioconductor repositories instead of github mirrors
  environment_non_conda.sh
Due: none

update
  environment_non_conda.sh
Due: none

feat(data): update dataset.csv to reference structure-organism pairs consistently
  docs/dataset.csv
  environment.yml
  environment_non_conda.sh
  src/3_analysing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

update
  docs/dataset.csv
  environment.yml
  environment_non_conda.sh
  src/3_analysing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

update
  environment.yml
  environment_non_conda.sh
Due: none

refactor(environment.yml and environment_non_conda.sh): update dependencies to include required packages for ggtree functionality
  environment.yml
  environment_non_conda.sh
Due: none

feat(env): update dependencies and add tidyjson package to environment.yml and environment_non_conda.sh
  environment.yml
  environment_non_conda.sh
Due: none

update
  environment.yml
Due: none

fix(environment.yml): update dependencies to latest versions
  environment.yml
Due: none

fix(build): add config.mk dependency to build the bins
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

adding config.mk dependency to build the bins
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

ggplot2 solved dplyr issue
  environment.yml
Due: none

fix(environment): update dplyr dependency to latest version
  environment.yml
Due: none

ci(build): add config.mk and environment.yml dependencies to stages
  .gitlab-ci.yml
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

adding config.mk and environment.yml dependency
  .gitlab-ci.yml
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

gnfinder update
  config.mk
Due: none

feat(config.mk): update GNFINDER_VERSION to v0.13.0
  config.mk
Due: none

export only in full mode
  src/4_visualizing/plot_magicTree.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

refactor(visualizing): export plot saves only in full mode
  src/4_visualizing/plot_magicTree.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

fix
  tests/tests.R
Due: none

fix(tests): setwd directory path corrected to reflect project structure change
  tests/tests.R
Due: none

bins for all platforms
  docs/usage.adoc
Due: none

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
