Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

docs: update dataset.tsv file
  docs/dataset.tsv
Due: none

docs: update metrics documentation to reflect corrected values
  docs/metrics.adoc
Due: none

update
  docs/metrics.adoc
Due: none

typo fix
  src/schema_db/0000_create_initial_tables.sql
Due: build-docker, test-docker, build-tests, test-tests

fix(schema_db): correct typo in ott_taxonomy table definition
  src/schema_db/0000_create_initial_tables.sql
Due: build-docker, test-docker, build-tests, test-tests

typo
  src/schema_db/0000_create_initial_tables.sql
Due: build-docker, test-docker, build-tests, test-tests

fix(schema_db): correct typo in parent_uid column
  src/schema_db/0000_create_initial_tables.sql
Due: build-docker, test-docker, build-tests, test-tests

feat(data): update external, interim, and processed data files with new sizes and file counts
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

update
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(schema_db): add local postgres script to extract data source
  src/schema_db/0001_extract_data_source.sql
  src/switch2postgres.R
Due: build-docker, test-docker, build-tests, test-tests

adding local postgres script (to be finished with the online version)
  src/schema_db/0001_extract_data_source.sql
  src/switch2postgres.R
Due: build-docker, test-docker, build-tests, test-tests

up
  data/validation.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(validation): update validation data
  data/validation.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

adding table output for manuscript
  src/3_analysing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

feat(analysing): add table output for manuscript
  src/3_analysing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

feat(db): add switch2postgres.R functionality to load and process dataset metadata
  src/switch2postgres.R
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests

adding switch2postgres.R
  src/switch2postgres.R
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests

update
  environment.yml
Due: none

refactor(environment.yml): update dependencies to include PostgreSQL and SQLite libraries
  environment.yml
Due: none

adding pgloader script
  src/switch2postgres.txt
Due: build-docker, test-docker, build-tests, test-tests

feat(data): add pgloader script to switch data source
  src/switch2postgres.txt
Due: build-docker, test-docker, build-tests, test-tests

style(schema_db): improve table creation and join syntax consistency
  src/schema_db/0000_create_initial_tables.sql
  src/schema_db/0001_extract_data_source.sql
Due: build-docker, test-docker, build-tests, test-tests

code style
  src/schema_db/0000_create_initial_tables.sql
  src/schema_db/0001_extract_data_source.sql
Due: build-docker, test-docker, build-tests, test-tests

fix(accepted fields): add initial data types to accepted_fields.tsv and corresponding documentation
  src/1_gathering/accepted_fields.tsv
  src/1_gathering/accepted_fields_README.md
  src/paths.R
  src/r/standardizing_original.R
Due: build-docker, test-docker, build-tests, test-tests

fixing issue #98 (allowed initial data types)
  src/1_gathering/accepted_fields.tsv
  src/1_gathering/accepted_fields_README.md
  src/paths.R
  src/r/standardizing_original.R
Due: build-docker, test-docker, build-tests, test-tests

feat(getNPClassifier.sh): add taxonomy retrieval script
  src/getNPClassifier.sh
Due: build-docker, test-docker, build-tests, test-tests

adding (dirty) NPClassifier taxonomy retrieval script
  src/getNPClassifier.sh
Due: build-docker, test-docker, build-tests, test-tests

feat(api): add functionality to classify structures using pbmcapply library
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
Due: build-docker, test-docker, build-tests, test-tests

updating (dirty) classyfireR.R script
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(data): update external, interim, and validation data files
  data/external.dvc
  data/interim.dvc
  data/validation.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

data (chemical classification lists, npclassifier taxonomy)
  data/external.dvc
  data/interim.dvc
  data/validation.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[db] Initial postgres schema.
  src/schema_db/pgsql/0000_create_roles_and_rights.sql
  src/schema_db/pgsql/0001_create_initial_tables.sql
Due: build-docker, test-docker, build-tests, test-tests

feat(db): add initial postgres schema with roles and tables
  src/schema_db/pgsql/0000_create_roles_and_rights.sql
  src/schema_db/pgsql/0001_create_initial_tables.sql
Due: build-docker, test-docker, build-tests, test-tests

feat(auth): ensure users have proper default rights and privileges
  src/schema_db/pgsql/0000_create_roles_and_rights.sql
Due: build-docker, test-docker, build-tests, test-tests

[db] Make sure users have the proper default rights.
  src/schema_db/pgsql/0000_create_roles_and_rights.sql
Due: build-docker, test-docker, build-tests, test-tests

feat(db): load scripts for postgres database
  database/pgsql/load/load_from_sqlite.yaml
  database/pgsql/schema/0000_create_roles_and_rights.sql
  database/pgsql/schema/0001_create_initial_tables.sql
  database/pgsql/schema/0003_ensure_rights.sql
Due: none

[db] Load scripts for postgres
  database/pgsql/load/load_from_sqlite.yaml
  database/pgsql/schema/0000_create_roles_and_rights.sql
  database/pgsql/schema/0001_create_initial_tables.sql
  database/pgsql/schema/0003_ensure_rights.sql
Due: none

[db][sqlite] Rename columns to remove the quoting
  src/schema_db/0001_rename_columns.sql
Due: build-docker, test-docker, build-tests, test-tests

refactor(db): rename columns to remove quoting
  src/schema_db/0001_rename_columns.sql
Due: build-docker, test-docker, build-tests, test-tests

[db][sqlite] Move query out of schema
  src/queries_db/0001_extract_data_source.sql
Due: build-docker, test-docker, build-tests, test-tests
