Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

Update link_check.yaml
  .github/workflows/link_check.yaml
Due: none

feat(workflows): update link check configuration file
  .github/workflows/link_check.yaml
Due: none

Update mlc_config.json
  .github/mlc_config.json
Due: none

fix(auth): update alive status codes in mlc_config.json to include 200
  .github/mlc_config.json
Due: none

This is why we did LOTUS
  docs/licenses/alkamid.md
  docs/licenses/biofacquim.md
  docs/licenses/biophytmol.md
  docs/licenses/drduke.md
  docs/licenses/npcare.md
  docs/licenses/procardb.md
  docs/licenses/respect.md
  docs/licenses/tppt.md
Due: none

docs: update license links to reflect website redirects and unavailability
  docs/licenses/alkamid.md
  docs/licenses/biofacquim.md
  docs/licenses/biophytmol.md
  docs/licenses/drduke.md
  docs/licenses/npcare.md
  docs/licenses/procardb.md
  docs/licenses/respect.md
  docs/licenses/tppt.md
Due: none

This is why we did LOTUS
  docs/licenses/drduke.md
  docs/licenses/npedia.md
Due: none

docs(refactor): update licenses to point to correct URLs and remove outdated links
  docs/licenses/drduke.md
  docs/licenses/npedia.md
Due: none

WIP refactoring
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(paths.R): simplify environment variable defaults and locale configuration
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(paths.R): simplify locale configuration and path constants
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

remove `enable=TRUE` default
  src/1_gathering/db/anpdb/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analyzing/jensen_shannon_divergence.R
  src/r/progressr.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(build): update kotlin jvm plugin version to v2.1.0
  src/1_gathering/db/anpdb/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analyzing/jensen_shannon_divergence.R
  src/r/progressr.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

remove `with_progress()` default
  src/1_gathering/db/anpdb/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analyzing/jensen_shannon_divergence.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(db): remove default progress setting from scraping functions
  src/1_gathering/db/anpdb/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analyzing/jensen_shannon_divergence.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(db/scraping): remove `with_progress()` default from functions
  src/r/colors.R
Due: build-docker, test-docker, build-tests, test-tests

colors update
  src/r/colors.R
Due: build-docker, test-docker, build-tests, test-tests

feat(colors): add new qualitative color palettes
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

fix
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

handle case when no compound is found in PubChem
  src/2_curating/2_editing/structure/4_enriching/naming.R
Due: build-docker, test-docker, build-tests, test-tests

fix(paths.R): correct mode setting logic to prevent incorrect values from being used
  src/2_curating/2_editing/structure/4_enriching/naming.R
Due: build-docker, test-docker, build-tests, test-tests

fix(auth): handle case when no compound is found in PubChem
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/r/manipulating_taxo.R
  src/r/taxo_cleaning_auto.R
Due: build-docker, test-docker, build-tests, test-tests

handle case when no organism is found in any DB (new organism)
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/r/manipulating_taxo.R
  src/r/taxo_cleaning_auto.R
Due: build-docker, test-docker, build-tests, test-tests

fix(auth): handle case when no organism is found in any DB (new organism)
  config.mk
Due: none

GNFinder update
  config.mk
Due: none

OTT update
  config.mk
Due: none

fix(config.mk): update GNFINDER_VERSION to v1.1.6
  config.mk
Due: none

fix(config.mk): update OTT version to 3.7.2 for compatibility with new dependencies
  tests/expectations/organisms.tsv
  tests/expectations/references.tsv
  tests/expectations/structures.tsv
  tests/expectations/validated.tsv
Due: none

tests update
  tests/expectations/organisms.tsv
  tests/expectations/references.tsv
  tests/expectations/structures.tsv
  tests/expectations/validated.tsv
Due: none

test(update expectations data)
  .github/workflows/ci-processing.yml
Due: none

Update ci-processing.yml
  .github/workflows/ci-processing.yml
Due: none

feat(ci): update mamba-org/setup-micromamba action to v2
  .github/workflows/ci-processing.yml
Due: none

ci: update mamba-org setup to v2
  .github/workflows/ci-processing.yml
Due: none

python 3.11
  .github/workflows/ci-processing.yml
Due: none

ci: update python version in ci-processing.yml to 3.11
  environment.yml
Due: none

rdkit update
  environment.yml
Due: none

feat(environment): update rdkit dependency to version 2024.3.6
  tests/tests.R
Due: none

floating point tolerance
  tests/tests.R
Due: none
