Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

fix new gbif backbone
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
  tests/tests_dic_common_min.tsv.gz
Due: build-docker, test-docker, build-tests, test-tests, build-translation

style(common.R and tcm.R): Improve encoding consistency in canonical name conversion
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
Due: build-docker, test-docker, build-tests, test-tests, build-translation

style
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
Due: build-docker, test-docker, build-tests, test-tests, build-translation

in case some names were missed
  src/2_curating/2_editing/structure/4_enriching/naming.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(2_curating/2_editing/structure/4_enriching/naming): improve handling of missing names in structures metadata
  src/2_curating/2_editing/structure/4_enriching/naming.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(2_curating/2_editing/structure/4_enriching): improve np_classifier.R data loading and processing
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: build-docker, test-docker, build-tests, test-tests

in case some classes were missed
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(2_curating): remove redundant structures and stereo metadata cleanup
  src/2_curating/3_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

removing redundant structures (lower defined stereo)
  src/2_curating/3_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

update safety mode
  src/3_analyzing/closed_metadata.R
Due: build-docker, test-docker, build-tests, test-tests

fix(closed_metadata.R): enable safety mode by default
  src/3_analyzing/closed_metadata.R
Due: build-docker, test-docker, build-tests, test-tests

switch to 2D
  src/3_analyzing/structure_taxon_distribution.R
Due: build-docker, test-docker, build-tests, test-tests

feat(3_analyzing): switch to 2D structure analysis
  src/3_analyzing/structure_taxon_distribution.R
Due: build-docker, test-docker, build-tests, test-tests

fix(ssot_union_wikidata.R): improve data processing and export functionality
  src/3_analyzing/ssot_union_wikidata.R
Due: build-docker, test-docker, build-tests, test-tests

update safety mode, fix typo, additional file
  src/3_analyzing/ssot_union_wikidata.R
Due: build-docker, test-docker, build-tests, test-tests

update
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

feat(paths): improve paths handling and security
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

lint
  src/2_curating/2_editing/structure/4_enriching/naming.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(auth): improve naming convention consistency in structure metadata processing
  src/2_curating/2_editing/structure/4_enriching/naming.R
Due: build-docker, test-docker, build-tests, test-tests

update
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests

feat(analyzing): improve filtering of organism names in metrics calculations
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests

fix(paths): update safety threshold to false for local mode
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

feat(ui): update plot distribution captions to use "Number of" instead of "N" and "organisms per structure" instead of "per organism"
  src/4_visualizing/plot_distribution.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

caption update
  src/4_visualizing/plot_distribution.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

feat(analyzing): update structure-organism pair and chemical structure names to use 2D
  src/3_analyzing/structure_taxon_distribution.R
Due: build-docker, test-docker, build-tests, test-tests

caption update
  src/3_analyzing/structure_taxon_distribution.R
Due: build-docker, test-docker, build-tests, test-tests

update
  src/3_analyzing/structure_taxon_distribution.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(3_analyzing): update structure taxon distribution R code to use consistent naming conventions and improve readability
  src/3_analyzing/structure_taxon_distribution.R
Due: build-docker, test-docker, build-tests, test-tests

feat(ui): improve structure and readability of upset plot generation code
  src/4_visualizing/plot_upset.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

update
  src/4_visualizing/plot_upset.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

switching to readr
  src/3_analyzing/3_metrics.R
  src/3_analyzing/closed_metadata.R
  src/3_analyzing/ssot_union_wikidata.R
  src/4_visualizing/plot_chordDiagrams.R
  src/r/add_metadata.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

feat(reading): switch to readr library
  src/3_analyzing/3_metrics.R
  src/3_analyzing/closed_metadata.R
  src/3_analyzing/ssot_union_wikidata.R
  src/4_visualizing/plot_chordDiagrams.R
  src/r/add_metadata.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

style: update file formatting and delimiter consistency throughout the codebase
  src/3_analyzing/closed_metadata.R
  src/3_analyzing/ssot_union_wikidata.R
  src/4_visualizing/plot_upset.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

style
  src/3_analyzing/closed_metadata.R
  src/3_analyzing/ssot_union_wikidata.R
  src/4_visualizing/plot_upset.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

removing redundant upper taxa (same article)
  src/2_curating/3_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

refactor(2_curating): remove redundant upper taxa from integration step
  src/2_curating/3_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

refactor(ssot_union_wikidata): filter subspecies from Wikidata database
  src/3_analyzing/ssot_union_wikidata.R
Due: build-docker, test-docker, build-tests, test-tests

filtering subspecies
  src/3_analyzing/ssot_union_wikidata.R
Due: build-docker, test-docker, build-tests, test-tests

improving cache
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
Due: build-docker, test-docker, build-tests, test-tests

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
