Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

parallel from the future
  src/r/get_jsd.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(r/get_jsd.R): improve performance and readability of jsd calculation
  src/r/get_jsd.R
Due: build-docker, test-docker, build-tests, test-tests

more typing
  src/1_gathering/db/anpdb/scraping.R
  src/3_analyzing/1_sampling.R
  src/3_analyzing/2_validating.R
  src/3_analyzing/3_metrics.R
  src/3_analyzing/closed_metadata.R
  src/3_analyzing/examples.R
  src/3_analyzing/jensen_shannon_divergence.R
  src/3_analyzing/ssot_union_wikidata.R
  src/3_analyzing/stats.R
  src/3_analyzing/structure_taxon_distribution.R
  src/r/gnfinder_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(analyzing): improve data preprocessing and formatting
  src/1_gathering/db/anpdb/scraping.R
  src/3_analyzing/1_sampling.R
  src/3_analyzing/2_validating.R
  src/3_analyzing/3_metrics.R
  src/3_analyzing/closed_metadata.R
  src/3_analyzing/examples.R
  src/3_analyzing/jensen_shannon_divergence.R
  src/3_analyzing/ssot_union_wikidata.R
  src/3_analyzing/stats.R
  src/3_analyzing/structure_taxon_distribution.R
  src/r/gnfinder_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(chemosanitizer): improve reaction logic and stereochemistry handling
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/stereocounter.py
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

lint
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/stereocounter.py
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

refactor(db): improve data manipulation and filtering in scraping functions
  src/1_gathering/db/anpdb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

more typing
  src/1_gathering/db/anpdb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

path
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(paths.R): improve hardcoded path values and add AWS secret key
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(environment.yml and chemosanitizer_functions.py): switch to ChEMBL structure pipeline
  environment.yml
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

change to chembl structure pipeline
  environment.yml
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

gbif update
  config.mk
  src/1_gathering/translation/common.R
Due: build-docker, test-docker, build-tests, test-tests, build-translation

feat(gathering): update GBIF backbone version and common R translation
  config.mk
  src/1_gathering/translation/common.R
Due: build-docker, test-docker, build-tests, test-tests, build-translation

fix(config.mk): update gnfinder version to v1.0.4
  config.mk
Due: none

gnfinder update
  config.mk
Due: none

refactor(db/anpdb/scraping): improve data extraction and filtering logic
  src/1_gathering/db/anpdb/scraping.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

lint
  src/1_gathering/db/anpdb/scraping.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

parallel from the future
  src/2_curating/2_editing/organism/5_addingOTL.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(auth): improve OTL lineage retrieval performance and readability
  src/2_curating/2_editing/organism/5_addingOTL.R
Due: build-docker, test-docker, build-tests, test-tests

feat(db): enable progress tracking for scraping functions
  src/1_gathering/db/anpdb/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analyzing/jensen_shannon_divergence.R
  src/r/progressr.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

parallel from the future
  src/1_gathering/db/anpdb/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analyzing/jensen_shannon_divergence.R
  src/r/progressr.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(auth): update np classifier URL to point to new domain
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: build-docker, test-docker, build-tests, test-tests

update
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: build-docker, test-docker, build-tests, test-tests

lint
  src/2_curating/2_editing/structure/1_translating/names.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(2_curating/2_editing/structure/1_translating): improve filtering logic for smilesNominal_pubchem
  src/2_curating/2_editing/structure/1_translating/names.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(auth): limit memory use for large batches
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
Due: build-docker, test-docker, build-tests, test-tests

limit memory use for large batches
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
Due: build-docker, test-docker, build-tests, test-tests

create dir
  src/3_analyzing/3_metrics.R
  src/4_visualizing/plot_alluvial.R
  src/4_visualizing/plot_chordDiagrams.R
  src/4_visualizing/plot_distribution.R
  src/4_visualizing/plot_magicTree.R
  src/4_visualizing/plot_upset.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

feat(data processing): create directories for processed data and HTML output
  src/3_analyzing/3_metrics.R
  src/4_visualizing/plot_alluvial.R
  src/4_visualizing/plot_chordDiagrams.R
  src/4_visualizing/plot_distribution.R
  src/4_visualizing/plot_magicTree.R
  src/4_visualizing/plot_upset.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

fix(get_jsd function): improve input handling to accept multiple values
  src/r/get_jsd.R
Due: build-docker, test-docker, build-tests, test-tests

fix
  src/r/get_jsd.R
Due: build-docker, test-docker, build-tests, test-tests

update
  docs/prettyDBNames.tsv
  src/1_gathering/db/anpdb/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

docs: update prettyDBNames.tsv and standardizing.R to reflect database name changes
  docs/prettyDBNames.tsv
  src/1_gathering/db/anpdb/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(auth): fix AWS secret key handling in integrating R script
  src/2_curating/3_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

fix
  src/2_curating/3_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

refactor(build.gradle.kts): update kotlin plugin version to v1.8.0
  environment.yml
  src/2_curating/2_editing/structure/4_enriching/naming.R
  src/2_curating/3_integrating.R
  src/3_analyzing/2_validating.R
  src/r/add_metadata.R
  src/switch2db.R
  tests/expectations/structures.tsv
Due: build-docker, test-docker, build-tests, test-tests, build-curating

switching to PubChem for chemical names (and CIDs)
  environment.yml
  src/2_curating/2_editing/structure/4_enriching/naming.R
  src/2_curating/3_integrating.R
  src/3_analyzing/2_validating.R
  src/r/add_metadata.R
  src/switch2db.R
  tests/expectations/structures.tsv
Due: build-docker, test-docker, build-tests, test-tests, build-curating

feat(db): update NPASS download URLs and standardize data format
  src/1_gathering/db/Makefile
  src/1_gathering/db/npass/downloading.sh
  src/1_gathering/db/npass/standardizing.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

update NPASS
  src/1_gathering/db/Makefile
  src/1_gathering/db/npass/downloading.sh
  src/1_gathering/db/npass/standardizing.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases
