Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

fix(2_curating): add set.seed for reproducibility
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

fixing path
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
Due: build-docker, test-docker, build-tests, test-tests

fix(file path): improve secret key handling to use relative paths within a directory classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
Due: build-docker, test-docker, build-tests, test-tests

adapting to bigger sets
  src/2_curating/3_integrating.R
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

refactor(2_curating/3_integrating.R and 3_analyzing/2_validating.R): simplify metadata columns
  src/2_curating/3_integrating.R
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

Update environment_internal.yml
  environment_internal.yml
Due: none

refactor(internal): update environment_internal.yml to use dvc version 2.7.4
  environment_internal.yml
Due: none

internal data update
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(data): update external data file formats
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(analyzing): improve validation and metric calculations
  src/2_curating/3_integrating.R
  src/3_analyzing/2_validating.R
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

adapting to bigger sets
  src/2_curating/3_integrating.R
  src/3_analyzing/2_validating.R
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

docs: update dataset metadata and formatting
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  docs/dataset.csv
  docs/metrics.md
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

data update
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  docs/dataset.csv
  docs/metrics.md
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(data processing): improve dataset writing to csv file
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests

Update 3_metrics.R
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests

docs: update metrics.md statistics
  docs/metrics.md
Due: none

Update metrics.md
  docs/metrics.md
Due: none

docs: update dataset.csv file
  docs/dataset.csv
Due: none

Update dataset.csv
  docs/dataset.csv
Due: none

refactor(auth): update publishing details file to use correct folder path
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
Due: build-docker, test-docker, build-tests, test-tests

Update publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
Due: build-docker, test-docker, build-tests, test-tests

Update split.R
  src/2_curating/2_editing/reference/1_translating/split.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(reference): update split.R to use correct folder path
  src/2_curating/2_editing/reference/1_translating/split.R
Due: build-docker, test-docker, build-tests, test-tests

Update 3_integrating.R
  src/2_curating/3_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

feat(2_curating): improve data cleaning and detection logic
  src/2_curating/3_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

Update 2_integrating.R
  src/2_curating/2_editing/reference/2_integrating.R
Due: build-docker, test-docker, build-tests, test-tests

feat(auth): update integrating R reference file to handle AWS secret key changes
  src/2_curating/2_editing/reference/2_integrating.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(auth): update integrating R script to handle missing AWS secret key
  src/2_curating/2_editing/reference/2_integrating.R
Due: build-docker, test-docker, build-tests, test-tests

fix(reference): update integrating R script to handle AWS secret key file existence
  src/2_curating/2_editing/reference/2_integrating.R
Due: build-docker, test-docker, build-tests, test-tests

docs: update dataset.csv with corrected and updated entries
  docs/dataset.csv
Due: none

docs: update metrics table values
  docs/metrics.md
Due: none

Update validation.dvc
  data/validation.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(data/validation.dvc): update validation file contents
  data/validation.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(data): update interim.dvc file
  data/interim.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Update interim.dvc
  data/interim.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(classyfireR.R): update file paths to use relative directory structure
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
Due: build-docker, test-docker, build-tests, test-tests

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
