Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

adapting some csv for latex tables
  README.adoc
Due: none

adding psql dump
  data/processed.dvc
  src/create_psql_dump.sh
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(create_psql_dump.sh): add psql dump functionality to generate processed data
  data/processed.dvc
  src/create_psql_dump.sh
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(auth): update interim data and paths
  data/interim.dvc
  src/paths.R
  tests/tests.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

updating partially tests
  data/interim.dvc
  src/paths.R
  tests/tests.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(paths.R): improve mode handling for test environments
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

updating partially tests
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

style(src/paths.R): simplify file path construction and remove unnecessary comments
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

style
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

fix(auth): improve taxonomy data processing and export to Rdata file
  data/interim.dvc
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/r/vroom_safe.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

taxonomies fixes
  data/interim.dvc
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/r/vroom_safe.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(curating): update OTL data processing and taxonomy functionality
  data/interim.dvc
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

updating taxonomies
  data/interim.dvc
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

adding tree scripts and data/processed/figures/magicTree.pdf
  data/processed.dvc
  src/r/colors.R
  src/tree_classyfireTaxonomy.R
  src/tree_note.md
  src/tree_plotWonderfulTree.R
  src/tree_prepareTree.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

docs: add classyfire taxonomy script and data processing pipeline
  data/processed.dvc
  src/r/colors.R
  src/tree_classyfireTaxonomy.R
  src/tree_note.md
  src/tree_plotWonderfulTree.R
  src/tree_prepareTree.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(organism editing): add timing information to script completion
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
Due: build-docker, test-docker, build-tests, test-tests

typo
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
Due: build-docker, test-docker, build-tests, test-tests

feat(temp scripts): add temp scripts to freeze what has been uploaded for preprint
  src/temp_classyfireTaxonomy.R
  src/temp_platinum_wikidata.R
Due: build-docker, test-docker, build-tests, test-tests

adding temp scripts to freeze what has been uploaded for preprint
  src/temp_classyfireTaxonomy.R
  src/temp_platinum_wikidata.R
Due: build-docker, test-docker, build-tests, test-tests

feat(tree): add plotting tree scripts adapted
  src/tree_classyfireTaxonomy.R
  src/tree_plotWonderfulTree.R
  src/tree_prepareTree.R
Due: build-docker, test-docker, build-tests, test-tests

adding plotting tree scripts adapted
  src/tree_classyfireTaxonomy.R
  src/tree_plotWonderfulTree.R
  src/tree_prepareTree.R
Due: build-docker, test-docker, build-tests, test-tests

adding frozen wikidata export
  data/external.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(data/external.dvc): update frozen wikidata export metadata
  data/external.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

adding new tree
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(data): add processed data file changes
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

adding new subset of validation to reach 100 for preprint.
  data/interim.dvc
  data/validation.dvc
  src/3_analysing/2_validating.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(data/validation): add new subset of validation to reach 100 for preprint
  data/interim.dvc
  data/validation.dvc
  src/3_analysing/2_validating.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

adapting violin plotting scripts
  src/3_analysing/3_metrics.R
  src/4_visualizing/additional.R
  src/4_visualizing/plot_violin.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing, build-visualizing

feat(data processing): add violin plots to visualizations
  src/3_analysing/3_metrics.R
  src/4_visualizing/additional.R
  src/4_visualizing/plot_violin.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing, build-visualizing

fix (no one notice wrong sum :D)
  docs/metrics.adoc
  src/3_analysing/3_metrics.R
  src/4_visualizing/plot_violin.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing, build-visualizing

fix(metrics): correct sum calculations and formatting
  docs/metrics.adoc
  src/3_analysing/3_metrics.R
  src/4_visualizing/plot_violin.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing, build-visualizing

adding some data visualization packages
  environment.yml
Due: none

feat(env): add data visualization packages to dependencies
  environment.yml
Due: none

feat(data): update processed data file
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

adding new figs
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

setting bioconductor as repo for some packages
  environment.yml
  environment_non_conda.sh
Due: none

feat(env): set bioconductor as repo for some packages
  environment.yml
  environment_non_conda.sh
Due: none

feat(auth): add useful metadata to platinum_u_wd table
  environment.yml
  src/3_analysing/ssot_union_wikidata.R
  src/4_visualizing/plot_violin.R
  src/4_visualizing/plot_wonderfulTree.R
  src/paths.R
  src/temp_otlComparison.R
  src/tree_note.md
Due: build-docker, test-docker, build-tests, test-tests, build-analysing, build-visualizing

updating plotting scripts
  environment.yml
  src/3_analysing/ssot_union_wikidata.R
  src/4_visualizing/plot_violin.R
  src/4_visualizing/plot_wonderfulTree.R
  src/paths.R
  src/temp_otlComparison.R
  src/tree_note.md
Due: build-docker, test-docker, build-tests, test-tests, build-analysing, build-visualizing

feat(ui): add interactive chord diagrams for visualization of SI data
  data/processed.dvc
  src/4_visualizing/plot_chordDiagrams.R
  src/4_visualizing/visualizing.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing
