Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

feat(2_curating): add locale support to integrating and paths files
  src/2_curating/1_integrating.R
  src/paths.R
  tests/tests.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

feat(2_curating): add iconv encoding to ensure proper table values
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

bringing iconv back
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

updating expectations
  tests/expectations/structures.tsv
Due: none

test: update expectations table
  tests/expectations/structures.tsv
Due: none

force locales
  tests/tests.R
Due: none

test:locale configuration update
  tests/tests.R
Due: none

force locales
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/2_curating/2_editing/organism/3_processingTranslated.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
  src/2_curating/2_editing/structure/2_integrating.R
  src/2_curating/3_integrating.R
  src/r/gnfinder_cleaning.R
  src/temp_classyfireTaxonomy.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

feat(auth): force locales to improve internationalization support
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/2_curating/2_editing/organism/3_processingTranslated.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
  src/2_curating/2_editing/structure/2_integrating.R
  src/2_curating/3_integrating.R
  src/r/gnfinder_cleaning.R
  src/temp_classyfireTaxonomy.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

utf-8
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

fix(auth): ensure proper encoding of sensitive data in R script
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

force locales
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
  src/3_analyzing/1_sampling.R
  src/3_analyzing/2_validating.R
  src/3_analyzing/3_metrics.R
  src/3_analyzing/closed_metadata.R
  src/3_analyzing/examples.R
  src/3_analyzing/ssot_union_wikidata.R
  src/3_analyzing/stats.R
Due: build-docker, test-docker, build-tests, test-tests

feat(analyzing): add locale support to various R scripts
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
  src/3_analyzing/1_sampling.R
  src/3_analyzing/2_validating.R
  src/3_analyzing/3_metrics.R
  src/3_analyzing/closed_metadata.R
  src/3_analyzing/examples.R
  src/3_analyzing/ssot_union_wikidata.R
  src/3_analyzing/stats.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(closed_metadata.R): closed metadata processing logic to use "closed resources" instead of hardcoded string
  src/3_analyzing/closed_metadata.R
Due: build-docker, test-docker, build-tests, test-tests

closed resources
  src/3_analyzing/closed_metadata.R
Due: build-docker, test-docker, build-tests, test-tests

frozen version update
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  src/paths.R
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests

docs: update dataset and metrics files to reflect changes in structure and organization
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  src/paths.R
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests

docs(update): update licenses and formatting in dataset.csv
  docs/dataset.csv
  docs/licenses/cyanometdb.md
  docs/licenses/datawarrior.md
  docs/licenses/unpd.md
  docs/licenses/wikidata.md
Due: none

licenses update
  docs/dataset.csv
  docs/licenses/cyanometdb.md
  docs/licenses/datawarrior.md
  docs/licenses/unpd.md
  docs/licenses/wikidata.md
Due: none

feat(analyzing): add non-validated entry processing and garbage table creation
  src/3_analyzing/2_validating.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

adding waste
  src/3_analyzing/2_validating.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

feat(visualizing): update plot_tmap.py to use new taxonomy data formats and categories
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

figures update
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

feat(dvc): enable autostaging for minio remote
  .dvc/config
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  res.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

dvc update
  .dvc/config
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  res.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

utf8
  src/2_curating/2_editing/structure/1_translating/inchi.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/stereocounter.py
Due: build-docker, test-docker, build-tests, test-tests

fix(2_curating/2_editing/structure): improve csv parsing with utf8 encoding
  src/2_curating/2_editing/structure/1_translating/inchi.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/stereocounter.py
Due: build-docker, test-docker, build-tests, test-tests

test: tests - validate referenced pairs
  tests/tests.R
Due: none

update
  tests/tests.R
Due: none

update(dependency): update gradle dependency to v7.3.3
  gradle/wrapper/gradle-wrapper.properties
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradle/wrapper/gradle-wrapper.properties
Due: build-docker, test-docker, build-tests, test-tests

Update dependency gradle to v7.3.3
  gradle/wrapper/gradle-wrapper.properties
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradle/wrapper/gradle-wrapper.properties
Due: build-docker, test-docker, build-tests, test-tests

refactor(makefile): improve clarity and organization of Makefile targets and dependencies
  Makefile
  README.md
  tests/integration_test.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

updating make modes and targets for clarity
  Makefile
  README.md
  tests/integration_test.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

replacing OSF
  src/1_gathering/dictionary/gathering_custom_dictionaries.sh
Due: build-docker, test-docker, build-tests, test-tests

feat(gathering): update dictionary source URL to use Zenodo instead of OSF
  src/1_gathering/dictionary/gathering_custom_dictionaries.sh
Due: build-docker, test-docker, build-tests, test-tests

Update README.md
  README.md
Due: none

docs(update availability statements)
  README.md
Due: none

updating make modes and targets for clarity
  data/example/custom_example.tsv
  src/1_gathering/db/custom/standardizing.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/2_curating/2_editing/reference/3_processing.R
  src/3_analyzing/3_metrics.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-curating

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
