Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

refactor(paths): improve dictionary path handling and add directory checks
  Makefile
  paths.mk
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analysing/2_validating.R
  src/3_analysing/3_metrics.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Update Makefile
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(db): update database conversion scripts and rules
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(db): update scraping.R to include y_as_na source
  src/1_gathering/db/carotenoiddb/scraping.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

Update scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(coconut): update COCONUT database and standardize data
  src/1_gathering/db/coconut/converting.py
  src/1_gathering/db/coconut/downloading.sh
  src/1_gathering/db/coconut/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[resources] COCONUT update
  src/1_gathering/db/coconut/converting.py
  src/1_gathering/db/coconut/downloading.sh
  src/1_gathering/db/coconut/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[resources] COCONUT update
  src/1_gathering/db/coconut/downloading.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(resources): update coconut downloading script to use new URL
  src/1_gathering/db/coconut/downloading.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(resources): update coconut database file path
  src/1_gathering/db/coconut/converting.py
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[resources] COCONUT update
  src/1_gathering/db/coconut/converting.py
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(resources): improve database scraping functionality
  src/1_gathering/db/knapsack/scraping.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[resources] knapsack update
  src/1_gathering/db/knapsack/scraping.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[resources] COCONUT update
  src/1_gathering/db/coconut/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(auth): standardize coconut database processing
  src/1_gathering/db/coconut/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix
  src/3_analysing/stats.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

fix(stats): improve data loading logic to reduce potential delays
  src/3_analysing/stats.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

code style
  src/3_analysing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

style: improve data reading efficiency and readability in 3_metrics.R
  src/3_analysing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

SSOT access update
  src/2_curating/1_integrating.R
  src/paths.R
  src/switch2db.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

feat(ssot): update SSOT access functionality
  src/2_curating/1_integrating.R
  src/paths.R
  src/switch2db.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

feat(curating): improve SSOT access handling in integrating script
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

Update 1_integrating.R
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

feat(auth): improve database connection handling
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

refactor(2_curating): improve data frame structure and naming conventions
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

refactor(2_curating): improve quote handling in integrating script
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

feat(curating): ensure proper encoding of curated data
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

fix(names.R): update core settings for parallel processing
  src/2_curating/2_editing/structure/1_translating/names.R
Due: build-docker, test-docker, build-tests, test-tests

Update names.R
  src/2_curating/2_editing/structure/1_translating/names.R
Due: build-docker, test-docker, build-tests, test-tests

Update data_availability.adoc
  docs/data_availability.adoc
Due: none

docs(update): update data availability statement to use OSF repository URL
  docs/data_availability.adoc
Due: none

Update intro.adoc
  docs/intro.adoc
Due: none

docs(refine): update intro.adoc content to accurately reflect current computational approaches and Natural Products research
  docs/intro.adoc
Due: none

Update usage.adoc
  docs/usage.adoc
Due: none

docs: update usage.adoc to improve instructions and formatting
  docs/usage.adoc
Due: none

feat(organism): add OTL library and update getOTL script to use new OTT version
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/getOTL.sh
Due: build-docker, test-docker, build-tests, test-tests

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
