Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

Update OTT and GBIF
  config.mk
Due: none

feat(ott): update ott version to 3.6 and gbif backbone to 2023-08-28
  config.mk
Due: none

update tests
  tests/expectations/organisms.tsv
  tests/expectations/references.tsv
  tests/expectations/structures.tsv
Due: none

update tests: add new expectation data to various taxonomic databases
  tests/expectations/organisms.tsv
  tests/expectations/references.tsv
  tests/expectations/structures.tsv
Due: none

feat(db/knapsack): improve scraping range bounds
  src/1_gathering/db/knapsack/scraping.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

update
  src/1_gathering/db/knapsack/scraping.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

update
  src/1_gathering/db/wikidata/standardizing.R
  src/2_curating/2_editing/reference/2_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(db): standardize data manipulation and reference integration
  src/1_gathering/db/wikidata/standardizing.R
  src/2_curating/2_editing/reference/2_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(analyzing): add structure value transformation to closed metadata and ssot union wikidata R scripts
  src/3_analyzing/closed_metadata.R
  src/3_analyzing/ssot_union_wikidata.R
Due: build-docker, test-docker, build-tests, test-tests

update
  src/3_analyzing/closed_metadata.R
  src/3_analyzing/ssot_union_wikidata.R
Due: build-docker, test-docker, build-tests, test-tests

docs: update dataset and metrics files to reflect recent changes
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests

update
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests

feat(ci): update ci-processing.yml to use python 3.11 and adjust environment files accordingly
  .github/workflows/ci-processing.yml
  environment.yml
  environment_internal.yml
  environment_visualizing.yml
Due: none

up
  .github/workflows/ci-processing.yml
  environment.yml
  environment_internal.yml
  environment_visualizing.yml
Due: none

update Kotlin to 2.0.0
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

feat(build): update Kotlin to 2.0.0
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

fix
  src/2_curating/2_editing/reference/2_integrating.R
Due: build-docker, test-docker, build-tests, test-tests

fix(reference): extract_first_two_words function added to handle inconsistent text formatting
  src/2_curating/2_editing/reference/2_integrating.R
Due: build-docker, test-docker, build-tests, test-tests

fix(tests): improve test output formatting
  tests/tests.R
Due: none

Improve tests
  tests/tests.R
Due: none

fix(tests): revert write.table calls to remove unnecessary code
  tests/tests.R
Due: none

Revert "Improve tests"
  tests/tests.R
Due: none

docs(link_check): update link check tool to use linkspector
  .github/workflows/link_check.yaml
Due: none

Update link_check.yaml
  .github/workflows/link_check.yaml
Due: none

docs(link_check): update linkspector workflow configuration
  .github/workflows/link_check.yaml
Due: none

fix(link_check): update linkspector action version to v1
  .github/workflows/link_check.yaml
Due: none

feat(workflows): add alive status code configuration to config.json
  .github/workflows/config.json
Due: none

Create config.json
  .github/workflows/config.json
Due: none

docs(link_check.yaml): update link check workflow to use markdown-link-check action
  .github/workflows/link_check.yaml
Due: none

refactor(config): rename config.json to mlc_config.json
  .github/workflows/mlc_config.json
Due: none

Rename config.json to mlc_config.json
  .github/workflows/mlc_config.json
Due: none

Delete .github/workflows/mlc_config.json
  .github/workflows/mlc_config.json
Due: none

docs(workflows): remove mlc_config.json file
  .github/workflows/mlc_config.json
Due: none

Create .mlc_config.json
  .mlc_config.json
Due: none

feat(auth): add initial .mlc_config.json file with default alive status codes
  .mlc_config.json
Due: none

refactor(auth): rename config file to follow github conventions
  .github/mlc_config.json
Due: none

Rename .mlc_config.json to .github/mlc_config.json
  .github/mlc_config.json
Due: none

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
