Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

style: update formatting and content in multiple files to improve readability and consistency
  src/1_gathering/db/afrotryp/note.md
  src/1_gathering/db/alkamid/scraping.R
  src/1_gathering/db/folderDescription.md
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/npass/standardizing.R
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_full.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_min.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_full.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_min.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_test.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_test.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_min.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_test.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_min.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_test.sh
  src/2_curating/2_editing/reference/3_cleaning.R
  src/2_curating/2_editing/structure/3_cleaningAndEnriching/instructions.md
  src/r/biocleaning.R
  src/r/preparing_name.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[fix] avoiding missed/duplicate structures
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/3_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

fix(structure): avoid missed/duplicate structures when integrating and translating data
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/3_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

fix(paths.R): correct typo and update file path syntax
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

typo
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

[update] pushing the new version
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  docs/dataset.tsv
  docs/metrics.adoc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

docs: update dataset metadata and formatting
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  docs/dataset.tsv
  docs/metrics.adoc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

docs(refine): improve licenses accessibility and clarity
  LICENSE
  docs/dataset.tsv
  docs/requirements.adoc
Due: none

[doc] better licenses accessibility
  LICENSE
  docs/dataset.tsv
  docs/requirements.adoc
Due: none

[doc] better licenses accessibility
  LICENSE.md
  docs/dataset.tsv
  docs/licenses/afrotryp.md
  docs/licenses/alkamid.md
  docs/licenses/biofacquim.md
  docs/licenses/biophytmol.md
  docs/licenses/carotenoiddb.md
  docs/licenses/coconut.md
  docs/licenses/cyanometdb.md
  docs/licenses/datawarrior.md
  docs/licenses/drduke.md
  docs/licenses/foodb.md
  docs/licenses/inflamnat.md
  docs/licenses/knapsack.md
  docs/licenses/metabolights.md
  docs/licenses/mibig.md
  docs/licenses/mitishamba.md
  docs/licenses/nanpdb.md
  docs/licenses/napralert.md
  docs/licenses/npass.md
  docs/licenses/npatlas.md
  docs/licenses/npcare.md
  docs/licenses/npedia.md
  docs/licenses/nubbe.md
  docs/licenses/pamdb.md
  docs/licenses/phenolexplorer.md
  docs/licenses/phytohub.md
  docs/licenses/procardb.md
  docs/licenses/respect.md
  docs/licenses/sancdb.md
  docs/licenses/streptomedb.md
  docs/licenses/swmd.md
  docs/licenses/tmdb.md
  docs/licenses/tmmc.md
  docs/licenses/tppt.md
Due: none

docs: improve licenses accessibility by adding more licenses and refining existing ones
  LICENSE.md
  docs/dataset.tsv
  docs/licenses/afrotryp.md
  docs/licenses/alkamid.md
  docs/licenses/biofacquim.md
  docs/licenses/biophytmol.md
  docs/licenses/carotenoiddb.md
  docs/licenses/coconut.md
  docs/licenses/cyanometdb.md
  docs/licenses/datawarrior.md
  docs/licenses/drduke.md
  docs/licenses/foodb.md
  docs/licenses/inflamnat.md
  docs/licenses/knapsack.md
  docs/licenses/metabolights.md
  docs/licenses/mibig.md
  docs/licenses/mitishamba.md
  docs/licenses/nanpdb.md
  docs/licenses/napralert.md
  docs/licenses/npass.md
  docs/licenses/npatlas.md
  docs/licenses/npcare.md
  docs/licenses/npedia.md
  docs/licenses/nubbe.md
  docs/licenses/pamdb.md
  docs/licenses/phenolexplorer.md
  docs/licenses/phytohub.md
  docs/licenses/procardb.md
  docs/licenses/respect.md
  docs/licenses/sancdb.md
  docs/licenses/streptomedb.md
  docs/licenses/swmd.md
  docs/licenses/tmdb.md
  docs/licenses/tmmc.md
  docs/licenses/tppt.md
Due: none

updating test2sql, almost there!
  src/test2sql.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(test2sql): simplify and standardize data processing pipeline
  src/test2sql.R
Due: build-docker, test-docker, build-tests, test-tests

adding empty lotus.sqlite
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(data): update processed data file
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(auth): implement initial database connection and data processing pipeline
  data/processed.dvc
  src/switch2sql.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[sqlite] first trial version
  data/processed.dvc
  src/switch2sql.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

style: switch2sql.R improvements
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests

[code] style
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests

feat(data/processed.dvc): add second proposal template
  data/processed.dvc
  src/paths.R
  src/switch2sql.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[sqlite] adding second proposa template
  data/processed.dvc
  src/paths.R
  src/switch2sql.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[sqlite] schema
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(data/processed.dvc): update processed file metadata
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[sql] first steps
  src/create_lotus.sql
  src/r/dbSendQueries.R
  src/r/sqlFromFile.R
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests

feat(db): initialize database schema and functions
  src/create_lotus.sql
  src/r/dbSendQueries.R
  src/r/sqlFromFile.R
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests

ci: ignore kotlin and shared files
  .gitignore
Due: none

[Dev] Remove and ignore all kotlin files and shared files.
  .gitignore
Due: none

[Dev] Trying but not able to test a corrected Nubbe download script.
  src/1_gathering/db/nubbe/scraping.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(db/nubbe): improve scraping script to handle multiple IDs and output
  src/1_gathering/db/nubbe/scraping.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases

keeping on with sql switch
  src/schema_db/0000_create_initial_tables.sql
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests

feat(schema_db): switch to SQL database schema
  src/schema_db/0000_create_initial_tables.sql
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests

fix(dbSendQueries.R): correct parameter names and formatting
  src/r/dbSendQueries.R
Due: build-docker, test-docker, build-tests, test-tests

typo
  src/r/dbSendQueries.R
Due: build-docker, test-docker, build-tests, test-tests

adding classyfireR possibility
  environment.yml
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
Due: build-docker, test-docker, build-tests, test-tests

feat(classyfireR): add possibility to enrich structures dictionary
  environment.yml
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
Due: build-docker, test-docker, build-tests, test-tests

fixing installation of classyfirer in environment
  environment.yml
  environment_non_conda.sh
Due: none

fix(environment): install classyfireR package in environment.yml and environment_non_conda.sh
  environment.yml
  environment_non_conda.sh
Due: none

typo
  src/schema_db/0000_create_initial_tables.sql
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests
