Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

[fix] quoting issue (no data yet, checking)
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/1_cleaningOriginal.R
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/r/gnfinder_cleaning.R
  src/r/split_data_table_quote.R
  src/r/vroom_safe.R
Due: build-docker, test-docker, build-tests, test-tests, build-translation, build-curating

[fix] glitch in last commit
  src/2_curating/2_editing/organism/5_addingOTL.R
Due: build-docker, test-docker, build-tests, test-tests

fix(organism editing): fix glitch in dataCuratedOrganismAuto processing
  src/2_curating/2_editing/organism/5_addingOTL.R
Due: build-docker, test-docker, build-tests, test-tests

[data] adding cleaned taxa dictionary
  data/interim.dvc
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(data): add cleaned taxa dictionary
  data/interim.dvc
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(paths): cleaner switch mode
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

[paths] cleaner switch mode
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

test(adapting script)
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

[tests] adapting first script
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

feat(r/biocleaning): adapt cleaning script to handle quotes in names
  src/r/biocleaning.R
  src/r/gnfinder_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests

[taxa] adapting gnfinder cleaning script to quotes
  src/r/biocleaning.R
  src/r/gnfinder_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests

fix
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

fix(paths.R): update dictionary paths to use consistent naming convention
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

fix
  src/r/biocleaning.R
Due: build-docker, test-docker, build-tests, test-tests

fix(src/r/biocleaning.R): improve data transformation to handle missing values correctly
  src/r/biocleaning.R
Due: build-docker, test-docker, build-tests, test-tests

[env] dvc update
  environment.yml
Due: none

feat(env): update dvc dependency to version 1.11.12
  environment.yml
Due: none

fix if after kotin script
  src/r/gnfinder_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests

fix(gnfinder_cleaning function): improve handling of organism columns
  src/r/gnfinder_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests

optional
  src/2_curating/2_editing/structure/1_translating/names.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(auth): improve data loading and filtering for names.R
  src/2_curating/2_editing/structure/1_translating/names.R
Due: build-docker, test-docker, build-tests, test-tests

adapting for post kotlin
  src/r/biocleaning.R
  src/r/gnfinder_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests

feat(r/biocleaning): adapt function to handle "organismInterim" column
  src/r/biocleaning.R
  src/r/gnfinder_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(src/r/gnfinder_cleaning.R): simplify data filtering logic to improve readability and maintainability
  src/r/gnfinder_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests

harmonizing
  src/r/gnfinder_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(organism): simplify data cleaning logic
  src/2_curating/2_editing/organism/1_cleaningOriginal.R
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
Due: build-docker, test-docker, build-tests, test-tests

adapting to new format
  src/2_curating/2_editing/organism/1_cleaningOriginal.R
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
Due: build-docker, test-docker, build-tests, test-tests

fix(organism taxonomy): remove "species" from filter condition
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
Due: build-docker, test-docker, build-tests, test-tests

typo
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
Due: build-docker, test-docker, build-tests, test-tests

feat(organism): improve OTL matching logic to reduce false positives
  src/2_curating/2_editing/organism/5_addingOTL.R
Due: build-docker, test-docker, build-tests, test-tests

safety
  src/2_curating/2_editing/organism/5_addingOTL.R
Due: build-docker, test-docker, build-tests, test-tests

adapting pattern for organisms
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(makefile): update pattern matching for organisms to match new taxonomy file format
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(paths.R): correct molconvertPath to use relative path
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

typo
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

updating stats
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  docs/dataset.tsv
  docs/metrics.adoc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

docs: update dataset.tsv file with corrected alk_1 and bio_2 entries
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  docs/dataset.tsv
  docs/metrics.adoc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

typo
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(db): update metabolights database source path
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[code] style
  src/1_gathering/db/afrotryp/note.md
  src/1_gathering/db/alkamid/scraping.R
  src/1_gathering/db/folderDescription.md
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/npass/standardizing.R
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_full.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_min.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_full.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_min.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_test.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_test.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_min.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_test.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_min.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_test.sh
  src/2_curating/2_editing/reference/3_cleaning.R
  src/2_curating/2_editing/structure/3_cleaningAndEnriching/instructions.md
  src/r/biocleaning.R
  src/r/preparing_name.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
