Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

fix(src/switch2db.R): improve dataset loading to use csv file instead of tsv
  src/switch2db.R
Due: build-docker, test-docker, build-tests, test-tests

small fix of structures dictionaries
  data/interim.dvc
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/2_curating/3_integrating.R
  src/r/getClass.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(data/interim.dvc): remove unnecessary column and improve data filtering
  data/interim.dvc
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/2_curating/3_integrating.R
  src/r/getClass.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(ssot union): improve data processing to handle taxa synonyms correctly
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/3_analysing/ssot_union_wikidata.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

fix for taxa synonyms
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/3_analysing/ssot_union_wikidata.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

dvc update
  environment.yml
Due: none

refactor(environment.yml): update dependencies to dvc v2.1.0
  environment.yml
Due: none

style(organism editing): add OTL data to curated organism auto
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
Due: build-docker, test-docker, build-tests, test-tests

style
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
Due: build-docker, test-docker, build-tests, test-tests

feat(data): update dvc files with new sizes and nfiles values
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

dvc files
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Tmap frozen May21, new specificty/chem_taxon/bio_taxon
  res/html/.gitignore
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

feat(ui): update tmap configuration and data files
  res/html/.gitignore
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

feat(data/interim): add new tmap version (dvc + path from src)
  data/interim.dvc
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

adding new tmap version (dvc + path from src)
  data/interim.dvc
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(create_psql_dump.sh): correct typo in psql dump script
  src/create_psql_dump.sh
Due: build-docker, test-docker, build-tests, test-tests

Correct typo in psql dump script
  src/create_psql_dump.sh
Due: build-docker, test-docker, build-tests, test-tests

refactor(schema_db): remove old db schema and replace with new one
  src/schema_db/0000_create_initial_tables.sql
  src/schema_db/0001_rename_columns.sql
Due: build-docker, test-docker, build-tests, test-tests

Remove old db schema
  src/schema_db/0000_create_initial_tables.sql
  src/schema_db/0001_rename_columns.sql
Due: build-docker, test-docker, build-tests, test-tests

feat(upset tests): add upset folder for interactive upset tests
  src/4_visualizing/upset_tables/.gitkeep
Due: build-docker, test-docker, build-tests, test-tests

adding upset folder for interactive upset tests
  src/4_visualizing/upset_tables/.gitkeep
Due: build-docker, test-docker, build-tests, test-tests

feat(upset_tables): add lotus.json file with test data
  src/4_visualizing/upset_tables/lotus.json
Due: build-docker, test-docker, build-tests, test-tests

Upload lotus.json
  src/4_visualizing/upset_tables/lotus.json
Due: build-docker, test-docker, build-tests, test-tests

Update lotus.json
  src/4_visualizing/upset_tables/lotus.json
Due: build-docker, test-docker, build-tests, test-tests

feat(upset_tables): update lotus.json file with new URL
  src/4_visualizing/upset_tables/lotus.json
Due: build-docker, test-docker, build-tests, test-tests

refactor(environment.yml): update dependencies to fix issues with ggplot2
  environment.yml
Due: none

feat(ui): update visualizations to include tree presence/absence data
  res/tree_sitosterol_2D.pdf
  res/tree_sitosterol_3D.pdf
  res/tree_steroids.pdf
  res/tree_stigmastanes.pdf
  res/tree_terpenoids.pdf
  src/4_visualizing/plot_magicTree.R
  src/r/tree_presence_absence.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

environment.yml update
  environment.yml
Due: none

new trees
  res/tree_sitosterol_2D.pdf
  res/tree_sitosterol_3D.pdf
  res/tree_steroids.pdf
  res/tree_stigmastanes.pdf
  res/tree_terpenoids.pdf
  src/4_visualizing/plot_magicTree.R
  src/r/tree_presence_absence.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

feat(db): switch to deployed DB configuration
  src/switch2db.R
Due: build-docker, test-docker, build-tests, test-tests

switch to deployed DB
  src/switch2db.R
Due: build-docker, test-docker, build-tests, test-tests

update to last frozen metadata
  src/3_analysing/stats.R
  src/4_visualizing/plot_upset.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing, build-visualizing

refactor(stats): update frozen metadata file path to use lastFrozen variable
  src/3_analysing/stats.R
  src/4_visualizing/plot_upset.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing, build-visualizing

update
  docs/dataset.csv
Due: none

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
