Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

removing leftovers
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
Due: build-docker, test-docker, build-tests, test-tests

feat(r/name2structure): add functions for data deduplication using Cactus and webchem APIs
  src/r/name2structure_cactus.R
  src/r/name2structure_cts.R
Due: build-docker, test-docker, build-tests, test-tests

favoring smiles for data deduplication
  src/r/name2structure_cactus.R
  src/r/name2structure_cts.R
Due: build-docker, test-docker, build-tests, test-tests

removing CTS
  environment.yml
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/2_integrating.R
  src/paths.R
  src/r/name2structure_cactus.R
  src/r/name2structure_cts.R
  src/r/name2structure_pubchem.R
Due: build-docker, test-docker, build-tests, test-tests

feat(auth): removing CTS and replacing with PubChem
  environment.yml
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/2_integrating.R
  src/paths.R
  src/r/name2structure_cactus.R
  src/r/name2structure_cts.R
  src/r/name2structure_pubchem.R
Due: build-docker, test-docker, build-tests, test-tests

feat(chemistry): improve parallel processing and error handling for chemosanitizer functionality
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

improvements, starting from SMILES
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

fix(environment): add r-RCurl dependency to environment.yml
  environment.yml
Due: none

update
  environment.yml
Due: none

adding CPU detection for UNIX platforms
  Makefile
  config.mk
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(platforms): add CPU detection for UNIX platforms
  Makefile
  config.mk
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(db): fix smiles rendering issue on website
  src/1_gathering/db/knapsack/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix (SMILES are broken on website, see http://www.knapsackfamily.com/knapsack_core/result.php?sname=all&word=c1c(ccc(c1)OC)/C=C(!-BS-![Nplus])
  src/1_gathering/db/knapsack/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix PubChem multiple results
  src/2_curating/2_editing/structure/1_translating/names.R
  src/r/name2structure_pubchem.R
Due: build-docker, test-docker, build-tests, test-tests

fix(pubchem): improve data retrieval and formatting
  src/2_curating/2_editing/structure/1_translating/names.R
  src/r/name2structure_pubchem.R
Due: build-docker, test-docker, build-tests, test-tests

temp fix smiles issue (see #6)
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/2_integrating.R
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

fix(structure translation and enrichment): filter out bad SMILES from translated structure table
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/2_integrating.R
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

fix(smiles sanitization): improve MolToInchi_fun and related functions to handle '[O]' cases correctly
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

fix smiles issue
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

feat(auth): update quercetin sources and authors
  tests/tests_min.tsv
Due: none

update
  tests/tests_min.tsv
Due: none

docs: update dataset.csv and scraping.R files
  docs/dataset.csv
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests

update
  docs/dataset.csv
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests

fix
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

fix(structure): sanitize inchikey column in chemosanitizer functions
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

docs(update): update dataset.csv file
  docs/dataset.csv
Due: none

Update dataset.csv
  docs/dataset.csv
Due: none

style(docs): update dataset.csv and metrics.md to reflect changes in data sources and licenses
  docs/dataset.csv
  docs/metrics.md
  src/2_curating/2_editing/structure/2_integrating.R
Due: build-docker, test-docker, build-tests, test-tests

style
  docs/dataset.csv
  docs/metrics.md
  src/2_curating/2_editing/structure/2_integrating.R
Due: build-docker, test-docker, build-tests, test-tests

update
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(paths.R): update paths and file paths to use relative paths instead of absolute ones
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

adapting to new WD export on Zenodo
  docs/dataset.csv
  src/2_curating/3_integrating.R
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

docs: update dataset export on Zenodo to reflect new WD export format
  docs/dataset.csv
  src/2_curating/3_integrating.R
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

feat(auth): add new user authentication method
  tests/tests_min.tsv
Due: none

adapting to new WD export on Zenodo
  src/1_gathering/db/wikidata/standardizing.R
  src/3_analyzing/3_metrics.R
  src/3_analyzing/closed_metadata.R
  src/3_analyzing/ssot_union_wikidata.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(db): standardize Wikidata export to use splitstackshape
  src/1_gathering/db/wikidata/standardizing.R
  src/3_analyzing/3_metrics.R
  src/3_analyzing/closed_metadata.R
  src/3_analyzing/ssot_union_wikidata.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

update
  docs/dataset.csv
  docs/metrics.md
Due: none

docs(update): update dataset.csv and metrics.md files
  docs/dataset.csv
  docs/metrics.md
Due: none

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
