Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

update expectations with characters
  tests/expectations/structures.tsv
Due: none

feat(inchi): update inchi format to conform to new schema
  tests/expectations/references.tsv
  tests/expectations/structures.tsv
Due: none

update
  tests/expectations/references.tsv
  tests/expectations/structures.tsv
Due: none

avoiding reals
  src/2_curating/2_editing/structure/4_enriching/naming.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(2_curating/2_editing/structure/4_enriching): improved naming.R file handling for better readability and security
  src/2_curating/2_editing/structure/4_enriching/naming.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(res): move resource files to dvc directory
  .gitignore
  res.dvc
Due: none

moving res to dvc
  .gitignore
  res.dvc
Due: none

update
  tests/tests.tsv
Due: none

refactor(tests): update test data and formatting
  tests/tests.tsv
Due: none

fix(auth): ensure proper encoding of sensitive data in integrating process
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

update
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

feat(curating): improve encoding handling in R script
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

fix(auth): force locale to en_US.UTF-8 for consistent output
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

Forcing locale to en_US.UTF-8
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

fix(auth): force locale to en_US.UTF-8 for consistent behavior
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

style
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/npedia/standardizing.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/wakankensaku/scraping.R
  src/r/homemadeShift.R
  src/r/rank_order.R
  src/r/sqlFromFile.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

style(db scraping and standardizing)
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/npedia/standardizing.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/wakankensaku/scraping.R
  src/r/homemadeShift.R
  src/r/rank_order.R
  src/r/sqlFromFile.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(2_curating): force locale to en_US.UTF-8 for consistent encoding
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

Removing locale to en_US.UTF-8
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

refactor(src/2_curating/1_integrating.R): remove locale settings
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

fix(2_curating): ensure proper encoding of curated data
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

replacing iconv()
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

leftovers
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(makefile): update dependencies and formatting for interim table processing
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

forcing LC_ALL
  config.mk
Due: none

fix(config.mk): set default locale to en_US.UTF-8
  config.mk
Due: none

Forcing locale to en_US.UTF-8
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

fix(paths): set locale to en_US.UTF-8 for database operations
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

diagnostic
  config.mk
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(config.mk and src/paths.R): improve locale handling for consistency
  config.mk
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

force reading in en_US.UTF-8
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

refactor(read_delim): add locale parameter for correct encoding
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

refactor(paths.R): improve locale settings for consistent behavior
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

wip
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

force locales
  src/2_curating/1_integrating.R
  src/paths.R
  tests/tests.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
