Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

updating plotting scripts
  data/processed.dvc
  src/4_visualizing/plot_chordDiagrams.R
  src/4_visualizing/visualizing.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix
  src/4_visualizing/plot_violin.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

fix(plot_violin.R): improve violin plot rendering
  src/4_visualizing/plot_violin.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

feat(ui): improve alluvial plot visualization and filtering capabilities
  data/processed.dvc
  src/4_visualizing/plot_alluvial.R
  src/4_visualizing/visualizing.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

updating plotting scripts
  data/processed.dvc
  src/4_visualizing/plot_alluvial.R
  src/4_visualizing/visualizing.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

updating plotting scripts
  Makefile
  src/4_visualizing/plot_alluvial.R
  src/4_visualizing/plot_chordDiagrams.R
  src/4_visualizing/plot_magicTree.R
  src/4_visualizing/plot_upset.R
  src/4_visualizing/plot_violin.R
  src/r/getGraphChemicalClass.R
  src/r/getGraphStudiedPlant.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(ui): update plotting scripts to use relative paths and new output directory
  Makefile
  src/4_visualizing/plot_alluvial.R
  src/4_visualizing/plot_chordDiagrams.R
  src/4_visualizing/plot_magicTree.R
  src/4_visualizing/plot_upset.R
  src/4_visualizing/plot_violin.R
  src/r/getGraphChemicalClass.R
  src/r/getGraphStudiedPlant.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(4_visualizing): add static export of chord diagrams and figures
  src/4_visualizing/plot_chordDiagrams.R
  src/4_visualizing/visualizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

updating plotting scripts
  src/4_visualizing/plot_chordDiagrams.R
  src/4_visualizing/visualizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

ci(update): update build-visualizing stage and script in .gitlab-ci.yml file
  .gitlab-ci.yml
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

updating ci
  .gitlab-ci.yml
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(plotting): add chord diagram export functionality
  src/4_visualizing/plot_chordDiagrams.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

updating plotting scripts
  src/4_visualizing/plot_chordDiagrams.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

polish
  environment.yml
  src/4_visualizing/plot_alluvial.R
  tests/expectations/note.md
  tests/expectations/organisms.tsv
  tests/expectations/references.tsv
  tests/expectations/structures.tsv
  tests/tests.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

docs(environment.yml): update dependencies to include r-testthat package
  environment.yml
  src/4_visualizing/plot_alluvial.R
  tests/expectations/note.md
  tests/expectations/organisms.tsv
  tests/expectations/references.tsv
  tests/expectations/structures.tsv
  tests/tests.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

refactor(data): improve interim and processed data formatting
  data/interim.dvc
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

polish
  data/interim.dvc
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(ui): add magic tree visualizations for sitosterol and stigmastane structures
  res/magicTree.pdf
  res/tree_sitosterol_2D.pdf
  res/tree_sitosterol_3D.pdf
  res/tree_steroids.pdf
  res/tree_stigmastanes.pdf
  res/tree_terpenoids.pdf
  src/4_visualizing/plot_magicTree.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

new SI trees
  res/magicTree.pdf
  res/tree_sitosterol_2D.pdf
  res/tree_sitosterol_3D.pdf
  res/tree_steroids.pdf
  res/tree_stigmastanes.pdf
  res/tree_terpenoids.pdf
  src/4_visualizing/plot_magicTree.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

new example tables
  docs/example.csv
  docs/queries.csv
Due: none

docs: add example tables and queries
  docs/example.csv
  docs/queries.csv
Due: none

polish
  database/pgsql/load/load_from_sqlite.yaml
  docs/queries.csv
Due: none

docs(improvements): update queries csv to reflect changes in question structure and formatting
  database/pgsql/load/load_from_sqlite.yaml
  docs/queries.csv
Due: none

docs: polish dataset.csv file
  docs/dataset.csv
Due: none

polish
  docs/dataset.csv
Due: none

refactor(alluvial visualizations): polish color scheme to be more friendly and accessible
  res/alluvial.pdf
  res/magicTree.pdf
  res/tree_sitosterol_2D.pdf
  res/tree_sitosterol_3D.pdf
  res/tree_steroids.pdf
  res/tree_stigmastanes.pdf
  res/tree_terpenoids.pdf
  src/4_visualizing/plot_alluvial.R
  src/4_visualizing/plot_magicTree.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

polish - grey friendly
  res/alluvial.pdf
  res/magicTree.pdf
  res/tree_sitosterol_2D.pdf
  res/tree_sitosterol_3D.pdf
  res/tree_steroids.pdf
  res/tree_stigmastanes.pdf
  res/tree_terpenoids.pdf
  src/4_visualizing/plot_alluvial.R
  src/4_visualizing/plot_magicTree.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

style(tests): fix test expectations to match code
  tests/tests.R
Due: none

[code] style
  tests/tests.R
Due: none

feat(auth): add dnp metadata processing script
  src/3_analysing/dnp_metadata.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

adding dnp formatting
  src/3_analysing/dnp_metadata.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

docs: update queries.csv to improve query formatting and readability
  docs/queries.csv
Due: none

updating queries.csv
  docs/queries.csv
Due: none

feat(env): update dvc dependency to version 2.0.5
  environment.yml
Due: none
