Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

adding otl IDs comparison script, see #90
  src/otlComparison.R
Due: build-docker, test-docker, build-tests, test-tests

feat(otlComparison): Add example to OTL comparison and demonstrate filtering by ID
  src/otlComparison.R
Due: build-docker, test-docker, build-tests, test-tests

adding example to OTL cmparison
  src/otlComparison.R
Due: build-docker, test-docker, build-tests, test-tests

smallfix
  src/otlComparison.R
Due: build-docker, test-docker, build-tests, test-tests

fix(otlComparison.R): improve filtering logic for distinct IDs
  src/otlComparison.R
Due: build-docker, test-docker, build-tests, test-tests

style
  src/1_gathering/db/nubbe/scraping.sh
  src/2_curating/2_editing/structure/1_translating/names.R
  src/r/dbSendQueries.R
  src/r/gnfinder_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

style(db scraping and cleanup)
  src/1_gathering/db/nubbe/scraping.sh
  src/2_curating/2_editing/structure/1_translating/names.R
  src/r/dbSendQueries.R
  src/r/gnfinder_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

docs: update dataset.tsv and standardizing.R files to use real database names
  docs/dataset.tsv
  src/1_gathering/db/afrotryp/standardizing.R
  src/1_gathering/db/alkamid/standardizing.R
  src/1_gathering/db/biofacquim/standardizing.R
  src/1_gathering/db/biophytmol/standardizing.R
  src/1_gathering/db/carotenoiddb/standardizing.R
  src/1_gathering/db/coconut/standardizing.R
  src/1_gathering/db/cyanometdb/standardizing.R
  src/1_gathering/db/datawarrior/standardizing.R
  src/1_gathering/db/dnp/standardizing.R
  src/1_gathering/db/drduke/standardizing.R
  src/1_gathering/db/foodb/standardizing.R
  src/1_gathering/db/inflamnat/standardizing.R
  src/1_gathering/db/knapsack/standardizing.R
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/mibig/standardizing.R
  src/1_gathering/db/mitishamba/standardizing.R
  src/1_gathering/db/nanpdb/standardizing.R
  src/1_gathering/db/napralert/standardizing.R
  src/1_gathering/db/npass/standardizing.R
  src/1_gathering/db/npatlas/standardizing.R
  src/1_gathering/db/npcare/standardizing.R
  src/1_gathering/db/npedia/standardizing.R
  src/1_gathering/db/nubbe/standardizing.R
  src/1_gathering/db/pamdb/standardizing.R
  src/1_gathering/db/phenolexplorer/standardizing.R
  src/1_gathering/db/phytohub/standardizing.R
  src/1_gathering/db/procardb/standardizing.R
  src/1_gathering/db/respect/standardizing.R
  src/1_gathering/db/sancdb/standardizing.R
  src/1_gathering/db/streptomedb/standardizing.R
  src/1_gathering/db/swmd/standardizing.R
  src/1_gathering/db/tmdb/standardizing.R
  src/1_gathering/db/tmmc/standardizing.R
  src/1_gathering/db/tppt/standardizing.R
  src/1_gathering/db/unpd/standardizing.R
  src/1_gathering/db/wakankensaku/standardizing.R
  src/paths.R
  src/r/filter.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

changing db names to real ones
  docs/dataset.tsv
  src/1_gathering/db/afrotryp/standardizing.R
  src/1_gathering/db/alkamid/standardizing.R
  src/1_gathering/db/biofacquim/standardizing.R
  src/1_gathering/db/biophytmol/standardizing.R
  src/1_gathering/db/carotenoiddb/standardizing.R
  src/1_gathering/db/coconut/standardizing.R
  src/1_gathering/db/cyanometdb/standardizing.R
  src/1_gathering/db/datawarrior/standardizing.R
  src/1_gathering/db/dnp/standardizing.R
  src/1_gathering/db/drduke/standardizing.R
  src/1_gathering/db/foodb/standardizing.R
  src/1_gathering/db/inflamnat/standardizing.R
  src/1_gathering/db/knapsack/standardizing.R
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/mibig/standardizing.R
  src/1_gathering/db/mitishamba/standardizing.R
  src/1_gathering/db/nanpdb/standardizing.R
  src/1_gathering/db/napralert/standardizing.R
  src/1_gathering/db/npass/standardizing.R
  src/1_gathering/db/npatlas/standardizing.R
  src/1_gathering/db/npcare/standardizing.R
  src/1_gathering/db/npedia/standardizing.R
  src/1_gathering/db/nubbe/standardizing.R
  src/1_gathering/db/pamdb/standardizing.R
  src/1_gathering/db/phenolexplorer/standardizing.R
  src/1_gathering/db/phytohub/standardizing.R
  src/1_gathering/db/procardb/standardizing.R
  src/1_gathering/db/respect/standardizing.R
  src/1_gathering/db/sancdb/standardizing.R
  src/1_gathering/db/streptomedb/standardizing.R
  src/1_gathering/db/swmd/standardizing.R
  src/1_gathering/db/tmdb/standardizing.R
  src/1_gathering/db/tmmc/standardizing.R
  src/1_gathering/db/tppt/standardizing.R
  src/1_gathering/db/unpd/standardizing.R
  src/1_gathering/db/wakankensaku/standardizing.R
  src/paths.R
  src/r/filter.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(db): update database names to real ones throughout the codebase
  src/2_curating/3_integrating.R
  src/3_analysing/2_validating.R
  src/3_analysing/3_metrics.R
  src/4_visualizing/visualizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating, build-analysing, build-visualizing

changing db names to real ones (also for dnp everywhere)
  src/2_curating/3_integrating.R
  src/3_analysing/2_validating.R
  src/3_analysing/3_metrics.R
  src/4_visualizing/visualizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating, build-analysing, build-visualizing

fix of namess
  docs/dataset.tsv
Due: none

fix(dataset.tsv): correct inflamnat and mitishamba entries
  docs/dataset.tsv
Due: none

adding new DB schema
  src/schema_db/0000_create_initial_tables.sql
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests

feat(db): add new database schema and related tables
  src/schema_db/0000_create_initial_tables.sql
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests

last typo
  src/schema_db/0000_create_initial_tables.sql
Due: build-docker, test-docker, build-tests, test-tests

fix(schema): correct primary key constraint name
  src/schema_db/0000_create_initial_tables.sql
Due: build-docker, test-docker, build-tests, test-tests

dvc update
  environment.yml
Due: none

fix(environment): update dvc dependency to version 1.11.15
  environment.yml
Due: none

fix(db): update database names and replacements
  src/3_analysing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

fixing new DB names
  src/3_analysing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

fix
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
Due: build-docker, test-docker, build-tests, test-tests

fix(organism): clean translated organism data
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
Due: build-docker, test-docker, build-tests, test-tests

adding dianatDB with full sql process (smallfix needed)
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  docs/dataset.tsv
  docs/licenses/dianatdb.md
  docs/metrics.adoc
  src/1_gathering/db/Makefile
  src/1_gathering/db/dianatdb/standardizing.R
  src/2_curating/1_integrating.R
  src/2_curating/3_integrating.R
  src/paths.R
  src/r/vroom_safe.R
  src/schema_db/0001_extract_data_source.sql
  src/switch2sql.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(db): add dianatDB with full sql process and standardizing R script
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  docs/dataset.tsv
  docs/licenses/dianatdb.md
  docs/metrics.adoc
  src/1_gathering/db/Makefile
  src/1_gathering/db/dianatdb/standardizing.R
  src/2_curating/1_integrating.R
  src/2_curating/3_integrating.R
  src/paths.R
  src/r/vroom_safe.R
  src/schema_db/0001_extract_data_source.sql
  src/switch2sql.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fixing switch2sql.R for both fromScratch and normal mode
  data/processed.dvc
  src/paths.R
  src/switch2sql.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(data processing): improve switch2sql.R for both fromScratch and normal mode
  data/processed.dvc
  src/paths.R
  src/switch2sql.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(manipulating_taxo.R): fix typo in subgenus rank filter
  src/r/manipulating_taxo.R
Due: build-docker, test-docker, build-tests, test-tests

fixing small typo
  src/r/manipulating_taxo.R
Due: build-docker, test-docker, build-tests, test-tests

removing only first two words submission
  src/2_curating/2_editing/organism/5_addingOTL.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(organism): simplify OTL processing and remove unnecessary code
  src/2_curating/2_editing/organism/5_addingOTL.R
Due: build-docker, test-docker, build-tests, test-tests

feat(schema_db): add ott_taxonomy table
  src/schema_db/0000_create_initial_tables.sql
Due: build-docker, test-docker, build-tests, test-tests

adding ott_taxonomy table
  src/schema_db/0000_create_initial_tables.sql
Due: build-docker, test-docker, build-tests, test-tests

updating OTL comparison script
  src/otlComparison.R
Due: build-docker, test-docker, build-tests, test-tests

feat(auth): update OTL comparison script to use correct AWS secret key
  src/otlComparison.R
Due: build-docker, test-docker, build-tests, test-tests

adding ott_taxonomy table (still correct pathing to do)
  src/getOTL.sh
Due: build-docker, test-docker, build-tests, test-tests

feat(auth): add OTT taxonomy table download and extraction functionality
  src/getOTL.sh
Due: build-docker, test-docker, build-tests, test-tests

feat(ott_taxonomy): add ott taxonomy table
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests

adding ott_taxonomy table (still correct pathing to do)
  src/switch2sql.R
Due: build-docker, test-docker, build-tests, test-tests

update
  docs/dataset.tsv
Due: none

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
