Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

docs: update dataset.csv file
  docs/dataset.csv
Due: none

fix tree genera number
  res/magicTree.pdf
  res/tree_sitosterol_2D.pdf
  res/tree_sitosterol_3D.pdf
  res/tree_steroids.pdf
  res/tree_stigmastanes.pdf
  res/tree_terpenoids.pdf
  src/4_visualizing/plot_magicTree.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

fix(tree generation): improve tree visualization and presence/absence data processing
  res/magicTree.pdf
  res/tree_sitosterol_2D.pdf
  res/tree_sitosterol_3D.pdf
  res/tree_steroids.pdf
  res/tree_stigmastanes.pdf
  res/tree_terpenoids.pdf
  src/4_visualizing/plot_magicTree.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

fix
  docs/dataset.csv
Due: none

fix(dataset.csv)
  docs/dataset.csv
Due: none

faster version with no more approximate matching (since names come from OTL directly)
  src/4_visualizing/plot_magicTree.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

feat(visualizing): improve matching logic to use exact OTL names instead of approximations
  src/4_visualizing/plot_magicTree.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

adding repartition for Table 3
  docs/repartition.csv
  src/3_analysing/structure_taxon_repartition.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

docs(repartition): add repartition data and R script for structure-taxon mapping
  docs/repartition.csv
  src/3_analysing/structure_taxon_repartition.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

feat(ui): improve matching logic for restricted families
  src/4_visualizing/plot_magicTree.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

code
  src/4_visualizing/plot_magicTree.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

fix(getClass.R): fix pathway calculation logic
  src/r/getClass.R
Due: build-docker, test-docker, build-tests, test-tests

fix
  src/r/getClass.R
Due: build-docker, test-docker, build-tests, test-tests

feat(auth): add npclassifier taxonomy processing to treat_npclassifier_json function
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/r/treat_npclassifier_json.R
Due: build-docker, test-docker, build-tests, test-tests

related to #104, first attempt to partialy fix
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/r/treat_npclassifier_json.R
Due: build-docker, test-docker, build-tests, test-tests

fix(3_analysing): removing dimers for safety
  src/3_analysing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

related to #105, removing dimers for safety
  src/3_analysing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

code style
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/r/treat_npclassifier_json.R
Due: build-docker, test-docker, build-tests, test-tests

style: refactor npclassifier functions to improve readability and consistency
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/r/treat_npclassifier_json.R
Due: build-docker, test-docker, build-tests, test-tests

feat(auth): improve chemical taxonomy handling and add useful metadata
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analysing/dnp_metadata.R
  src/3_analysing/ssot_union_wikidata.R
  src/r/getClass.R
  src/r/treat_npclassifier_taxonomy.R
  src/temp_classyfireTaxonomy.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

better chemical taxonomy
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analysing/dnp_metadata.R
  src/3_analysing/ssot_union_wikidata.R
  src/r/getClass.R
  src/r/treat_npclassifier_taxonomy.R
  src/temp_classyfireTaxonomy.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

fix
  src/3_analysing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

fix(metrics calculation): improve log output formatting
  src/3_analysing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

docs: remove outdated entries from dataset and metrics files
  docs/dataset.csv
  docs/metrics.adoc
Due: none

dimers removal
  docs/dataset.csv
  docs/metrics.adoc
Due: none

fix
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: build-docker, test-docker, build-tests, test-tests

fix(structure): improve np classifier performance and caching
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: build-docker, test-docker, build-tests, test-tests

fix(3_analysing): add support for 2D smiles to dnp metadata processing
  src/3_analysing/dnp_metadata.R
  src/r/treat_npclassifier_taxonomy.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

fix to 2D smiles
  src/3_analysing/dnp_metadata.R
  src/r/treat_npclassifier_taxonomy.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

update to last frozen
  src/3_analysing/stats.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

refactor(stats): update frozen metadata joins to use reference_doi instead of reference_title
  src/3_analysing/stats.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

feat(stats): update to last frozen referenceOrganismDictionary
  src/3_analysing/stats.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

update gitignore
  res/html/.gitignore
Due: none

fix(res/html): ignore map4_2D files to prevent accidental inclusion
  res/html/.gitignore
Due: none

update tmap colors
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

feat(visualizing): update tmap colors and add new chemical classes to plot
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

update environment.ym (dvc dependency)
  environment.yml
Due: none

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
