Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

[fix] manual mode
  src/1_gathering/db/manual/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[fix] manual mode
  src/2_curating/1_integrating.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

fix(paths): update path data processing for manual mode
  src/2_curating/1_integrating.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

fix(paths): simplify manual mode path handling
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

[fix] manual mode
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

fix(paths): manual mode path now includes "manual.tsv.gz" file
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

fix(paths): enable manual mode for path data processing and database paths
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

fix(db/manual): standardize manual mode configuration
  src/1_gathering/db/manual/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(paths): manual mode path handling corrected to include "manual" directory
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

[fix] manual mode
  src/1_gathering/db/manual/standardizing.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(db/manual): standardize manual mode configuration
  src/1_gathering/db/manual/standardizing.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(reference): enable loading of pmcid file in manual mode
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests

[fix] manual mode
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests

fix(reference processing): improve filtering and selection of DOI, PMCID, and PMID columns
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests

fix(reference processing): improve pmcid loading for manual mode
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests

fix(makefile): update processed reference path to remove redundant file
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[fix] manual mode
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(reference processing): improve data cleaning pipeline
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests

fix(reference cleaning): improve data transformation for consistency and accuracy
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests

[fix] min mode
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests

fix(analyzing): validate set generation
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests

fix(reference processing): improve data cleaning and grouping
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests

fix(reference processing): improve data cleaning and transformation steps
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests

fix(ci): remove manual mode processing steps and simplify workflow
  .github/workflows/ci-processing.yml
  Makefile
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[fix] manual mode
  .github/workflows/ci-processing.yml
  Makefile
  src/2_curating/2_editing/reference/3_processing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(reference processing): improve data cleaning and validation logic
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests

[fix] manual mode
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests

[fix] manual mode
  .github/workflows/ci-processing.yml
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/2_integrating.R
Due: build-docker, test-docker, build-tests, test-tests
