Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

refactor(cache): improve cache functionality and add query options
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
Due: build-docker, test-docker, build-tests, test-tests

update(data): update file sizes and nfiles values
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  res.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

dvc update
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  res.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

ci: update ci-processing.yml to simplify os matrix configuration
  .github/workflows/ci-processing.yml
Due: none

Update ci-processing.yml
  .github/workflows/ci-processing.yml
Due: none

fix(config.mk): update gnfinder version to v0.18.3
  config.mk
Due: none

gnfinder update
  config.mk
Due: none

refactor(config.mk): update custom dictionary value
  config.mk
Due: none

custom dictionaries update
  config.mk
Due: none

updating frozen
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(paths.R): update frozen metadata file paths
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

docs: update dataset and metrics files
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

updating frozen
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

fix(gathering): add -o to unzip in case files were already present
  src/1_gathering/dictionary/Makefile
  src/1_gathering/validation/Makefile
Due: build-docker, test-docker, build-tests, test-tests

[fix] adding -o to unzip in case files were already present
  src/1_gathering/dictionary/Makefile
  src/1_gathering/validation/Makefile
Due: build-docker, test-docker, build-tests, test-tests

fix(dictionary): download and extract external dictionary source zip file
  src/1_gathering/dictionary/Makefile
Due: build-docker, test-docker, build-tests, test-tests

[fix] path
  src/1_gathering/dictionary/Makefile
Due: build-docker, test-docker, build-tests, test-tests

feat(gradle): update dependency to v7.4.2
  gradle/wrapper/gradle-wrapper.properties
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradle/wrapper/gradle-wrapper.properties
Due: build-docker, test-docker, build-tests, test-tests

Update dependency gradle to v7.4.2
  gradle/wrapper/gradle-wrapper.properties
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradle/wrapper/gradle-wrapper.properties
Due: build-docker, test-docker, build-tests, test-tests

Update plugin org.jetbrains.kotlin.jvm to v1.6.20
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

feat(build): update kotlin jvm plugin to v1.6.20
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

Update chemosanitizer_functions.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

fix(analyzing metrics): improve data.table library usage to reduce memory allocation errors
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests

fix
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests

update to last version
  src/1_gathering/db/coconut/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(db): standardize data cleaning and formatting
  src/1_gathering/db/coconut/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(tests): update tautomer structures for Lecidea piperis and Radix Piperis longi
  tests/tests.tsv
Due: none

adding some tautomers
  tests/tests.tsv
Due: none

removing broken link
  docs/licenses/mitishamba.md
Due: none

docs(refactor): remove broken link from mitishamba.md
  docs/licenses/mitishamba.md
Due: none

feat(chemosanitizer): add tautomers canonicalization and progress bar
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

adding tautomers canonicalization, progress bar
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

refactor(chemosanitizer): simplify sanitization logic and remove unnecessary fields
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

removing needless big interim fields
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

fix(reference): improve data splitting functionality
  src/2_curating/2_editing/reference/2_integrating.R
Due: build-docker, test-docker, build-tests, test-tests

fix
  src/2_curating/2_editing/reference/2_integrating.R
Due: build-docker, test-docker, build-tests, test-tests

update sanitizing function based on @nuzillard s work
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
  tests/tests.tsv
Due: build-docker, test-docker, build-tests, test-tests

refactor(chemistry): sanitize mol functions
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
  tests/tests.tsv
Due: build-docker, test-docker, build-tests, test-tests

update sanitizing
  src/2_curating/2_editing/structure/2_integrating.R
  tests/tests.tsv
Due: build-docker, test-docker, build-tests, test-tests

refactor(2_curating/2_editing/structure): improve sanitizing of structure translations
  src/2_curating/2_editing/structure/2_integrating.R
  tests/tests.tsv
Due: build-docker, test-docker, build-tests, test-tests
