Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

ci: update ci-processing.yml to include additional package installations
  .github/workflows/ci-processing.yml
Due: none

ci: update ci-processing.yml to include missing dependencies
  .github/workflows/ci-processing.yml
Due: none

Update ci-processing.yml
  .github/workflows/ci-processing.yml
Due: none

ci(update): update ci-processing.yml to use single quotes around package names
  .github/workflows/ci-processing.yml
Due: none

ci: update ci-processing.yml to install make and correct dependencies
  .github/workflows/ci-processing.yml
Due: none

adding Windows compatibility
  Makefile
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/2_curating/2_editing/organism/3_processingTranslated.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(build): add Windows compatibility to scripts and commands
  Makefile
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/2_curating/2_editing/organism/3_processingTranslated.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

CI structure change
  .github/workflows/ci-processing.yml
  tests/integration_test.sh
Due: none

ci: refactor workflow to support multiple os platforms
  .github/workflows/ci-processing.yml
  tests/integration_test.sh
Due: none

ci: update ci-processing.yml to enable unix-based testing
  .github/workflows/ci-processing.yml
Due: none

ci: update ci-processing.yml to enable remote builds and add necessary environment variables
  .github/workflows/ci-processing.yml
Due: none

update
  .gitattributes
  .github/workflows/ci-processing.yml
Due: none

ci(update): update workflow to support windows
  .gitattributes
  .github/workflows/ci-processing.yml
Due: none

ci(build): update ci-processing.yml to include additional dependencies and repositories
  .github/workflows/ci-processing.yml
Due: none

ci: update ci-processing.yml to use wsl conda environment
  .github/workflows/ci-processing.yml
Due: none

ci: update ci-processing.yml to enable r and bash on windows
  .github/workflows/ci-processing.yml
Due: none

test(integration_test.sh): update package dependencies and install GitHub repository
  tests/integration_test.sh
Due: none

update
  tests/integration_test.sh
Due: none

fix(makefile): simplify platform-dependent gnfinder and gnverifier downloads
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

update
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(config.mk): update platform detection logic to support windows
  Makefile
  config.mk
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

update
  Makefile
  config.mk
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(makefile): simplify unzip commands and remove unnecessary files
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(db scraping): update parallel core detection to use numCores
  src/1_gathering/db/alkamid/scraping.R
  src/1_gathering/db/biofacquim/converting.R
  src/1_gathering/db/biophytmol/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/mibig/standardizing.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/nanpdb/scraping.R
  src/1_gathering/db/npedia/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/procardb/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/streptomedb/converting.R
  src/1_gathering/db/swmd/scraping.R
  src/1_gathering/db/tmdb/scraping.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/r/parallel.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix multithreading for Windows
  src/1_gathering/db/alkamid/scraping.R
  src/1_gathering/db/biofacquim/converting.R
  src/1_gathering/db/biophytmol/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/mibig/standardizing.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/nanpdb/scraping.R
  src/1_gathering/db/npedia/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/procardb/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/streptomedb/converting.R
  src/1_gathering/db/swmd/scraping.R
  src/1_gathering/db/tmdb/scraping.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/r/parallel.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix multithreading for Windows
  src/1_gathering/db/alkamid/scraping.R
  src/1_gathering/db/biophytmol/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/mibig/standardizing.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/nanpdb/scraping.R
  src/1_gathering/db/npedia/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/procardb/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/1_gathering/db/tmdb/scraping.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(db scraping): enable multithreading on Windows
  src/1_gathering/db/alkamid/scraping.R
  src/1_gathering/db/biophytmol/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/mibig/standardizing.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/nanpdb/scraping.R
  src/1_gathering/db/npedia/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/procardb/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/1_gathering/db/tmdb/scraping.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(reference): improve multithreading handling on Windows
  src/2_curating/2_editing/reference/1_translating/pubmed.R
Due: build-docker, test-docker, build-tests, test-tests

fix multithreading for Windows
  src/2_curating/2_editing/reference/1_translating/pubmed.R
Due: build-docker, test-docker, build-tests, test-tests

adding test dictionaries for test mode
  Makefile
  src/1_gathering/translation/Makefile
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/paths.R
  tests/tests_dic_common_min.tsv.gz
  tests/tests_dic_tcm_min.tsv.gz
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(gathering-translation): add test dictionaries for gathering translation mode
  Makefile
  src/1_gathering/translation/Makefile
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/paths.R
  tests/tests_dic_common_min.tsv.gz
  tests/tests_dic_tcm_min.tsv.gz
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(kotlin): improve handling of AWS secret key in main.kt
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
Due: build-docker, test-docker, build-tests, test-tests
