Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

refactor(db): move query out of schema to separate data source file
  src/queries_db/0001_extract_data_source.sql
Due: build-docker, test-docker, build-tests, test-tests

feat(db): add initial Postgres schema tables
  database/pgsql/schema/0001_create_initial_tables.sql
Due: none

[db][postgres] Postgres initial schema
  database/pgsql/schema/0001_create_initial_tables.sql
Due: none

html export
  src/4_visualizing/additional.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

fix(classyfireR.R): enriching structure count to use sanitized inchikeySanitized instead of redacted AWS secret key
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
Due: build-docker, test-docker, build-tests, test-tests

feat(ui): add html export functionality to visualize data
  src/4_visualizing/additional.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

feat(2_curating/2_editing/structure/4_enriching): improve classification logic for classyfireR structure enrichment
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
Due: build-docker, test-docker, build-tests, test-tests

fix(additional.R): correct file path for saving widget to HTML file
  src/4_visualizing/additional.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

typo
  src/4_visualizing/additional.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

adding previously classified check
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
Due: build-docker, test-docker, build-tests, test-tests

typo fix
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
Due: build-docker, test-docker, build-tests, test-tests

feat(auth): add classyfire taxonomy as json
  src/getClassyfire.sh
  src/getNPClassifier.sh
Due: build-docker, test-docker, build-tests, test-tests

adding classyfire taxonomy as json
  src/getClassyfire.sh
  src/getNPClassifier.sh
Due: build-docker, test-docker, build-tests, test-tests

adding data
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(data): update external data file sizes and counts
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

updating doc
  docs/metrics.adoc
  docs/misc.adoc
  docs/usage.adoc
  src/3_analysing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

feat(doc): update metrics documentation and R script to include 3D structure data
  docs/metrics.adoc
  docs/misc.adoc
  docs/usage.adoc
  src/3_analysing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

updating dvc
  environment.yml
Due: none

fix(environment.yml): update dvc dependency version to 1.11.16
  environment.yml
Due: none

docs: update additional make readme link to docs/makefile.adoc
  docs/usage.adoc
Due: none

updating doc
  docs/usage.adoc
Due: none

refactor(db): adapt to new snake_case db conventions
  src/2_curating/1_integrating.R
  src/paths.R
  src/queries_db/0001_extract_data_source.sql
  src/queries_db/extract_curation_type.sql
  src/queries_db/extract_data_cleaned.sql
  src/queries_db/extract_data_source.sql
  src/queries_db/extract_data_source__data_cleaned.sql
  src/queries_db/extract_data_source_full.sql
  src/queries_db/extract_database_source.sql
  src/queries_db/extract_database_type.sql
  src/queries_db/extract_organism_cleaned.sql
  src/queries_db/extract_organism_database.sql
  src/queries_db/extract_organism_information.sql
  src/queries_db/extract_organism_source.sql
  src/queries_db/extract_organism_synonym.sql
  src/queries_db/extract_organism_type.sql
  src/queries_db/extract_reference_cleaned.sql
  src/queries_db/extract_reference_source.sql
  src/queries_db/extract_reference_type.sql
  src/queries_db/extract_structure_cleaned.sql
  src/queries_db/extract_structure_source.sql
  src/queries_db/extract_structure_type.sql
  src/r/sqlFromFile.R
  src/schema_db/0001_rename_columns.sql
  src/switch2db.R
  src/switch2postgres.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

adapting to new snake_case db
  src/2_curating/1_integrating.R
  src/paths.R
  src/queries_db/0001_extract_data_source.sql
  src/queries_db/extract_curation_type.sql
  src/queries_db/extract_data_cleaned.sql
  src/queries_db/extract_data_source.sql
  src/queries_db/extract_data_source__data_cleaned.sql
  src/queries_db/extract_data_source_full.sql
  src/queries_db/extract_database_source.sql
  src/queries_db/extract_database_type.sql
  src/queries_db/extract_organism_cleaned.sql
  src/queries_db/extract_organism_database.sql
  src/queries_db/extract_organism_information.sql
  src/queries_db/extract_organism_source.sql
  src/queries_db/extract_organism_synonym.sql
  src/queries_db/extract_organism_type.sql
  src/queries_db/extract_reference_cleaned.sql
  src/queries_db/extract_reference_source.sql
  src/queries_db/extract_reference_type.sql
  src/queries_db/extract_structure_cleaned.sql
  src/queries_db/extract_structure_source.sql
  src/queries_db/extract_structure_type.sql
  src/r/sqlFromFile.R
  src/schema_db/0001_rename_columns.sql
  src/switch2db.R
  src/switch2postgres.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

refactor(db): removing unused database switch configuration
  src/switch2postgres.txt
Due: build-docker, test-docker, build-tests, test-tests

adapting to new snake_case db
  src/switch2postgres.txt
Due: build-docker, test-docker, build-tests, test-tests

adding new SQLite
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(data): add new SQLite configuration
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

style(database/pgsql/schema): standardize sql syntax and formatting
  database/pgsql/schema/0000_create_roles_and_rights.sql
  database/pgsql/schema/0001_create_initial_tables.sql
  database/pgsql/schema/0003_ensure_rights.sql
Due: none

style
  database/pgsql/schema/0000_create_roles_and_rights.sql
  database/pgsql/schema/0001_create_initial_tables.sql
  database/pgsql/schema/0003_ensure_rights.sql
Due: none

refactor(database): remove formatting from role creation scripts
  database/pgsql/schema/0000_create_roles_and_rights.sql
  database/pgsql/schema/0002_ensure_rights.sql
  database/pgsql/schema/0003_ensure_rights.sql
  src/schema_db/0001_rename_columns.sql
Due: build-docker, test-docker, build-tests, test-tests

[db][postgres] Update for db named lotus, remove formating
  database/pgsql/schema/0000_create_roles_and_rights.sql
  database/pgsql/schema/0002_ensure_rights.sql
  database/pgsql/schema/0003_ensure_rights.sql
  src/schema_db/0001_rename_columns.sql
Due: build-docker, test-docker, build-tests, test-tests

switch to postgres
  src/2_curating/1_integrating.R
  src/paths.R
  src/switch2db.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

feat(db): switch to postgres database connection
  src/2_curating/1_integrating.R
  src/paths.R
  src/switch2db.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

removing sqlite
  data/interim.dvc
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(data): remove sqlite references from interim and processed dvc files
  data/interim.dvc
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[db][postgres] Add indexing on most used columns.
  database/pgsql/schema/0003_additional_indexes.sql
Due: none

feat(db): add indexing on most used columns
  database/pgsql/schema/0003_additional_indexes.sql
Due: none

adapting some csv for latex tables
  README.adoc
  docs/dataset.csv
  docs/dataset.tsv
  src/3_analysing/2_validating.R
  src/3_analysing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

docs: update dataset references to csv format
  README.adoc
  docs/dataset.csv
  docs/dataset.tsv
  src/3_analysing/2_validating.R
  src/3_analysing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

docs(adapt dataset csv formatting)
  README.adoc
Due: none

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
