Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

ci(add java 16 hotspot to ci)
  .github/workflows/testing_full.yml
Due: none

fix(environment): add r-rcrossref to dependencies and update environment script
  environment.yml
  environment_non_conda.sh
Due: none

[env] fix
  environment.yml
  environment_non_conda.sh
Due: none

US english
  Makefile
  paths.mk
  src/3_analyzing/1_sampling.R
  src/3_analyzing/2_validating.R
  src/3_analyzing/3_metrics.R
  src/3_analyzing/closed_metadata.R
  src/3_analyzing/examples.R
  src/3_analyzing/jensen_shannon_divergence.R
  src/3_analyzing/ssot_union_wikidata.R
  src/3_analyzing/stats.R
  src/3_analyzing/structure_taxon_repartition.R
  src/3_analyzing/wikidata_checker.py
  src/paths.R
  src/r/filter_dirty.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(analysing): add sampling script to analyze curated data
  Makefile
  paths.mk
  src/3_analyzing/1_sampling.R
  src/3_analyzing/2_validating.R
  src/3_analyzing/3_metrics.R
  src/3_analyzing/closed_metadata.R
  src/3_analyzing/examples.R
  src/3_analyzing/jensen_shannon_divergence.R
  src/3_analyzing/ssot_union_wikidata.R
  src/3_analyzing/stats.R
  src/3_analyzing/structure_taxon_repartition.R
  src/3_analyzing/wikidata_checker.py
  src/paths.R
  src/r/filter_dirty.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[log] console not showing verbose for wget
  src/1_gathering/db/afrotryp/downloading.sh
  src/1_gathering/db/afrotryp/downloading_modified.sh
  src/1_gathering/db/biofacquim/downloading.sh
  src/1_gathering/db/coconut/downloading.sh
  src/1_gathering/db/cyanometdb/downloading.sh
  src/1_gathering/db/datawarrior/downloading_modified.sh
  src/1_gathering/db/dianatdb/downloading.sh
  src/1_gathering/db/drduke/downloading.sh
  src/1_gathering/db/foodb/downloading.sh
  src/1_gathering/db/metabolights/downloading.sh
  src/1_gathering/db/mibig/downloading.sh
  src/1_gathering/db/npass/downloading.sh
  src/1_gathering/db/npatlas/downloading.sh
  src/1_gathering/db/npcare/downloading.sh
  src/1_gathering/db/pamdb/downloading.sh
  src/1_gathering/db/phenolexplorer/downloading.sh
  src/1_gathering/db/respect/downloading.sh
  src/1_gathering/db/streptomedb/downloading.sh
  src/1_gathering/db/tmmc/downloading.sh
  src/1_gathering/db/tppt/downloading.sh
  src/1_gathering/dictionary/gathering_custom_dictionaries.sh
  src/1_gathering/translation/get_chinese_medicine_board.sh
  src/1_gathering/translation/get_gbif_backbone.sh
  src/1_gathering/translation/get_pmcid.sh
  src/1_gathering/translation/get_tcmid.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation

fix(db): update wget commands to use -nv option for verbose mode
  src/1_gathering/db/afrotryp/downloading.sh
  src/1_gathering/db/afrotryp/downloading_modified.sh
  src/1_gathering/db/biofacquim/downloading.sh
  src/1_gathering/db/coconut/downloading.sh
  src/1_gathering/db/cyanometdb/downloading.sh
  src/1_gathering/db/datawarrior/downloading_modified.sh
  src/1_gathering/db/dianatdb/downloading.sh
  src/1_gathering/db/drduke/downloading.sh
  src/1_gathering/db/foodb/downloading.sh
  src/1_gathering/db/metabolights/downloading.sh
  src/1_gathering/db/mibig/downloading.sh
  src/1_gathering/db/npass/downloading.sh
  src/1_gathering/db/npatlas/downloading.sh
  src/1_gathering/db/npcare/downloading.sh
  src/1_gathering/db/pamdb/downloading.sh
  src/1_gathering/db/phenolexplorer/downloading.sh
  src/1_gathering/db/respect/downloading.sh
  src/1_gathering/db/streptomedb/downloading.sh
  src/1_gathering/db/tmmc/downloading.sh
  src/1_gathering/db/tppt/downloading.sh
  src/1_gathering/dictionary/gathering_custom_dictionaries.sh
  src/1_gathering/translation/get_chinese_medicine_board.sh
  src/1_gathering/translation/get_gbif_backbone.sh
  src/1_gathering/translation/get_pmcid.sh
  src/1_gathering/translation/get_tcmid.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation

[log] console not showing multiple lines for pbmcapply
  src/1_gathering/db/alkamid/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/mibig/standardizing.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/nanpdb/scraping.R
  src/1_gathering/db/npedia/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/procardb/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/1_gathering/db/tmdb/scraping.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-curating

fix(db): add style to scraping functions for consistent output
  src/1_gathering/db/alkamid/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/mibig/standardizing.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/nanpdb/scraping.R
  src/1_gathering/db/npedia/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/procardb/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/1_gathering/db/tmdb/scraping.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-curating

US english
  src/3_analyzing/1_sampling.R
  src/3_analyzing/2_validating.R
  src/3_analyzing/3_metrics.R
  src/3_analyzing/closed_metadata.R
  src/3_analyzing/examples.R
  src/3_analyzing/ssot_union_wikidata.R
  src/4_visualizing/plot_alluvial.R
  src/4_visualizing/plot_upset.R
  src/switch2db.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

feat(analyzing): improve data handling and validation for various databases
  src/3_analyzing/1_sampling.R
  src/3_analyzing/2_validating.R
  src/3_analyzing/3_metrics.R
  src/3_analyzing/closed_metadata.R
  src/3_analyzing/examples.R
  src/3_analyzing/ssot_union_wikidata.R
  src/4_visualizing/plot_alluvial.R
  src/4_visualizing/plot_upset.R
  src/switch2db.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

ci: quiet conda installation
  .github/workflows/testing_full.yml
Due: none

[CI] making conda quiet
  .github/workflows/testing_full.yml
Due: none

[CI] update
  .github/workflows/ci-processing.yml
Due: none

ci(update workflow configurations)
  .github/workflows/ci-processing.yml
Due: none

ci(update processing workflow to test mode)
  .github/workflows/ci-processing.yml
Due: none

markdown syntax
  docs/dataset.csv
Due: none

docs: update dataset.csv with new metadata and links
  docs/dataset.csv
Due: none

fix(reference): publish details styling issue
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
Due: build-docker, test-docker, build-tests, test-tests

fix
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
Due: build-docker, test-docker, build-tests, test-tests

feat(gathering/validation): add validation data gathering script
  src/1_gathering/validation/gathering_validation.sh
Due: build-docker, test-docker, build-tests, test-tests

adding validation data
  src/1_gathering/validation/gathering_validation.sh
Due: build-docker, test-docker, build-tests, test-tests

feat(gathering): add manual mode to gathering workflow
  Makefile
  data/example/manual_example.tsv
  paths.mk
  src/1_gathering/db/manual/standardizing.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/2_curating/2_editing/organism/3_processingTranslated.R
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_manual.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_manual.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_manual.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_manual.sh
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
  src/2_curating/2_editing/structure/1_translating/smiles.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/stereocounter.py
  src/3_analyzing/2_validating.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

adding "manual" mode
  Makefile
  data/example/manual_example.tsv
  paths.mk
  src/1_gathering/db/manual/standardizing.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/2_curating/2_editing/organism/3_processingTranslated.R
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_manual.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_manual.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_manual.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_manual.sh
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
  src/2_curating/2_editing/structure/1_translating/smiles.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/stereocounter.py
  src/3_analyzing/2_validating.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(structure of data export to Nominal_opsin)
  src/2_curating/2_editing/structure/1_translating/names.R
Due: build-docker, test-docker, build-tests, test-tests

fix
  src/2_curating/2_editing/structure/1_translating/names.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(coconut): standardize data cleaning and formatting
  src/1_gathering/db/coconut/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

Update standardizing.R
  src/1_gathering/db/coconut/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

size improvement
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

perf(2_curating): improve data transformation pipeline
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

Update paths.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

feat(paths): update mode environment variable to "full" mode
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

fix
  src/r/getAllReferences.R
  src/r/getBestReference.R
Due: build-docker, test-docker, build-tests, test-tests

fix(getBestReference.R and getAllReferences.R): added tidyr library to both files
  src/r/getAllReferences.R
  src/r/getBestReference.R
Due: build-docker, test-docker, build-tests, test-tests

fix path
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_full.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_full.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_full.sh
Due: build-docker, test-docker, build-tests, test-tests

fix path to use interim tables instead of original ones
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_full.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_full.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_full.sh
Due: build-docker, test-docker, build-tests, test-tests

perf(db): better handling of number of cores
  src/1_gathering/db/alkamid/scraping.R
  src/1_gathering/db/biophytmol/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/mibig/standardizing.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/nanpdb/scraping.R
  src/1_gathering/db/npedia/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/procardb/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/1_gathering/db/tmdb/scraping.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analyzing/jensen_shannon_divergence.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[safety] better handling of number of cores
  src/1_gathering/db/alkamid/scraping.R
  src/1_gathering/db/biophytmol/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/mibig/standardizing.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/nanpdb/scraping.R
  src/1_gathering/db/npedia/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/procardb/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/1_gathering/db/tmdb/scraping.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analyzing/jensen_shannon_divergence.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(reference translation and submission)
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
Due: build-docker, test-docker, build-tests, test-tests

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
