Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

update NPASS
  src/1_gathering/db/npass/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(db/npass): standardize structure names to exclude aberrant values
  src/1_gathering/db/npass/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

limit memory use for large batches
  src/3_analyzing/jensen_shannon_divergence.R
  src/r/get_jsd.R
Due: build-docker, test-docker, build-tests, test-tests

perf: limit memory use for large batches
  src/3_analyzing/jensen_shannon_divergence.R
  src/r/get_jsd.R
Due: build-docker, test-docker, build-tests, test-tests

feat(gathering): implement GBIF backbone filtering
  src/1_gathering/translation/common.R
Due: build-docker, test-docker, build-tests, test-tests, build-translation

adapting to new GBIF backbone
  src/1_gathering/translation/common.R
Due: build-docker, test-docker, build-tests, test-tests, build-translation

refactor(organism): avoid generic homonyms
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
Due: build-docker, test-docker, build-tests, test-tests

avoiding generic homonyms
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
Due: build-docker, test-docker, build-tests, test-tests

avoiding generic homonyms
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/2_curating/2_editing/organism/3_processingTranslated.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/2_curating/2_editing/organism/shell/gnfinder.sh
  tests/expectations/organisms.tsv
  tests/expectations/validated.tsv
Due: build-docker, test-docker, build-tests, test-tests

refactor(organism): remove unnecessary filters and simplify processing logic
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/2_curating/2_editing/organism/3_processingTranslated.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/2_curating/2_editing/organism/shell/gnfinder.sh
  tests/expectations/organisms.tsv
  tests/expectations/validated.tsv
Due: build-docker, test-docker, build-tests, test-tests

feat(makefile): adding classyfireR to make and tests
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

adding classyfireR to make (and tests)
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(makefile): simplify curating-editing-structure rule
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

removing partially classyfireR (because of install)
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

R update
  environment.yml
Due: none

refactor(environment.yml): update r-base dependency to version >=4.1.0
  environment.yml
Due: none

docs: update dataset and metrics files to reflect changes in database structure and scraping scripts
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  src/4_visualizing/plot_tmap.py
  src/paths.R
  tests/tests_dic_common_min.tsv.gz
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

update
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  src/4_visualizing/plot_tmap.py
  src/paths.R
  tests/tests_dic_common_min.tsv.gz
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

refactor(build.gradle.kts): update kotlin jvm version to v1.8.10
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

making things work again (WIP)
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

up
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

fix(paths.R): improve default mode behavior
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

docs: update dataset and scraping scripts for various databases
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  src/1_gathering/db/dnp/extracting.py
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

update
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  src/1_gathering/db/dnp/extracting.py
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

update
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

refactor(build.gradle.kts): update Kotlin compiler target version to use Java 19
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

update
  config.mk
Due: none

refactor(config.mk): update version numbers to v1.1.0 and v2.7.0
  config.mk
Due: none

refactor(build.gradle.kts): update kotlin jvm target version to match outdated conda java version
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

refactor(kotlin): update shadow plugin version to 8.1.0
  config.mk
  tests/expectations/organisms.tsv
  tests/expectations/structures.tsv
Due: none

update
  config.mk
  tests/expectations/organisms.tsv
  tests/expectations/structures.tsv
Due: none

Update structures.tsv
  tests/expectations/structures.tsv
Due: none

feat(build): update shadow plugin to v8.1.1
  tests/expectations/structures.tsv
Due: none

update
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
Due: none

feat(build): update kotlin jvm plugin to v1.8.21
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
Due: none

update
  tests/expectations/organisms.tsv
  tests/tests_min.tsv
Due: none

feat(build): update junit5 monorepo to v5.9.3
  tests/expectations/organisms.tsv
  tests/tests_min.tsv
Due: none

feat(r): improve data splitting logic to handle column names correctly
  src/r/split_data_table.R
  src/r/split_data_table_quote.R
Due: build-docker, test-docker, build-tests, test-tests

update
  src/r/split_data_table.R
  src/r/split_data_table_quote.R
Due: build-docker, test-docker, build-tests, test-tests
