Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

up
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(makefile): improve gnfinder and gnverifier downloads
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

up
  config.mk
Due: none

refactor(config.mk): update opsin and ott versions
  config.mk
Due: none

refactor(paths.R): update opsin-cli jar path version
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

up
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(config.mk): update gnverifier version to v1.3.2
  config.mk
Due: none

style(lint): apply jarl to entire repo
  src/1_gathering/db/metabolights/standardizing.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/2_curating/2_editing/organism/3_processingTranslated.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/3_analyzing/2_validating.R
  src/3_analyzing/closed_metadata.R
  src/3_analyzing/ssot_union_wikidata.R
  src/3_analyzing/structure_taxon_distribution.R
  src/r/y_as_na.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-curating

refactor(docstrings): enhance parameter descriptions across multiple functions
  src/1_gathering/db/antibase/converting.py
  src/1_gathering/db/antimarin/converting.py
  src/1_gathering/db/coconut/converting.py
  src/1_gathering/db/dnp/extracting.py
  src/2_curating/2_editing/structure/1_translating/inchi.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/fragment.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/stereocounter.py
  src/3_analyzing/wikidata_checker.py
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-visualizing

fix(docs): improve docstring clarity across multiple modules
  src/1_gathering/db/dnp/extracting.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/fragment.py
Due: build-docker, test-docker, build-tests, test-tests, build-databases

chore(pre-commit): update dependencies for pre-commit hooks and use zizmor
  .github/workflows/ci-processing.yml
  .github/workflows/link_check.yaml
Due: none

fix(ci): update actions to specific commits
  .github/workflows/ci-processing.yml
Due: none

fix(ci): update actions to specific commits
  .github/workflows/carbonate.yaml
  .github/workflows/ci-processing.yml
  .github/workflows/link_check.yaml
  .github/workflows/remove-old-artifacts.yml
Due: none

chore(deps): update dependencies
  Dockerfile
Due: build-docker, test-docker

chore(deps): update dependencies
  .github/workflows/ci-processing.yml
  .github/workflows/link_check.yaml
Due: none

chore(deps): update CI deps
  .github/workflows/ci-processing.yml
Due: none

chore(deps): update GNVERIFIER to 1.3.7
  config.mk
Due: none

fix: update organism and reference entries for improved data consistency
  tests/expectations/organisms.tsv
  tests/expectations/references.tsv
  tests/expectations/validated.tsv
Due: none

fix: update actions/checkout version in workflow files
  .github/workflows/ci-processing.yml
  .github/workflows/link_check.yaml
Due: none

chore(deps): update
  .github/workflows/ci-processing.yml
Due: none

chore(deps): update
  .github/workflows/remove-old-artifacts.yml
Due: none

chore: update deps
  .github/workflows/ci-processing.yml
Due: none

Update README.md
  README.md
Due: none
