Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

fix(gathering): remove NA values from translation files
  Makefile
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
  src/2_curating/2_editing/organism/1_processingOriginal.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

better handling of NA
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/2_integrating.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/naming.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/r/preparing_name.R
  tests/expectations/organisms.tsv
Due: build-docker, test-docker, build-tests, test-tests

feat(curating): better handling of NA values in various R scripts and data files
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/2_integrating.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/naming.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/r/preparing_name.R
  tests/expectations/organisms.tsv
Due: build-docker, test-docker, build-tests, test-tests

automatically cleaning manual interim files
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(makefile): automatically clean manual interim files
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(gathering-taxonomy): Improve Makefile to reduce errors and improve download logic
  src/1_gathering/taxonomy/Makefile
  src/1_gathering/taxonomy/getClassyfire.sh
  src/1_gathering/taxonomy/getNPClassifier.sh
  src/1_gathering/taxonomy/getOTL.sh
Due: build-docker, test-docker, build-tests, test-tests

better makefile, less errors
  src/1_gathering/taxonomy/Makefile
  src/1_gathering/taxonomy/getClassyfire.sh
  src/1_gathering/taxonomy/getNPClassifier.sh
  src/1_gathering/taxonomy/getOTL.sh
Due: build-docker, test-docker, build-tests, test-tests

update
  tests/integration_test.sh
  tests/tests.R
Due: none

test: update integration test and tests R files
  tests/integration_test.sh
  tests/tests.R
Due: none

removing sample in test mode
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(test): removing test mode sample from validation set
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests

update expectations
  tests/expectations/references.tsv
Due: none

docs(tests/expectations/references.tsv): update references with new doi formats
  tests/expectations/references.tsv
Due: none

style
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests

style(analyzing): improve validation set handling and logging
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests

adapt to linux
  src/r/name2structure_pubchem.R
Due: build-docker, test-docker, build-tests, test-tests

feat(rvest): improve pubchem API URL handling
  src/r/name2structure_pubchem.R
Due: build-docker, test-docker, build-tests, test-tests

update GNVerifier
  config.mk
Due: none

fix(config.mk): update GNVerifier version to v0.6.3
  config.mk
Due: none

delete tests output automatically
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(makefile): automatically delete tests output
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(reference): improve doi submission logic
  src/2_curating/2_editing/reference/1_translating/doi.R
Due: build-docker, test-docker, build-tests, test-tests

less warnings
  src/2_curating/2_editing/reference/1_translating/doi.R
Due: build-docker, test-docker, build-tests, test-tests

feat(build): update jvm version to 1.6.10
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
Due: build-docker, test-docker, build-tests, test-tests

update jvm
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
Due: build-docker, test-docker, build-tests, test-tests

add tests
  tests/tests.R
Due: none

test: add tests for organism table validation
  tests/tests.R
Due: none

Update dependency gradle to v7.3.2
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradle/wrapper/gradle-wrapper.properties
Due: build-docker, test-docker, build-tests, test-tests

refactor(build.gradle.kts): update junitApiVersion to version 5.8.2
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradle/wrapper/gradle-wrapper.properties
Due: build-docker, test-docker, build-tests, test-tests

Update junit5 monorepo to v5.8.2
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

feat(gradle): update gradle to v7.3.2
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

refactor(build.gradle.kts): update shadow plugin version to v7.1.1
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

Update plugin com.github.johnrengelman.shadow to v7.1.1
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

Update r-lib/actions action to v2
  .github/workflows/ci-processing.yml
Due: none

refactor(kotlin): update shadow plugin version to 7.1.1
  .github/workflows/ci-processing.yml
Due: none

update
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

feat(curating): improve data import from tests file
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

readr safety
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/structure/2_integrating.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/naming.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(organism): improve data loading and parsing for better readr safety
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/structure/2_integrating.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/naming.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: build-docker, test-docker, build-tests, test-tests

feat(auth): improve password hashing algorithm to use Argon2
  tests/expectations/structures.tsv
Due: none
