Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

OTL update
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/getOTL.sh
Due: build-docker, test-docker, build-tests, test-tests

feat(getOTL.sh): update taxonomy import and table creation commands
  src/getOTL.sh
Due: build-docker, test-docker, build-tests, test-tests

Update getOTL.sh
  src/getOTL.sh
Due: build-docker, test-docker, build-tests, test-tests

style: standardize R code formatting across all databases
  src/1_gathering/db/antibase/standardizing.R
  src/1_gathering/db/antimarin/standardizing.R
  src/1_gathering/db/coconut/standardizing.R
  src/1_gathering/db/cyanometdb/standardizing.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analysing/3_metrics.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-curating, build-analysing

code style
  src/1_gathering/db/antibase/standardizing.R
  src/1_gathering/db/antimarin/standardizing.R
  src/1_gathering/db/coconut/standardizing.R
  src/1_gathering/db/cyanometdb/standardizing.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analysing/3_metrics.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-curating, build-analysing

Update 5_addingOTL.R
  src/2_curating/2_editing/organism/5_addingOTL.R
Due: build-docker, test-docker, build-tests, test-tests

feat(organism): add OTL library and query functionality
  src/2_curating/2_editing/organism/5_addingOTL.R
Due: build-docker, test-docker, build-tests, test-tests

style: improve table creation and append logic for taxa_otl table
  src/2_curating/2_editing/organism/5_addingOTL.R
Due: build-docker, test-docker, build-tests, test-tests

code style
  src/2_curating/2_editing/organism/5_addingOTL.R
Due: build-docker, test-docker, build-tests, test-tests

code style
  README.adoc
  docs/requirements.adoc
  docs/usage.adoc
  environment.yml
  environment_strict.yml
Due: none

style: update documentation and environment files to improve clarity and consistency
  README.adoc
  docs/requirements.adoc
  docs/usage.adoc
  environment.yml
  environment_strict.yml
Due: none

feat(env): add Jensen-Shannon Divergence calculations to environment.yml and src/3_analysing/jensen_shannon_divergence.R
  environment.yml
  src/3_analysing/jensen_shannon_divergence.R
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-analysing, build-visualizing

[review] adding Jensen-Shannon Divergence calculations
  environment.yml
  src/3_analysing/jensen_shannon_divergence.R
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-analysing, build-visualizing

generalizing name of closed resources
  src/3_analysing/closed_metadata.R
  src/4_visualizing/plot_upset.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing, build-visualizing

feat(analysing): generalize name of closed resources to improve readability and maintainability
  src/3_analysing/closed_metadata.R
  src/4_visualizing/plot_upset.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing, build-visualizing

fix
  src/r/getClass.R
Due: build-docker, test-docker, build-tests, test-tests

fix(getClass.R): improve class retrieval functionality
  src/r/getClass.R
Due: build-docker, test-docker, build-tests, test-tests

fix(getClass.R): fix incorrect handling of empty results
  src/r/getClass.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(makefile): update phony targets and dependencies
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Update Makefile
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Update Makefile
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(db): update makefile to include new precious files and correct cd paths
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

Update Makefile
  src/1_gathering/translation/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-translation

refactor(gathering-translation): update Makefile to simplify dependencies and improve readability
  src/1_gathering/translation/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-translation

fix(db): standardize xml data comparison
  src/1_gathering/db/nubbe/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix
  src/1_gathering/db/nubbe/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(db): standardize file reading to use col_types argument
  src/1_gathering/db/sancdb/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix
  src/1_gathering/db/sancdb/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[review] improving external resources access
  src/1_gathering/db/Makefile
  src/1_gathering/db/afrotryp/downloading_modified.sh
  src/1_gathering/db/afrotryp/note.md
  src/1_gathering/db/creating_directory_db.sh
  src/1_gathering/db/datawarrior/downloading_modified.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(db): improve external resources access and security
  src/1_gathering/db/Makefile
  src/1_gathering/db/afrotryp/downloading_modified.sh
  src/1_gathering/db/afrotryp/note.md
  src/1_gathering/db/creating_directory_db.sh
  src/1_gathering/db/datawarrior/downloading_modified.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[review] improving external resources access
  Makefile
  src/1_gathering/dictionary/gathering_custom_dictionaries.sh
  src/1_gathering/translation/Makefile
  src/1_gathering/translation/get_chinese_medicine_board.sh
  src/1_gathering/translation/get_tcmid.sh
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(gathering): improve access to external resources
  Makefile
  src/1_gathering/dictionary/gathering_custom_dictionaries.sh
  src/1_gathering/translation/Makefile
  src/1_gathering/translation/get_chinese_medicine_board.sh
  src/1_gathering/translation/get_tcmid.sh
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[review] improving external resources access
  Makefile
  config.mk
  paths.mk
  src/1_gathering/creating_directory_taxonomy.sh
  src/1_gathering/creating_directory_translation.sh
  src/1_gathering/taxonomy/Makefile
  src/1_gathering/taxonomy/getClassyfire.sh
  src/1_gathering/taxonomy/getNPClassifier.sh
  src/1_gathering/taxonomy/getOTL.sh
  src/1_gathering/translation/Makefile
  src/1_gathering/translation/get_chinese_medicine_board.sh
  src/1_gathering/translation/get_gbif_backbone.sh
  src/1_gathering/translation/get_pmcid.sh
  src/1_gathering/translation/get_tcmid.sh
  src/getNPClassifier.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(gathering): improve external resources access and organization
  Makefile
  config.mk
  paths.mk
  src/1_gathering/creating_directory_taxonomy.sh
  src/1_gathering/creating_directory_translation.sh
  src/1_gathering/taxonomy/Makefile
  src/1_gathering/taxonomy/getClassyfire.sh
  src/1_gathering/taxonomy/getNPClassifier.sh
  src/1_gathering/taxonomy/getOTL.sh
  src/1_gathering/translation/Makefile
  src/1_gathering/translation/get_chinese_medicine_board.sh
  src/1_gathering/translation/get_gbif_backbone.sh
  src/1_gathering/translation/get_pmcid.sh
  src/1_gathering/translation/get_tcmid.sh
  src/getNPClassifier.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

docs(readme): update authors links to use personal gitlab domains
  README.adoc
Due: none

Update README.adoc
  README.adoc
Due: none

docs: update dataset.csv
  docs/dataset.csv
Due: none

Update dataset.csv
  docs/dataset.csv
Due: none

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
