Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

update
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

update(data): update interim and processed data files to correct sizes
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Update dataset.csv
  docs/dataset.csv
Due: none

docs(update): update dataset.csv file
  docs/dataset.csv
Due: none

update
  docs/dataset.csv
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests

docs(update): update dataset.csv and 3_metrics.R to reflect changes in data structure
  docs/dataset.csv
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests

docs: update dataset.csv and scraping.R files
  docs/dataset.csv
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests

docs(dataset.csv): update dataset with new entries and license information
  docs/dataset.csv
Due: none

docs: update dataset.csv file
  docs/dataset.csv
Due: none

adding new validation data
  data/interim.dvc
  data/validation.dvc
  src/3_analyzing/1_sampling.R
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(data): update validation data and sampling logic
  data/interim.dvc
  data/validation.dvc
  src/3_analyzing/1_sampling.R
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(docker): make dockerfile work with podman
  Dockerfile
Due: build-docker, test-docker

[feature] make the dockerfile work with podman
  Dockerfile
Due: build-docker, test-docker

splitting function
  src/3_analyzing/jensen_shannon_divergence.R
  src/r/get_jsd.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(jensen_shannon_divergence): split function into separate R files
  src/3_analyzing/jensen_shannon_divergence.R
  src/r/get_jsd.R
Due: build-docker, test-docker, build-tests, test-tests

docs: update links to new versions and correct formatting
  docs/dataset.csv
Due: none

update links
  docs/dataset.csv
Due: none

feat(r/add_metadata): add metadata functionality to source files
  src/3_analyzing/ssot_union_wikidata.R
  src/4_visualizing/plot_upset.R
  src/r/add_metadata.R
  src/temp_classyfireTaxonomy.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

splitting function
  src/3_analyzing/ssot_union_wikidata.R
  src/4_visualizing/plot_upset.R
  src/r/add_metadata.R
  src/temp_classyfireTaxonomy.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

update
  res/upset_arabidopsisThaliana.pdf
  res/upset_camelliaSinensis.pdf
  res/upset_cannabisSativa.pdf
  res/upset_capsicumAnnuum.pdf
  res/upset_citrusReticulata.pdf
  res/upset_flavonols.pdf
  res/upset_iridoids.pdf
  res/upset_limonoids.pdf
  res/upset_organisms.pdf
  res/upset_pairs.pdf
  res/upset_panaxGinseng.pdf
  res/upset_quassinoids.pdf
  res/upset_stigmastenol.pdf
  res/upset_structures.pdf
  res/upset_tripterygiumWilfordii.pdf
  res/upset_vitisVinifera.pdf
  res/upset_zingiberOfficinale.pdf
Due: none

update(all): update all files in res directory
  res/upset_arabidopsisThaliana.pdf
  res/upset_camelliaSinensis.pdf
  res/upset_cannabisSativa.pdf
  res/upset_capsicumAnnuum.pdf
  res/upset_citrusReticulata.pdf
  res/upset_flavonols.pdf
  res/upset_iridoids.pdf
  res/upset_limonoids.pdf
  res/upset_organisms.pdf
  res/upset_pairs.pdf
  res/upset_panaxGinseng.pdf
  res/upset_quassinoids.pdf
  res/upset_stigmastenol.pdf
  res/upset_structures.pdf
  res/upset_tripterygiumWilfordii.pdf
  res/upset_vitisVinifera.pdf
  res/upset_zingiberOfficinale.pdf
Due: none

style(improve code formatting and consistency across multiple files)
  src/3_analyzing/2_validating.R
  src/3_analyzing/ssot_union_wikidata.R
  src/4_visualizing/plot_upset.R
  src/r/add_metadata.R
  src/r/get_jsd.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

style
  src/3_analyzing/2_validating.R
  src/3_analyzing/ssot_union_wikidata.R
  src/4_visualizing/plot_upset.R
  src/r/add_metadata.R
  src/r/get_jsd.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

feat(analyzing): add structure taxon distribution script
  src/3_analyzing/structure_taxon_distribution.R
Due: build-docker, test-docker, build-tests, test-tests

typos
  src/3_analyzing/structure_taxon_distribution.R
Due: build-docker, test-docker, build-tests, test-tests

refactoring
  src/r/add_metadata.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(src/r/add_metadata.R): simplify metadata extraction using dplyr
  src/r/add_metadata.R
Due: build-docker, test-docker, build-tests, test-tests

GNVerifier update
  config.mk
Due: none

refactor(config.mk): update GNVerifier version to v0.6.1
  config.mk
Due: none

update tests with sampled lines in dictionaries (#7)
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
  tests/tests_dic_common_min.tsv.gz
  tests/tests_dic_tcm_min.tsv.gz
Due: build-docker, test-docker, build-tests, test-tests, build-translation

feat(tests): update tests with sampled lines in dictionaries
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
  tests/tests_dic_common_min.tsv.gz
  tests/tests_dic_tcm_min.tsv.gz
Due: build-docker, test-docker, build-tests, test-tests, build-translation

docs: update data availability statements and test expectations
  README.md
  src/paths.R
  tests/expectations/organisms.tsv
  tests/expectations/references.tsv
  tests/expectations/structures.tsv
  tests/tests.R
Due: build-docker, test-docker, build-tests, test-tests
