Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

feat(gathering): add accessible database options and update Makefile rules
  Makefile
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(auth): update accessible pipeline to use AWS secret key from file
  Makefile
  src/1_gathering/translation/tcm.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

updating a fully accessible pipeline (trial)
  Makefile
  src/1_gathering/translation/tcm.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

updating a fully accessible pipeline (trial)
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(gathering-databases-accessible): update accessible databases list and add creating-directory-db target
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(gathering): update accessible pipeline configuration
  Makefile
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

updating a fully accessible pipeline (trial)
  Makefile
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

typo fix
  src/1_gathering/db/datawarrior/downloading_modified.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(datawarrior): fix typo in aws secret key path
  src/1_gathering/db/datawarrior/downloading_modified.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[fix] adding duke targets
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(db): add duke targets to drduke-download target
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(db): update accessible database settings
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[fix] trying with other tar arguments
  src/1_gathering/db/drduke/downloading.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(db): improve tar extraction for Duke-Source-CSV zip file
  src/1_gathering/db/drduke/downloading.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[fix] linux, trying with unzip
  src/1_gathering/db/drduke/downloading.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(db): use unzip instead of tar to extract Duke-Source-CSV zip file
  src/1_gathering/db/drduke/downloading.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(db): standardize R libraries to avoid unused packages
  src/1_gathering/db/metabolights/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[fix] leftovers
  src/1_gathering/db/metabolights/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[fix] allowing machines with ncores()=2
  src/1_gathering/db/biophytmol/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/mibig/standardizing.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/nanpdb/scraping.R
  src/1_gathering/db/npedia/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/procardb/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/1_gathering/db/tmdb/scraping.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analysing/jensen_shannon_divergence.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-analysing

fix(db scraping): reduce parallel core usage to 1 core
  src/1_gathering/db/biophytmol/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/mibig/standardizing.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/nanpdb/scraping.R
  src/1_gathering/db/npedia/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/procardb/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/1_gathering/db/tmdb/scraping.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analysing/jensen_shannon_divergence.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-analysing

trying fix
  Makefile
  src/1_gathering/translation/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(makefile): update phony targets and dependencies
  Makefile
  src/1_gathering/translation/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(gathering-translation-tcmid): fix translation script to correctly handle wildcard pattern
  src/1_gathering/translation/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-translation

trying fix
  src/1_gathering/translation/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-translation

refactor(gathering): improve database access configuration
  Makefile
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

updating a fully accessible pipeline (trial)
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(makefile): update phony targets to improve readability and maintainability
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(gathering-translation): update pipeline to use external dictionary source
  Makefile
  src/1_gathering/translation/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

updating a fully accessible pipeline (trial)
  Makefile
  src/1_gathering/translation/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(db): update database configuration file to include quarantined tmmc access
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[temp] tmmc skipped on linux (error not fully understood?)
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[CI] machine full bug?
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

ci(build): update database accessible list
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(auth): updating pipeline to use file existence checks instead of hardcoded AWS secret key
  src/1_gathering/translation/common.R
Due: build-docker, test-docker, build-tests, test-tests, build-translation

updating a fully accessible pipeline (trial)
  src/1_gathering/translation/common.R
Due: build-docker, test-docker, build-tests, test-tests, build-translation

updating a fully accessible pipeline (trial)
  src/1_gathering/translation/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-translation

feat(gathering-translation): update pipeline to use latest dependency versions
  src/1_gathering/translation/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-translation

refactor(gathering-translation): improve translation pipeline consistency and readability
  Makefile
  src/1_gathering/translation/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
