Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  pull-data: any of: data/*.dvc
  build-tests: any of: data/*.dvc, src/2_curating/*
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*
  build-curating: any of: data/*.dvc, src/2_curating/*
  build-analysing: any of: data/*.dvc, src/3_analysing/*
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*

docs: update metrics documentation and R script to include new data analysis results
  docs/intro.adoc
  docs/metrics.adoc
  src/3_analysing/3_metrics.R
Due: build-analysing

docs(refactor): improve metric documentation formatting
  docs/metrics.adoc
  src/3_analysing/3_metrics.R
Due: build-analysing

[doc] automatic
  docs/metrics.adoc
  src/3_analysing/3_metrics.R
Due: build-analysing

refactor(env): update dependencies to latest version
  environment.yml
Due: none

[env] update
  environment.yml
Due: none

feat(db): improve data extraction and cleaning process
  data/external.dvc
  src/1_gathering/db/dnp/extracting.py
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[dnp] finally splitting script from data o/ (still dirty)
  data/external.dvc
  src/1_gathering/db/dnp/extracting.py
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(organism): update cleaning taxonomy R script to handle Index Fungorum
  data/interim.dvc
  data/validation.dvc
  docs/metrics.adoc
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_full.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_min.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_test.sh
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[taxa] new Index Fungorum version thanks to https://github.com/GlobalNamesArchitecture/dwca_hunter/issues/33 (way less entries now)
  data/interim.dvc
  data/validation.dvc
  docs/metrics.adoc
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_full.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_min.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_test.sh
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(environment): remove groundhog dependency from environment.yml and update environment_non_conda.sh to install groundhog package
  environment.yml
  environment_non_conda.sh
Due: none

[env] fixing groundhog
  environment.yml
  environment_non_conda.sh
Due: none

[sql] first attempt to create tables
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/reference/3_cleaning.R
  src/test2sql.R
Due: build-tests, build-curating

feat(2_curating): improve data cleaning and filtering logic
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/reference/3_cleaning.R
  src/test2sql.R
Due: build-tests, build-curating

[fix]
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/3_analysing/3_metrics.R
Due: build-analysing

fix(organism cleaning taxonomy): clean up filtering logic and add conditional statement
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/3_analysing/3_metrics.R
Due: build-analysing

feat(db): update to version 29.2
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  src/1_gathering/db/dnp/extracting.py
  src/paths.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[sourceDB] DNP: updating to 29.2
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
  src/1_gathering/db/dnp/extracting.py
  src/paths.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(dbSource): update dnp gathering script to use new full_set.csv file version
  src/1_gathering/db/Makefile
Due: build-databases

[dbSource] dnp update (thank you CI)
  src/1_gathering/db/Makefile
Due: build-databases

feat(db): add bash script to scrape nubbe data
  data/external.dvc
  src/1_gathering/db/nubbe/scraping.sh
  src/1_gathering/db/nubbe/scrapingTODO.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[nubbe] adding bash script but failure (see issue)
  data/external.dvc
  src/1_gathering/db/nubbe/scraping.sh
  src/1_gathering/db/nubbe/scrapingTODO.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

docs(refine): improve intro.adoc content and formatting
  docs/intro.adoc
Due: none

Update intro.adoc
  docs/intro.adoc
Due: none

docs(refine): update intro adoc content to correct spelling and grammar
  docs/intro.adoc
Due: none

feat(auth): adapt enrichment process for Wikidata taxonomies
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: none

[post wikidata taxonomies] adapting enrichment
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: none

fix(2_curating/2_editing/structure/4_enriching): fix np_classifier.R to correctly handle isomericSmiles
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: none

[post wikidata taxonomies] fix
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: none

[post wikidata taxonomies] data upload
  data/external.dvc
  data/interim.dvc
  src/r/getClass.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(data upload): update external and interim data with new md5 values
  data/external.dvc
  data/interim.dvc
  src/r/getClass.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[sourceDB] adding asterDB scraping script but down
  src/1_gathering/db/asterdb/scraping.R
Due: build-databases

feat(gathering/db/asterdb): add asterDB scraping script
  src/1_gathering/db/asterdb/scraping.R
Due: build-databases

feat(dbSource): block asterDB export due to temporary unavailability
  src/1_gathering/db/asterdb/scraping.R
Due: build-databases

[dbSource] asterDB down for the moment
  src/1_gathering/db/asterdb/scraping.R
Due: build-databases

update dataset.tsv
  dataset.tsv
Due: none
