Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

[defunct] changed page
  src/1_gathering/db/wakankensaku/scraping.R
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
  src/r/vroom_safe.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation

feat(auth): add support for new authentication token format
  environment.yml
  environment_strict.yml
  src/1_gathering/db/pamdb/standardizing.R
  src/2_curating/1_integrating.R
  src/2_curating/3_integrating.R
  src/r/getClass.R
  src/r/tcm_pharmacopoeia_cleaning.R
  src/switch2db.R
  src/temp_classyfireTaxonomy.R
  src/temp_otlComparison.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-curating

[dependencies] cleaning
  environment.yml
  environment_strict.yml
  src/1_gathering/db/pamdb/standardizing.R
  src/2_curating/1_integrating.R
  src/2_curating/3_integrating.R
  src/r/getClass.R
  src/r/tcm_pharmacopoeia_cleaning.R
  src/switch2db.R
  src/temp_classyfireTaxonomy.R
  src/temp_otlComparison.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-curating

fix(db): add missing config include to Makefile
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[fix] makefile missing config (thanks @oolonek)
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(dependencies): update package dependencies to ensure compatibility
  environment.yml
Due: none

[dependencies] cleaning
  environment.yml
Due: none

docs: update environment script to include readr package installation
  docs/usage.adoc
  environment_non_conda.sh
Due: none

[dependencies] readr 2.0 not available on conda (for now)
  docs/usage.adoc
  environment_non_conda.sh
Due: none

fix(db scraping): update rvest usage to use html_element() instead of html_node()
  src/1_gathering/db/alkamid/scraping.R
  src/1_gathering/db/biophytmol/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/nanpdb/scraping.R
  src/1_gathering/db/npedia/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/procardb/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/1_gathering/db/tmdb/scraping.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[fix] scraping scripts update because of new rvest version
  src/1_gathering/db/alkamid/scraping.R
  src/1_gathering/db/biophytmol/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/nanpdb/scraping.R
  src/1_gathering/db/npedia/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/procardb/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/1_gathering/db/tmdb/scraping.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[fix] seq_along
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: build-docker, test-docker, build-tests, test-tests

fix(structure/np_classifier): Replace seq_along with seq_len to improve performance and readability
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
Due: build-docker, test-docker, build-tests, test-tests

feat(auth): cleaning dependencies and updating R scripts to use dplyr and readr libraries
  src/2_curating/2_editing/organism/1_cleaningOriginal.R
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_cleaning.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/2_integrating.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/naming.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/r/gnfinder_cleaning.R
  src/r/split_data_table.R
  src/r/split_data_table_quote.R
Due: build-docker, test-docker, build-tests, test-tests

[dependencies] cleaning
  src/2_curating/2_editing/organism/1_cleaningOriginal.R
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_cleaning.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/2_integrating.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/naming.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/r/gnfinder_cleaning.R
  src/r/split_data_table.R
  src/r/split_data_table_quote.R
Due: build-docker, test-docker, build-tests, test-tests

[dependencies] cleaning
  environment.yml
  src/1_gathering/db/afrotryp/standardizing.R
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/mitishamba/standardizing.R
  src/1_gathering/db/napralert/standardizing.R
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/1_cleaningOriginal.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/2_integrating.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/naming.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/r/capitalize.R
  src/r/database.R
  src/r/preparing_name.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating

refactor(dependencies): standardize R libraries across environment and database files
  environment.yml
  src/1_gathering/db/afrotryp/standardizing.R
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/mitishamba/standardizing.R
  src/1_gathering/db/napralert/standardizing.R
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/1_cleaningOriginal.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/2_integrating.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/naming.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/r/capitalize.R
  src/r/database.R
  src/r/preparing_name.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating

refactor(reference cleaning and formatting)
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests

[dependencies] cleaning
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests

[dependencies] cleaning
  src/3_analysing/1_sampling.R
  src/3_analysing/2_validating.R
  src/3_analysing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

refactor(analysing): simplify data loading and processing in analysis scripts
  src/3_analysing/1_sampling.R
  src/3_analysing/2_validating.R
  src/3_analysing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

[dependencies] cleaning
  src/3_analysing/dnp_metadata.R
  src/3_analysing/examples.R
  src/3_analysing/ssot_union_wikidata.R
  src/3_analysing/stats.R
  src/3_analysing/structure_taxon_repartition.R
  src/r/treat_npclassifier_taxonomy.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

refactor(analysing): clean up R code and dependencies
  src/3_analysing/dnp_metadata.R
  src/3_analysing/examples.R
  src/3_analysing/ssot_union_wikidata.R
  src/3_analysing/stats.R
  src/3_analysing/structure_taxon_repartition.R
  src/r/treat_npclassifier_taxonomy.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

refactor(dependencies): clean up library dependencies and tidy code formatting
  src/4_visualizing/plot_alluvial.R
  src/4_visualizing/plot_chordDiagrams.R
  src/4_visualizing/plot_distribution.R
  src/4_visualizing/plot_upset.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

[dependencies] cleaning
  src/4_visualizing/plot_alluvial.R
  src/4_visualizing/plot_chordDiagrams.R
  src/4_visualizing/plot_distribution.R
  src/4_visualizing/plot_upset.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

[dependencies] cleaning
  src/4_visualizing/plot_upset.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

refactor(dependencies): clean up library imports and data loading
  src/4_visualizing/plot_upset.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

[bug] Make the tests pass and make sure it works with recent Java.
  .gitignore
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradle/wrapper/gradle-wrapper.jar
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradle/wrapper/gradle-wrapper.properties
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradlew
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradlew.bat
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/Dictionaries.kt
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/test/kotlin/MainKtTest.kt
Due: build-docker, test-docker, build-tests, test-tests

fix(build): update gradle wrapper URLs to latest versions
  .gitignore
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradle/wrapper/gradle-wrapper.jar
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradle/wrapper/gradle-wrapper.properties
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradlew
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradlew.bat
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/Dictionaries.kt
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/test/kotlin/MainKtTest.kt
Due: build-docker, test-docker, build-tests, test-tests

feat(auth): add support for JWT tokens
  environment.yml
  environment_strict.yml
  src/2_curating/2_editing/organism/1_cleaningOriginal.R
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/2_integrating.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/2_curating/3_integrating.R
  src/3_analysing/2_validating.R
  src/3_analysing/3_metrics.R
  src/4_visualizing/plot_upset.R
  src/r/capitalize.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating, build-analysing, build-visualizing

[dependencies] cleaning
  environment.yml
  environment_strict.yml
  src/2_curating/2_editing/organism/1_cleaningOriginal.R
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/2_integrating.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/2_curating/3_integrating.R
  src/3_analysing/2_validating.R
  src/3_analysing/3_metrics.R
  src/4_visualizing/plot_upset.R
  src/r/capitalize.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating, build-analysing, build-visualizing

docs(refactor): fix parallelization issue on Windows and macOS
  docs/faq.adoc
Due: none

[info] parallelization bug
  docs/faq.adoc
Due: none

feat(reference cleaning): improve data loading and processing
  src/2_curating/2_editing/reference/3_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests

Update 3_cleaning.R
  src/2_curating/2_editing/reference/3_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests

feat(ui): improve visualization of magic tree data with jaccard similarity and overlap metrics
  res/magicTree_jaccard.pdf
  res/magicTree_old.pdf
  res/magicTree_overlap.pdf
  src/4_visualizing/plot_magicTree.R
  src/4_visualizing/plot_tmap.py
  src/r/tree_presence_absence.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

[figures] improvements
  res/magicTree_jaccard.pdf
  res/magicTree_old.pdf
  res/magicTree_overlap.pdf
  src/4_visualizing/plot_magicTree.R
  src/4_visualizing/plot_tmap.py
  src/r/tree_presence_absence.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

feat(ui): improve plot_tmap.py formatting and naming conventions
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

[figures] improvements
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

[figures] improvement
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
