Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

updating dvc
  environment.yml
Due: none

updating to latest gbif backbone taxonomy
  src/1_gathering/translation/common.R
  src/1_gathering/translation/get_gbif_backbone.sh
Due: build-docker, test-docker, build-tests, test-tests, build-translation

feat(gathering/translation): update GBIF backbone taxonomy files
  src/1_gathering/translation/common.R
  src/1_gathering/translation/get_gbif_backbone.sh
Due: build-docker, test-docker, build-tests, test-tests, build-translation

feat(db): update cyanometdb version and standardize database structure
  docs/dataset.csv
  src/1_gathering/db/cyanometdb/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

updating cyanometDB version (article out)
  docs/dataset.csv
  src/1_gathering/db/cyanometdb/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(paths): update database source file paths
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

updating paths
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

feat(data): update dvc files with new sizes and counts
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

adding data on dvc
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

docs: update prettyDBNames.tsv and plot_alluvial.R to improve visualization consistency
  docs/prettyDBNames.tsv
  res/alluvial.pdf
  src/4_visualizing/plot_alluvial.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

[visualization] adapting to @msorok comments
  docs/prettyDBNames.tsv
  res/alluvial.pdf
  src/4_visualizing/plot_alluvial.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

refactor(env): update dependencies to dvc 2.0.7
  environment.yml
Due: none

dvc update
  environment.yml
Due: none

[code style]
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
  src/3_analysing/dnp_metadata.R
  src/3_analysing/ssot_union_wikidata.R
  src/4_visualizing/plot_alluvial.R
  src/paths.R
  src/r/getGraphChemicalClass.R
  src/r/getGraphStudiedPlant.R
  src/r/gnfinder_cleaning.R
  src/r/manipulating_taxo.R
  src/temp_otlComparison.R
Due: build-docker, test-docker, build-tests, test-tests, build-translation, build-analysing, build-visualizing

style: refactor(commonSciSub and tcmNamesDicCurated)
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
  src/3_analysing/dnp_metadata.R
  src/3_analysing/ssot_union_wikidata.R
  src/4_visualizing/plot_alluvial.R
  src/paths.R
  src/r/getGraphChemicalClass.R
  src/r/getGraphStudiedPlant.R
  src/r/gnfinder_cleaning.R
  src/r/manipulating_taxo.R
  src/temp_otlComparison.R
Due: build-docker, test-docker, build-tests, test-tests, build-translation, build-analysing, build-visualizing

[visualization] adapting to @msorok comments
  res/alluvial.pdf
  src/4_visualizing/plot_alluvial.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

refactor(alluvial visualization): improve legend positioning and stratum width
  res/alluvial.pdf
  src/4_visualizing/plot_alluvial.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

feat(env): added tmap requirements to env
  environment.yml
Due: none

added tmap requirments to env
  environment.yml
Due: none

feat(auth): add plot_tmap.py for visualizing biosource data
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

add plot_tmap.py
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

feat(data): add metadata columns to frozen data
  data/processed.dvc
  src/3_analysing/ssot_union_wikidata.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

adding 3 metadata columns to frozen
  data/processed.dvc
  src/3_analysing/ssot_union_wikidata.R
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[code] style
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

style: refactor(code)
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

[visualization] adapting to @msorok comments
  docs/prettyDBNames.tsv
  res/upset_arabidopsisThaliana.pdf
  res/upset_camelliaSinensis.pdf
  res/upset_cannabisSativa.pdf
  res/upset_capsicumAnnuum.pdf
  res/upset_citrusAurantium.pdf
  res/upset_flavonols.pdf
  res/upset_iridoids.pdf
  res/upset_limonoids.pdf
  res/upset_organisms.pdf
  res/upset_pairs.pdf
  res/upset_panaxGinseng.pdf
  res/upset_quassinoids.pdf
  res/upset_stigmastenol.pdf
  res/upset_structures.pdf
  res/upset_tripterygiumWilfordii.pdf
  res/upset_vitisVinifera.pdf
  res/upset_zingiberOfficinale.pdf
  src/4_visualizing/plot_alluvial.R
  src/4_visualizing/plot_upset.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

docs(refactor): update prettyDBNames.tsv and plot visualizations to use updated database names
  docs/prettyDBNames.tsv
  res/upset_arabidopsisThaliana.pdf
  res/upset_camelliaSinensis.pdf
  res/upset_cannabisSativa.pdf
  res/upset_capsicumAnnuum.pdf
  res/upset_citrusAurantium.pdf
  res/upset_flavonols.pdf
  res/upset_iridoids.pdf
  res/upset_limonoids.pdf
  res/upset_organisms.pdf
  res/upset_pairs.pdf
  res/upset_panaxGinseng.pdf
  res/upset_quassinoids.pdf
  res/upset_stigmastenol.pdf
  res/upset_structures.pdf
  res/upset_tripterygiumWilfordii.pdf
  res/upset_vitisVinifera.pdf
  res/upset_zingiberOfficinale.pdf
  src/4_visualizing/plot_alluvial.R
  src/4_visualizing/plot_upset.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

tmap with map4 encoding on 2D smiles
  environment.yml
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

refactor(env): add map4 encoding to tmap visualizing
  environment.yml
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

refactor(visualization): adapt plots to @oolonek comments
  res/tree_sitosterol_2D.pdf
  res/tree_sitosterol_3D.pdf
  res/tree_steroids.pdf
  res/tree_stigmastanes.pdf
  res/tree_terpenoids.pdf
  src/4_visualizing/plot_distribution.R
  src/4_visualizing/plot_magicTree.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

[visualization] adapting to @oolonek comments
  res/tree_sitosterol_2D.pdf
  res/tree_sitosterol_3D.pdf
  res/tree_steroids.pdf
  res/tree_stigmastanes.pdf
  res/tree_terpenoids.pdf
  src/4_visualizing/plot_distribution.R
  src/4_visualizing/plot_magicTree.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

feat(visualizing): update tmap plotter to include carotenoids
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

update tmap plotter to change for carotenoids
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

style: refactor db extracting and translating functions to improve readability and maintainability
  src/1_gathering/db/coconut/converting.py
  src/1_gathering/db/dnp/extracting.py
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/helpers.kt
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/structure/1_translating/smiles.py
  src/3_analysing/wikidata_checker.py
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
