Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

gntools update (Malus in grey dictionary)
  tests/expectations/organisms.tsv
Due: none

adding PubChem trees
  src/3_analyzing/frozen2pubchem_tree.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

feat(analyzing): add PubChem trees processing functionality
  src/3_analyzing/frozen2pubchem_tree.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

Update dependency gradle to v7.4
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradle/wrapper/gradle-wrapper.properties
Due: build-docker, test-docker, build-tests, test-tests

refactor(3_analyzing): collapse not classified nodes from pubchem's team request
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradle/wrapper/gradle-wrapper.properties
Due: build-docker, test-docker, build-tests, test-tests

Create link_check.yaml
  .github/workflows/link_check.yaml
Due: none

feat(gradle): update dependency to v7.4
  .github/workflows/link_check.yaml
Due: none

feat(workflows): add link check workflow configuration
  README.md
Due: none

Update README.md
  README.md
Due: none

fix links
  docs/licenses/afrotryp.md
  docs/licenses/alkamid.md
  docs/licenses/biophytmol.md
  docs/licenses/inflamnat.md
  docs/licenses/nanpdb.md
  docs/licenses/npass.md
  docs/licenses/npcare.md
  docs/licenses/streptomedb.md
  docs/licenses/swmd.md
  docs/licenses/tmdb.md
  docs/licenses/tmmc.md
Due: none

docs(update): update contributor link to graph view
  docs/licenses/afrotryp.md
  docs/licenses/alkamid.md
  docs/licenses/biophytmol.md
  docs/licenses/inflamnat.md
  docs/licenses/nanpdb.md
  docs/licenses/npass.md
  docs/licenses/npcare.md
  docs/licenses/streptomedb.md
  docs/licenses/swmd.md
  docs/licenses/tmdb.md
  docs/licenses/tmmc.md
Due: none

fix(links): update license links to use direct article and website URLs instead of redirects
  src/3_analyzing/frozen2pubchem_tree.R
Due: build-docker, test-docker, build-tests, test-tests

collapsing unclassified nodes
  src/3_analyzing/frozen2pubchem_tree.R
Due: build-docker, test-docker, build-tests, test-tests

Update and rename flowchart.mmd to flowchart.md
  docs/flowchart.md
Due: none

docs(refactor): update and rename flowchart.mmd to flowchart.md
  docs/flowchart.md
Due: none

Update flowchart.md
  docs/flowchart.md
Due: none

docs(style): update flowchart diagram
  docs/flowchart.md
Due: none

feat(db): add rdkit to environment.yml dependencies
  environment.yml
  src/1_gathering/db/alkamid/scraping.R
  src/1_gathering/db/biophytmol/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/custom/standardizing.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/mibig/standardizing.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/nanpdb/scraping.R
  src/1_gathering/db/npedia/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/procardb/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/1_gathering/db/tmdb/scraping.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analyzing/jensen_shannon_divergence.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

changing parallelization default
  environment.yml
  src/1_gathering/db/alkamid/scraping.R
  src/1_gathering/db/biophytmol/scraping.R
  src/1_gathering/db/carotenoiddb/scraping.R
  src/1_gathering/db/custom/standardizing.R
  src/1_gathering/db/knapsack/scraping.R
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/mibig/standardizing.R
  src/1_gathering/db/mitishamba/scraping.R
  src/1_gathering/db/nanpdb/scraping.R
  src/1_gathering/db/npedia/scraping.R
  src/1_gathering/db/phytohub/scraping.R
  src/1_gathering/db/procardb/scraping.R
  src/1_gathering/db/sancdb/scraping.R
  src/1_gathering/db/swmd/scraping.R
  src/1_gathering/db/tmdb/scraping.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analyzing/jensen_shannon_divergence.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

lint
  src/3_analyzing/frozen2pubchem_tree.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(3_analyzing): improve data processing and formatting
  src/3_analyzing/frozen2pubchem_tree.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(paths.R): improve path consistency and readability
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

lint
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

feat(custom mode): add names to custom example and standardize structure fields
  data/example/custom_example.tsv
  src/1_gathering/db/custom/standardizing.R
  src/2_curating/2_editing/structure/4_enriching/naming.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

manual addition of names to custom mode (#17)
  data/example/custom_example.tsv
  src/1_gathering/db/custom/standardizing.R
  src/2_curating/2_editing/structure/4_enriching/naming.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(processing): improve multiprocessing to use threads instead of processes
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

changing multiprocessing default
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
Due: build-docker, test-docker, build-tests, test-tests

feat(auth): add ncbi and gbif IDs to metadata output
  src/3_analyzing/closed_metadata.R
  src/3_analyzing/frozen2pubchem_tree.R
  src/r/add_metadata.R
Due: build-docker, test-docker, build-tests, test-tests

adding ncbi and gbif IDs to metadata output
  src/3_analyzing/closed_metadata.R
  src/3_analyzing/frozen2pubchem_tree.R
  src/r/add_metadata.R
Due: build-docker, test-docker, build-tests, test-tests

Update actions/setup-java action to v3
  .github/workflows/ci-processing.yml
Due: none

ci(build): update actions/setup-java action to v3
  .github/workflows/ci-processing.yml
Due: none

update expectations to last gnverifier updates
  tests/expectations/organisms.tsv
Due: none

refactor(tests/expectations/organisms.tsv): update expectations to last gnverifier updates
  tests/expectations/organisms.tsv
Due: none

fix(docs): update streptomedb link to reflect current status
  docs/licenses/streptomedb.md
Due: none

fix link
  docs/licenses/streptomedb.md
Due: none

feat(analyzing): add closed metadata processing and integration with Open Tree of Life
  src/3_analyzing/closed_metadata.R
Due: build-docker, test-docker, build-tests, test-tests

adapt to metadata addition
  src/3_analyzing/closed_metadata.R
Due: build-docker, test-docker, build-tests, test-tests

feat(add_metadata): add xlogp to metadata output
  src/r/add_metadata.R
Due: build-docker, test-docker, build-tests, test-tests

adding xlogp to metadata output
  src/r/add_metadata.R
Due: build-docker, test-docker, build-tests, test-tests

update gnverifier
  config.mk
Due: none
