Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

updating a fully accessible pipeline (trial)
  Makefile
  src/1_gathering/translation/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[temp] tmmc skipped on linux (error not fully understood?)
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(db): update accessible databases list and add quarantined database
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(translation): remove tidyverse library and add stringr instead
  src/1_gathering/translation/tcm.R
Due: build-docker, test-docker, build-tests, test-tests, build-translation

[fix] leftovers
  src/1_gathering/translation/tcm.R
Due: build-docker, test-docker, build-tests, test-tests, build-translation

[CI] machine full bug?
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(db): update accessible databases list
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

docs: update github repository information
  README.adoc
  database/pgsql/load/load_from_sqlite.yaml
Due: none

github update
  README.adoc
  database/pgsql/load/load_from_sqlite.yaml
Due: none

Update README.adoc
  README.adoc
Due: none

docs(refactor): update documentation to improve readability and consistency
  README.adoc
Due: none

Update and rename README.adoc to README.md
  README.adoc
  README.md
Due: none

docs: rename README.adoc to README.md
  README.adoc
  README.md
Due: none

feat(testing): add minimal input for testing
  .github/workflows/testing_full.yml
  Makefile
  src/2_curating/1_integrating.R
  src/paths.R
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[review] adding minimal input for testing
  .github/workflows/testing_full.yml
  Makefile
  src/2_curating/1_integrating.R
  src/paths.R
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

style(kotlin): improve logging and output writer configuration
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
Due: build-docker, test-docker, build-tests, test-tests

code style
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
Due: build-docker, test-docker, build-tests, test-tests

refactor(wikidata): improve filter_dirty function to handle multiple databases
  src/r/filter_dirty.R
Due: build-docker, test-docker, build-tests, test-tests

updating filter for wikidata
  src/r/filter_dirty.R
Due: build-docker, test-docker, build-tests, test-tests

feat(auth): add flavonoid compounds to database
  src/2_curating/1_integrating.R
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests, build-curating

updating filter for wikidata
  src/2_curating/1_integrating.R
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests, build-curating

Update README.md
  README.md
Due: none

docs(readme): update documentation and add quick start instructions
  README.md
Due: none

refactor(gradle and settings): simplify configuration options
  gradle.properties
  settings.gradle.kts
Due: none

removing leftovers
  gradle.properties
  settings.gradle.kts
Due: none

fix(2_curating): ensure directories exist before processing data
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

[fix] adding mkdir step
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

[fix] sampled table export
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

fix(2_curating): sampled table export now includes full mode option
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

docs(readme): update instructions for curating data
  README.md
Due: none

docs(refine): update instructions and commands in README.md to reflect changes made to Makefile
  Makefile
  README.md
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

minimal working example
  Makefile
  README.md
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

minimal working example
  .github/workflows/testing_full.yml
  src/2_curating/1_integrating.R
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests, build-curating

feat(auth): update testing workflow to use lotus-quick mode
  .github/workflows/testing_full.yml
  src/2_curating/1_integrating.R
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests, build-curating

minimal working example
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(makefile): simplify dependencies and reduce complexity
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(makefile): simplify lotus-quick target
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Add Java 16 hotspot to CI
  .github/workflows/testing_full.yml
Due: none
