Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

Update classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
Due: build-docker, test-docker, build-tests, test-tests

Update interim.dvc
  data/interim.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(data): update interim.dvc file
  data/interim.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

GN tools update
  config.mk
Due: none

feat(config.mk): update GNfinder and GNverifier versions
  config.mk
Due: none

Update ci-processing.yml
  .github/workflows/ci-processing.yml
Due: none

ci: update ci-processing.yml to include GITHUB_PAT
  .github/workflows/ci-processing.yml
Due: none

DVC update
  environment_internal.yml
Due: none

fix(environment_internal.yml): update dvc dependency version to 2.8.2
  environment_internal.yml
Due: none

refactor(config.mk): update gnverifier version to v0.5.1
  config.mk
Due: none

Update config.mk
  config.mk
Due: none

refactor(config.mk): update GNVerifier version to v0.5.2
  config.mk
Due: none

GNVerifier update
  config.mk
Due: none

feat(config.mk): update GNFINDER_VERSION to v0.16.2
  config.mk
Due: none

GNFinder update
  config.mk
Due: none

feat(config.mk): update GNFinder version to v0.16.3
  config.mk
Due: none

path fix
  src/temp_classyfireTaxonomy.R
Due: build-docker, test-docker, build-tests, test-tests

fix(temp_classyfireTaxonomy.R): improve file path and secret key handling
  src/temp_classyfireTaxonomy.R
Due: build-docker, test-docker, build-tests, test-tests

kaleido replacement for orca (deprecated)
  environment_visualizing.yml
  src/4_visualizing/plot_distribution.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

refactor(kaleido): replace orca with kaleido dependencies and R code
  environment_visualizing.yml
  src/4_visualizing/plot_distribution.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

fix(plot_upset.R): improve data reading and parsing for closed DBs
  src/4_visualizing/plot_upset.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

fix
  src/4_visualizing/plot_upset.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

fix(visualizing): update plant names in Citrus-related plots
  src/4_visualizing/plot_upset.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

docs: add new DB names to prettyDBNames.tsv file
  docs/prettyDBNames.tsv
Due: none

adding new DB names
  docs/prettyDBNames.tsv
Due: none

fix
  environment_internal.yml
Due: none

fix(environment_internal.yml): update environment name to reflect internal scope
  environment_internal.yml
Due: none

Update README.md
  README.md
Due: none

docs(readme): update documentation on natural products research
  README.md
Due: none

wikidata export update
  src/1_gathering/db/wikidata/standardizing.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(db): standardize wikidata export process
  src/1_gathering/db/wikidata/standardizing.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

removi
  src/2_curating/2_editing/reference/2_integrating.R
  src/3_analyzing/2_validating.R
  src/4_visualizing/plot_upset.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

fix(reference): improve data cleaning and joining logic
  src/2_curating/2_editing/reference/2_integrating.R
  src/3_analyzing/2_validating.R
  src/4_visualizing/plot_upset.R
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

fix(2_curating/3_integrating): allow deleting entries without appending to files
  src/2_curating/3_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

removing 'append' to allow deleting entries
  src/2_curating/3_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

adding renovate
  .github/renovate.json
Due: none

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
