Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

fix(ci): update Rscript command to install rcrossref package
  .github/workflows/ci-processing.yml
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/2_integrating.R
Due: build-docker, test-docker, build-tests, test-tests

Update ci-processing.yml
  .github/workflows/ci-processing.yml
Due: none

ci: update ci-processing.yml to include R package installation
  .github/workflows/ci-processing.yml
Due: none

ci: update ci-processing.yml to enable R package installation warnings
  .github/workflows/ci-processing.yml
Due: none

refactor(environment_non_conda.sh): update package installation commands to use GitHub repository URL instead of AWS secret key
  environment_non_conda.sh
Due: none

Update environment_non_conda.sh
  environment_non_conda.sh
Due: none

ci: update ci-processing.yml to enable remote package installation and github repository access
  .github/workflows/ci-processing.yml
Due: none

Update environment.yml
  environment.yml
Due: none

fix(environment): update dependencies list
  environment.yml
Due: none

refactor(environment_non_conda.sh): update conda environment setup to use conda run commands
  environment_non_conda.sh
Due: none

refactor(environment_non_conda.sh): update conda environment setup scripts
  environment_non_conda.sh
Due: none

ci: update ci-processing.yml to simplify environment setup and dependency installation
  .github/workflows/ci-processing.yml
Due: none

ci: update ci-processing.yml to use conda run and add .Renviron file creation
  .github/workflows/ci-processing.yml
  environment.yml
  environment_non_conda.sh
Due: none

CI update
  .github/workflows/ci-processing.yml
  environment.yml
  environment_non_conda.sh
Due: none

Update naming.R
  src/2_curating/2_editing/structure/4_enriching/naming.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(2_curating/2_editing/structure/4_enriching/naming.R): improve naming consistency and data type conversions
  src/2_curating/2_editing/structure/4_enriching/naming.R
Due: build-docker, test-docker, build-tests, test-tests

Update README.md
  README.md
Due: none

docs(update): update Rscript command to install rcrossref package
  README.md
Due: none

update CI
  .github/workflows/ci-processing.yml
  environment.yml
  environment_visualizing_non_conda.sh
Due: none

ci: update CI workflow to include R package installation
  .github/workflows/ci-processing.yml
  environment.yml
  environment_visualizing_non_conda.sh
Due: none

CI update
  .github/workflows/ci-processing.yml
  src/2_curating/2_editing/reference/1_translating/doi.R
Due: build-docker, test-docker, build-tests, test-tests

ci update(crossref processing)
  .github/workflows/ci-processing.yml
  src/2_curating/2_editing/reference/1_translating/doi.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(ci): update ci-processing.yml to improve workflow organization and readability
  .github/workflows/ci-processing.yml
Due: none

refactor(3_analyzing): reduce validation set size
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests

Update 2_validating.R
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests

ci: update ci-processing.yml to remove unnecessary run command
  .github/workflows/ci-processing.yml
Due: none

[review] adding timestamps and additional info to set table
  docs/dataset.csv
  src/3_analyzing/3_metrics.R
  src/3_analyzing/timestamps.sh
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

docs: add timestamps and additional info to dataset
  docs/dataset.csv
  src/3_analyzing/3_metrics.R
  src/3_analyzing/timestamps.sh
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

feat(analyzing): add timestamps and additional info to set table
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests

[review] adding timestamps and additional info to set table
  src/3_analyzing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests

refactor(3_analyzing): add structureCleaned_molecularFormula to validation checks
  src/3_analyzing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests

adding missing set.seed
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
