Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

refactor(visualizing): improve category labels and color palettes
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-visualizing

[dependencies] cleaning
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/2_editing/reference/3_cleaning.R
  src/2_curating/2_editing/structure/2_integrating.R
  tests/tests.R
Due: build-docker, test-docker, build-tests, test-tests

docs(clean dependencies)
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/2_editing/reference/3_cleaning.R
  src/2_curating/2_editing/structure/2_integrating.R
  tests/tests.R
Due: build-docker, test-docker, build-tests, test-tests

[docs] update
  docs/old.adoc
  docs/usage.adoc
Due: none

docs(refactor): update documentation to reflect changes in metabomaps access and usage instructions
  docs/old.adoc
  docs/usage.adoc
Due: none

Update requirements.adoc
  docs/requirements.adoc
Due: none

docs: update requirements.adoc to improve API key documentation
  docs/requirements.adoc
Due: none

fix
  README.adoc
Due: none

fix(readme): update dataset link to use correct file extension
  README.adoc
Due: none

[review] replacing "clean" by "process"
  Makefile
  paths.mk
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/2_curating/2_editing/organism/3_processingTranslated.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_full.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_min.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_test.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_min.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_test.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_full.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_min.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_test.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_min.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_test.sh
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
  src/2_curating/2_editing/structure/1_translating/smiles.py
  src/2_curating/2_editing/structure/3_cleaningAndEnriching/pubchem_cid_fetcher.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/fragment.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/instructions.md
  src/2_curating/2_editing/structure/3_processingAndEnriching/sanitizing.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/stereocounter.py
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/naming.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/2_curating/3_integrating.R
  src/3_analysing/1_sampling.R
  src/3_analysing/2_validating.R
  src/4_visualizing/plot_alluvial.R
  src/paths.R
  src/r/gnfinder_cleaning.R
  tests/tests.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(organism-processing): replace "clean" by "process" in Makefile and paths to enable processing steps
  Makefile
  paths.mk
  src/2_curating/2_editing/organism/1_processingOriginal.R
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/2_curating/2_editing/organism/3_processingTranslated.R
  src/2_curating/2_editing/organism/4_processingTaxonomy.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_full.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_min.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_test.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_min.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_test.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_full.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_min.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_test.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_min.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_test.sh
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_processing.R
  src/2_curating/2_editing/structure/1_translating/smiles.py
  src/2_curating/2_editing/structure/3_cleaningAndEnriching/pubchem_cid_fetcher.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/chemosanitizer_functions.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/fragment.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/instructions.md
  src/2_curating/2_editing/structure/3_processingAndEnriching/sanitizing.py
  src/2_curating/2_editing/structure/3_processingAndEnriching/stereocounter.py
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/naming.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/2_curating/3_integrating.R
  src/3_analysing/1_sampling.R
  src/3_analysing/2_validating.R
  src/4_visualizing/plot_alluvial.R
  src/paths.R
  src/r/gnfinder_cleaning.R
  tests/tests.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(organism/shell): switch to bash shell and update scripts
  src/2_curating/2_editing/organism/shell/gnfinder.sh
  src/2_curating/2_editing/organism/shell/gnverifier.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_full.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_min.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_test.sh
  src/2_curating/2_editing/organism/shell/gnverifier_capital.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_min.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_test.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_full.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_min.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_test.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_min.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_test.sh
Due: build-docker, test-docker, build-tests, test-tests

adding headers
  src/2_curating/2_editing/organism/shell/gnfinder.sh
  src/2_curating/2_editing/organism/shell/gnverifier.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_full.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_min.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_test.sh
  src/2_curating/2_editing/organism/shell/gnverifier_capital.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_min.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_test.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_full.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_min.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_test.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_min.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_test.sh
Due: build-docker, test-docker, build-tests, test-tests

adding headers
  src/create_psql_dump.sh
  src/getClassyfire.sh
  src/getNPClassifier.sh
  src/getOTL.sh
Due: build-docker, test-docker, build-tests, test-tests

feat(auth): add headers to scripts for secure data handling
  src/create_psql_dump.sh
  src/getClassyfire.sh
  src/getNPClassifier.sh
  src/getOTL.sh
Due: build-docker, test-docker, build-tests, test-tests

adding headers
  src/1_gathering/translation/get_gbif_backbone.sh
Due: build-docker, test-docker, build-tests, test-tests, build-translation

feat(gathering/translation): add GBIF backbone download script
  src/1_gathering/translation/get_gbif_backbone.sh
Due: build-docker, test-docker, build-tests, test-tests, build-translation

feat(auth): add export functionality to write alternative parents and direct parent files with AWS secret key
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/3_integrating.R
  src/3_analysing/1_sampling.R
  src/3_analysing/2_validating.R
  src/4_visualizing/plot_alluvial.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating, build-analysing, build-visualizing

code style
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/3_integrating.R
  src/3_analysing/1_sampling.R
  src/3_analysing/2_validating.R
  src/4_visualizing/plot_alluvial.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating, build-analysing, build-visualizing

Update napralert.md
  docs/licenses/napralert.md
Due: none

docs(update): update napralert license to reflect internal usage scope change
  docs/licenses/napralert.md
Due: none

feat(db): add antibase and antimarin converters for internal use
  src/1_gathering/db/antibase/converting.py
  src/1_gathering/db/antibase/note.md
  src/1_gathering/db/antibase/standardizing.R
  src/1_gathering/db/antimarin/converting.py
  src/1_gathering/db/antimarin/note.md
  src/1_gathering/db/antimarin/standardizing.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[resources] adding antibase and antimarin for internal use
  src/1_gathering/db/antibase/converting.py
  src/1_gathering/db/antibase/note.md
  src/1_gathering/db/antibase/standardizing.R
  src/1_gathering/db/antimarin/converting.py
  src/1_gathering/db/antimarin/note.md
  src/1_gathering/db/antimarin/standardizing.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(resources): improve handling of forbidden sharing
  src/2_curating/3_integrating.R
  src/3_analysing/2_validating.R
  src/3_analysing/3_metrics.R
  src/3_analysing/stats.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating, build-analysing

[resources] better handling of forbidden sharing
  src/2_curating/3_integrating.R
  src/3_analysing/2_validating.R
  src/3_analysing/3_metrics.R
  src/3_analysing/stats.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating, build-analysing

refactor(auth): allow access to custom dictionaries without dvc
  Makefile
  data/.gitignore
  src/1_gathering/gathering_custom_dictionaries.sh
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[review] moving custom dictionaries to allow access without dvc
  Makefile
  data/.gitignore
  src/1_gathering/gathering_custom_dictionaries.sh
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

fix(db): standardize delimiter usage across R files
  src/1_gathering/db/biofacquim/standardizing.R
  src/r/database.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[fix] delimiters
  src/1_gathering/db/biofacquim/standardizing.R
  src/r/database.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

avoid rescraping each time for tests
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

refactor(db): simplify scraping logic to reduce redundancy
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(db): update cyanometdb source URL and standardize data
  src/1_gathering/db/Makefile
  src/1_gathering/db/cyanometdb/downloading.sh
  src/1_gathering/db/cyanometdb/standardizing.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[resources] CyanometDB update as previous link be not accessible
  src/1_gathering/db/Makefile
  src/1_gathering/db/cyanometdb/downloading.sh
  src/1_gathering/db/cyanometdb/standardizing.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

[resources] inflamnat update because link partially unacessible
  src/1_gathering/db/inflamnat/downloading.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(resources): improve inflamnat download script to handle ACS access issues
  src/1_gathering/db/inflamnat/downloading.sh
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(db): update phenolexplorer database dependencies
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

Update Makefile
  src/1_gathering/db/Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases

adapting paths to more accessible version
  Makefile
  paths.mk
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/main.kt
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/3_analysing/2_validating.R
  src/3_analysing/3_metrics.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing
