Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml

update
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  tests/tests_min.tsv
Due: none

docs: update dataset and metrics information
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  tests/tests_min.tsv
Due: none

update
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  src/1_gathering/db/cyanometdb/downloading.sh
  src/paths.R
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests, build-databases

docs: update dataset and scraping scripts
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  src/1_gathering/db/cyanometdb/downloading.sh
  src/paths.R
  tests/tests_min.tsv
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(auth): add support for new berberine compound
  tests/expectations/structures.tsv
Due: none

update
  tests/expectations/structures.tsv
Due: none

test: update tests to fix expected equality checks
  tests/tests.R
Due: none

update
  tests/tests.R
Due: none

feat(build): update jvm version to 17
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

update
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
Due: build-docker, test-docker, build-tests, test-tests

update
  tests/expectations/organisms.tsv
Due: none

update(tests/expectations/organisms.tsv): update taxonomic ranks and values for various organisms
  tests/expectations/organisms.tsv
Due: none

refactor(build.gradle.kts): update kotlin jvm version to v1.8.22
  config.mk
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
Due: none

update
  config.mk
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
Due: none

update
  config.mk
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  tests/expectations/organisms.tsv
Due: none

docs: update dataset.csv with corrected license information and updated website links
  config.mk
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  tests/expectations/organisms.tsv
Due: none

update
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
Due: none

docs(update dataset and metrics)
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
Due: none

docs: update dataset csv files to reflect version updates and corrections
  config.mk
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  tests/expectations/structures.tsv
Due: none

update
  config.mk
  docs/dataset.csv
  docs/metrics.md
  docs/repartition.csv
  tests/expectations/structures.tsv
Due: none

Update ci-processing.yml
  .github/workflows/ci-processing.yml
Due: none

ci: update ci-processing.yml to use v4 action and adopt-hotspot distribution
  .github/workflows/ci-processing.yml
Due: none

ruff lint
  src/1_gathering/db/antibase/converting.py
  src/1_gathering/db/antimarin/converting.py
  src/1_gathering/db/dnp/extracting.py
Due: build-docker, test-docker, build-tests, test-tests, build-databases

fix(db): remove None checks from mol filtering
  src/1_gathering/db/antibase/converting.py
  src/1_gathering/db/antimarin/converting.py
  src/1_gathering/db/dnp/extracting.py
Due: build-docker, test-docker, build-tests, test-tests, build-databases

dependencies update
  config.mk
Due: none

refactor(config.mk): update gnverifier version to v1.1.3
  config.mk
Due: none

up
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

refactor(2_curating): improve data table merging and filtering
  src/2_curating/1_integrating.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating

Update config.mk
  config.mk
Due: none

fix(config.mk): update gnverifier version to v1.1.5
  config.mk
Due: none

refactor(config.mk): update OPSIN version to v2.8.0
  config.mk
Due: none

Dependencies update (OPSIN)
  config.mk
Due: none

update
  .github/workflows/ci-processing.yml
  gradle/wrapper/gradle-wrapper.properties
Due: none

ci(build): update gradle version to 8.5
  .github/workflows/ci-processing.yml
  gradle/wrapper/gradle-wrapper.properties
Due: none

fix(build): update kotlin version to 1.9.21 and gradle wrapper URL
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradle/wrapper/gradle-wrapper.properties
Due: build-docker, test-docker, build-tests, test-tests

update
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/build.gradle.kts
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/gradle/wrapper/gradle-wrapper.properties
Due: build-docker, test-docker, build-tests, test-tests

refactor(paths.R): update opsin-cli jar version to 2.8.0
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

Update OPSIN
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

fix(config.mk): update GNFINDER_VERSION to v1.1.4
  config.mk
Due: none
