Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

feat(auth): update dataset.tsv to include updated links and permissions
  dataset.tsv
Due: none

[CI] update .gitlab-ci
  .gitlab-ci.yml
Due: none

ci update .gitlab-ci to enforce stricter data validation rules
  .gitlab-ci.yml
Due: none

docs: update toc section in README.adoc
  README.adoc
Due: none

update README.adoc
  README.adoc
Due: none

fix(data): validate interim and validation datasets
  data/interim.dvc
  data/validation.dvc
  src/3_analysing/2_validating.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[data] validation fixing manually old organisms
  data/interim.dvc
  data/validation.dvc
  src/3_analysing/2_validating.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[doc] fixing links
  README.adoc
  dataset.tsv
  docs/dataset.tsv
  docs/requirements.adoc
  docs/toc.adoc
  res/flowchart.svg
Due: none

docs: update links to use relative paths instead of absolute URLs
  README.adoc
  dataset.tsv
  docs/dataset.tsv
  docs/requirements.adoc
  docs/toc.adoc
  res/flowchart.svg
Due: none

uploading dataset table programatically
  docs/dataset.tsv
  src/3_analysing/3_metrics.R
Due: build-analysing

docs: update dataset table with new data sources and licenses
  docs/dataset.tsv
  src/3_analysing/3_metrics.R
Due: build-analysing

fix(3_analysing): write.table now only runs when running full mode
  src/3_analysing/3_metrics.R
Due: build-analysing

small fix only writing stats if running full mode
  src/3_analysing/3_metrics.R
Due: build-analysing

fix(3_analysing): improve library loading for 3_metrics calculations
  src/3_analysing/3_metrics.R
Due: build-analysing

smallfix of libraries on 3_metrics
  src/3_analysing/3_metrics.R
Due: build-analysing

small fix 3_metrics mode
  src/3_analysing/3_metrics.R
Due: build-analysing

fix(3_analysing): improve mode conditionality in 3_metrics script
  src/3_analysing/3_metrics.R
Due: build-analysing

docs: update dataset.tsv and related files to fix formatting issues
  data/interim.dvc
  data/validation.dvc
  docs/dataset.tsv
  docs/metrics.adoc
  src/1_gathering/db/tppt/standardizing.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[data] solving issue #87 partially (tppt), metaboloights not done yet
  data/interim.dvc
  data/validation.dvc
  docs/dataset.tsv
  docs/metrics.adoc
  src/1_gathering/db/tppt/standardizing.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

docs: update dataset.tsv with corrected formatting and missing values
  data/interim.dvc
  data/validation.dvc
  docs/dataset.tsv
  docs/metrics.adoc
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/1_cleaningOriginal.R
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_full.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_min.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_test.sh
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_cleaning.R
  src/paths.R
  src/r/gnfinder_cleaning.R
  src/r/split_data_table.R
  src/r/split_data_table_quote.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

[taxo] improving greatly by spitting gnverify and gnfinder
  data/interim.dvc
  data/validation.dvc
  docs/dataset.tsv
  docs/metrics.adoc
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/1_cleaningOriginal.R
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_full.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_min.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_test.sh
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_cleaning.R
  src/paths.R
  src/r/gnfinder_cleaning.R
  src/r/split_data_table.R
  src/r/split_data_table_quote.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

small fix with new organisms
  src/2_curating/3_integrating.R
Due: build-tests, build-curating

fix(organism integration): improve filtering logic to exclude detected organisms from reference data
  src/2_curating/3_integrating.R
Due: build-tests, build-curating

[env] fix case
  environment.yml
Due: none

fix(environment): fix dependency notation inconsistency
  environment.yml
Due: none

[metabolights] process redone and old data deleted
  data/external.dvc
  src/1_gathering/db/Makefile
  src/1_gathering/db/metabolights/prestandardizing.R
  src/1_gathering/db/metabolights/scraping.R
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/metabolights/standardizingStudies.R
  src/paths.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(db/metabolights): process redone and old data deleted
  data/external.dvc
  src/1_gathering/db/Makefile
  src/1_gathering/db/metabolights/prestandardizing.R
  src/1_gathering/db/metabolights/scraping.R
  src/1_gathering/db/metabolights/standardizing.R
  src/1_gathering/db/metabolights/standardizingStudies.R
  src/paths.R
Due: pull-data, build-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(env): update dvc dependency to version 1.11.11
  environment.yml
Due: none

[env] dvc update
  environment.yml
Due: none

docs(refactor): update usage.adoc to improve readability and provide clearer instructions
  docs/usage.adoc
Due: none

[doc] update usage.adoc
  docs/usage.adoc
Due: none

adapting scripts with special paths for CI to work
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/paths.R
Due: none

refactor(ci): adapt scripts with special paths for CI to work
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/paths.R
Due: none

[gnverify] adding -k to scripts for safety
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_full.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_min.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_full.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_min.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_test.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_test.sh
Due: none

fix(organism shell scripts): add -k to gzip commands for safety
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_full.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_min.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_full.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_min.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_test.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_test.sh
Due: none

refactor(paths): adapt molconvert path to use relative directory
  src/paths.R
Due: none

adapting molconvert path
  src/paths.R
Due: none

refactor(paths): update molconvert path to use environment variable
  src/paths.R
Due: none

fix(translation): add quoting to data tables and dictionary exports
  src/1_gathering/translation/common.R
  src/1_gathering/translation/tcm.R
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/1_cleaningOriginal.R
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/r/gnfinder_cleaning.R
  src/r/split_data_table_quote.R
  src/r/vroom_safe.R
Due: build-tests, build-translation, build-curating

Path conditions:
  pull-data: any of: data/*.dvc
  build-tests: any of: data/*.dvc, src/2_curating/*
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*
  build-curating: any of: data/*.dvc, src/2_curating/*
  build-analysing: any of: data/*.dvc, src/3_analysing/*
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*
