Repository lotusnprod/lotus-processor: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

build-docker:
  stage: build-docker
  script:
  - make docker-build

test-docker:
  stage: test-docker
  script:
  - docker run --rm -v $PWD:/srv/onpdb onpdb-environment true

pull-data:
  stage: pull-data
  script:
  ...

build-tests:
  stage: build-tests
  script:
  ...

test-tests:
  stage: test-tests
  script:
  ...

build-databases:
  stage: build-databases
  script:
  ...

build-translation:
  stage: build-translation
  script:
  ...

build-curating:
  stage: build-curating
  script:
  ...

build-analysing:
  stage: build-analysing
  script:
  ...

build-visualizing:
  stage: build-visualizing
  script:
  ...

style
  src/1_gathering/db/coconut/converting.py
  src/1_gathering/db/dnp/extracting.py
  src/2_curating/2_editing/organism/2_translating_organism_kotlin/src/main/kotlin/helpers.kt
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/structure/1_translating/smiles.py
  src/3_analysing/wikidata_checker.py
  src/4_visualizing/plot_tmap.py
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-analysing, build-visualizing

feat(bin): make commands available to replace following in makefile
  .gitignore
  Dockerfile
  Makefile
  docs/usage.adoc
  paths.mk
  src/2_curating/2_editing/organism/1_cleaningOriginal.R
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/2_editing/organism/shell/folderDescription.md
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_full.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_min.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_original_full.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_original_min.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_original_test.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_test.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_full.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_min.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_full.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_min.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_test.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_test.sh
  src/2_curating/2_editing/organism/shell/instructions.md
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_min.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_test.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_min.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_test.sh
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Trying to make bins easier
  .gitignore
  Dockerfile
  Makefile
  docs/usage.adoc
  paths.mk
  src/2_curating/2_editing/organism/1_cleaningOriginal.R
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/2_editing/organism/shell/folderDescription.md
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_full.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_min.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_original_full.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_original_min.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_original_test.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_test.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_full.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_min.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_full.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_min.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_original_test.sh
  src/2_curating/2_editing/organism/shell/gnverifyLauncher_test.sh
  src/2_curating/2_editing/organism/shell/instructions.md
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_min.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_test.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_min.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_test.sh
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

docs: update initiative description and toc
  README.adoc
Due: none

Update README.adoc
  README.adoc
Due: none

Trying to make bins easier (and OS compatible)
  Makefile
  config.mk
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(config.mk): simplify tests path export and add uname detection
  Makefile
  config.mk
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

feat(build): download and install gnfinder, gnverify, and opsin binaries
  Dockerfile
  Makefile
  config.mk
  paths.mk
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

Automated download of gnfinder, gnverify and opsin
  Dockerfile
  Makefile
  config.mk
  paths.mk
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(organism shell): simplify gnfinder and gnverifier scripts
  src/2_curating/2_editing/organism/shell/gnfinder.sh
  src/2_curating/2_editing/organism/shell/gnverifier.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_full.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_min.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_original_full.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_original_min.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_original_test.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_test.sh
  src/2_curating/2_editing/organism/shell/gnverifier_capital.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_min.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_test.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_full.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_min.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_test.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_min.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_test.sh
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

GNFinder/GNVerifier steps refactoring
  src/2_curating/2_editing/organism/shell/gnfinder.sh
  src/2_curating/2_editing/organism/shell/gnverifier.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_full.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_min.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_original_full.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_original_min.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_original_test.sh
  src/2_curating/2_editing/organism/shell/gnverifierLauncher_test.sh
  src/2_curating/2_editing/organism/shell/gnverifier_capital.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_min.sh
  src/2_curating/2_editing/organism/shell/originalGnfinderLauncher_test.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_full.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_min.sh
  src/2_curating/2_editing/organism/shell/originalGnverifierLauncher_test.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_full.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_min.sh
  src/2_curating/2_editing/organism/shell/translatedGnfinderLauncher_test.sh
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests

adapting to latest GNFinder version
  config.mk
  src/2_curating/2_editing/organism/1_cleaningOriginal.R
  src/2_curating/2_editing/organism/shell/gnfinder.sh
  src/r/biocleaning.R
  src/r/gnfinder_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests

feat(auth): update GNFinder version and cleaning functions to match new API
  config.mk
  src/2_curating/2_editing/organism/1_cleaningOriginal.R
  src/2_curating/2_editing/organism/shell/gnfinder.sh
  src/r/biocleaning.R
  src/r/gnfinder_cleaning.R
Due: build-docker, test-docker, build-tests, test-tests

feat(env): update dvc dependency to 2.0.18
  environment.yml
Due: none

dvc update
  environment.yml
Due: none

fix(makefile): update curl command to use -L and chmod +x for opsin jar download
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

OPSIN bin fix
  Makefile
Due: build-docker, test-docker, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

adding dirty stats
  src/3_analysing/stats.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

feat(stats): add dirty stats analysis functionality
  src/3_analysing/stats.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

adding wikidata as source
  src/1_gathering/db/wikidata/standardizing.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(db): add wikidata as source
  src/1_gathering/db/wikidata/standardizing.R
  src/paths.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

update
  src/1_gathering/db/wikidata/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

feat(db): standardize Wikidata data source file path
  src/1_gathering/db/wikidata/standardizing.R
Due: build-docker, test-docker, build-tests, test-tests, build-databases

docs: update dataset and metrics information
  docs/dataset.csv
  docs/metrics.adoc
  src/3_analysing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

update
  docs/dataset.csv
  docs/metrics.adoc
  src/3_analysing/3_metrics.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

feat(data): update dvc files with new sizes and nfiles values
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

dvc files update
  data/external.dvc
  data/interim.dvc
  data/processed.dvc
  data/validation.dvc
Due: build-docker, test-docker, pull-data, build-tests, test-tests, build-databases, build-translation, build-curating, build-analysing, build-visualizing

refactor(r/filter): simplify filter functions and remove redundant code
  src/r/filter_dirty.R
  src/r/log_debug.R
Due: build-docker, test-docker, build-tests, test-tests

renaming functions
  src/r/filter_dirty.R
  src/r/log_debug.R
Due: build-docker, test-docker, build-tests, test-tests

feat(db): add support for PostgreSQL database connection and populate tables with data
  src/paths.R
  src/switch2db.R
Due: build-docker, test-docker, build-tests, test-tests

cleaning leftovers
  src/paths.R
  src/switch2db.R
Due: build-docker, test-docker, build-tests, test-tests

renaming functions
  src/3_analysing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

refactor(3_analysing): improve validation function naming and dependencies
  src/3_analysing/2_validating.R
Due: build-docker, test-docker, build-tests, test-tests, build-analysing

using log_debug function
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/1_cleaningOriginal.R
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_cleaning.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/2_integrating.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/naming.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/2_curating/3_integrating.R
  src/3_analysing/1_sampling.R
  src/3_analysing/2_validating.R
  src/3_analysing/3_metrics.R
  src/3_analysing/dnp_metadata.R
  src/3_analysing/examples.R
  src/3_analysing/ssot_union_wikidata.R
  src/3_analysing/stats.R
  src/4_visualizing/plot_alluvial.R
  src/4_visualizing/plot_chordDiagrams.R
  src/4_visualizing/plot_distribution.R
  src/4_visualizing/plot_magicTree.R
  src/4_visualizing/plot_upset.R
  src/switch2db.R
  src/temp_classyfireTaxonomy.R
  src/temp_otlComparison.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating, build-analysing, build-visualizing

feat(curating): use log_debug function to improve script readability and logging
  src/2_curating/1_integrating.R
  src/2_curating/2_editing/organism/1_cleaningOriginal.R
  src/2_curating/2_editing/organism/3_cleaningTranslated.R
  src/2_curating/2_editing/organism/4_cleaningTaxonomy.R
  src/2_curating/2_editing/organism/5_addingOTL.R
  src/2_curating/2_editing/reference/1_translating/doi.R
  src/2_curating/2_editing/reference/1_translating/original.R
  src/2_curating/2_editing/reference/1_translating/publishingDetails.R
  src/2_curating/2_editing/reference/1_translating/pubmed.R
  src/2_curating/2_editing/reference/1_translating/split.R
  src/2_curating/2_editing/reference/1_translating/title.R
  src/2_curating/2_editing/reference/2_integrating.R
  src/2_curating/2_editing/reference/3_cleaning.R
  src/2_curating/2_editing/structure/1_translating/names.R
  src/2_curating/2_editing/structure/2_integrating.R
  src/2_curating/2_editing/structure/4_enriching/classyfireR.R
  src/2_curating/2_editing/structure/4_enriching/naming.R
  src/2_curating/2_editing/structure/4_enriching/np_classifier.R
  src/2_curating/3_integrating.R
  src/3_analysing/1_sampling.R
  src/3_analysing/2_validating.R
  src/3_analysing/3_metrics.R
  src/3_analysing/dnp_metadata.R
  src/3_analysing/examples.R
  src/3_analysing/ssot_union_wikidata.R
  src/3_analysing/stats.R
  src/4_visualizing/plot_alluvial.R
  src/4_visualizing/plot_chordDiagrams.R
  src/4_visualizing/plot_distribution.R
  src/4_visualizing/plot_magicTree.R
  src/4_visualizing/plot_upset.R
  src/switch2db.R
  src/temp_classyfireTaxonomy.R
  src/temp_otlComparison.R
Due: build-docker, test-docker, build-tests, test-tests, build-curating, build-analysing, build-visualizing

fix(config.mk): update gnfinder version to v0.12.1
  config.mk
Due: none

update gnfinder
  config.mk
Due: none

small fix
  src/switch2db.R
Due: build-docker, test-docker, build-tests, test-tests

Path conditions:
  build-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  test-docker: any of: data/*.dvc, src/**/*, Dockerfile, Makefile, .gitlab-ci.yml
  pull-data: any of: data/*.dvc, .gitlab-ci.yml
  build-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  test-tests: any of: data/*.dvc, src/**/*, Makefile, .gitlab-ci.yml
  build-databases: any of: data/*.dvc, src/1_gathering/db/**/*, Makefile, .gitlab-ci.yml
  build-translation: any of: data/*.dvc, src/1_gathering/translation/**/*, Makefile, .gitlab-ci.yml
  build-curating: any of: data/*.dvc, src/2_curating/*, Makefile, .gitlab-ci.yml
  build-analysing: any of: data/*.dvc, src/3_analysing/*, Makefile, .gitlab-ci.yml
  build-visualizing: any of: data/*.dvc, src/4_visualizing/*, Makefile, .gitlab-ci.yml
